Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Update application/binary/tauri/src-tauri/Cargo.toml
  application/binary/tauri/src-tauri/Cargo.toml
Labels: none

Apply suggestions from code review
  application/binary/tauri/.gitignore
  application/binary/tauri/src-tauri/tauri.conf.json
  application/binary/tauri/vite.config.ts
Labels: none

Address PR comment
  application/binary/tauri/src-tauri/Cargo.lock
  application/binary/tauri/src-tauri/Cargo.toml
  application/binary/tauri/src-tauri/tauri.conf.json
Labels: none

fix(pyproject): revert OpenVINO and backend changes, keep only pandas <3.0.0 pin
  application/backend/pyproject.toml
  application/backend/uv.lock
  pyproject.toml
Labels: Setup

Add reusable docker images build workflow
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

Call reusable docker images build workflow from PR workflow
  .github/workflows/pr.yaml
Labels: CI

Fix gpu image target name
  application/docker/Dockerfile
Labels: none

Update .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

Update .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

PR comments + linting
  application/binary/README.md
  application/binary/sidecar/hooks/windows/proxy.py
  application/binary/tauri/src-tauri/capabilities/default.json
  application/binary/tauri/src-tauri/tauri.conf.json
  application/ui/src/features/inspect/dataset/download-dataset-item/utils.ts
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
  application/ui/src/features/inspect/utils.ts
Labels: none

Check changes in pr.yaml before calling build images
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/pr.yaml
Labels: CI

update category
  src/anomalib/data/datasets/image/kaputt.py
  uv.lock
Labels: none

selectable training accelerator
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/repositories/mappers/pipeline_mapper.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/utils/device-metadata.test.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

Fix pr.yaml typo
  .github/workflows/pr.yaml
Labels: CI

Small fixes
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/pr.yaml
Labels: CI

refactor(kaputt): streamline dataset path handling and improve clarity
  src/anomalib/data/datasets/image/kaputt.py
Labels: none

fix(pyproject): Pin pandas <3.0.0 to prevent enum comparison issues (#3356)
  pyproject.toml
Labels: Setup

fix stream
  application/ui/src/components/stream/stream-connection-provider.tsx
Labels: none

fix lock files
  application/backend/uv.lock
  uv.lock
Labels: none

fix(ci): update lock files (#3364)
  application/backend/uv.lock
  uv.lock
Labels: none

Do not upload image as artifact
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

fix(model): cast CFA memory bank to float32 after KMeans clustering
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

Fix docstring for reverse distillation
  src/anomalib/models/image/reverse_distillation/lightning_model.py
Labels: none

Fix comments
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

PR comments
  src/anomalib/data/datasets/image/kaputt.py
  tests/helpers/data.py
Labels: Tests

Add more tests
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Tests

prek
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Tests

prek
  examples/configs/data/kaputt.yaml
Labels: none

PR comments
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
Labels: none

fix ui format
  application/ui/rsbuild.config.ts
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
Labels: none

address PR comments
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/training_service.py
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
Labels: none

feat(data): add kaput dataset (#3330)
  application/backend/uv.lock
  examples/configs/data/kaputt.yaml
  pyproject.toml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/kaputt.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_kaputt.py
  uv.lock
Labels: Setup, Tests

eslint
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
Labels: none

Fix cuda target in docker compose
  application/docker/docker-compose.cuda.yaml
Labels: none

fix(studio): selectable training accelerator (#3363)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/repositories/mappers/pipeline_mapper.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/ui/mocks/mock-pipeline.ts
  application/ui/rsbuild.config.ts
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/utils/device-metadata.test.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

fix(model): cast CFA memory bank to float32 after KMeans clustering (#3365)
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

fix(model): fix docstring for reverse distillation (#3366)
  src/anomalib/models/image/reverse_distillation/lightning_model.py
Labels: none

Apply suggestion from @ashwinvaidya17
  src/anomalib/post_processing/mebin.py
Labels: none

feat(postprocess): Cleanup MEBin post-processor (#3321)
  docs/source/markdown/guides/how_to/models/post_processor.md
  docs/source/markdown/guides/reference/post_processing/index.md
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
  tools/benchmark_mebin.py
Labels: Docs, Tests, Tools

fix(inference): add support for xpu devices in TorchInferencer (#3339)
  src/anomalib/deploy/inferencers/torch_inferencer.py
  tools/inference/torch_inference.py
Labels: Inference, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
