Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

feat(ui): pipeline toggle (#3761)
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
Labels: none

Switch to hf
  CHANGELOG.md
  examples/notebooks/02_data/datamodules/kaputt.ipynb
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
Labels: Docs

refactor(kaputt): simplify archive handling
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

fix(data): pin HF revision for Kaputt download to satisfy bandit B615
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

rename hook
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

minor changes
  src/anomalib/models/components/cluster/kmeans.py
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

add ref to license and readme
  .agents/skills/agentic-actions-auditor/SKILL.md
Labels: none

fix(skills): address warnings (#3766)
  .agents/skills/agentic-actions-auditor/SKILL.md
Labels: none

fix(data): verify all Kaputt archive dirs extracted, not just parquet
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

fix(data): block tar/zip path traversal on all supported Python versions
  src/anomalib/data/utils/download.py
  tests/unit/data/utils/test_download.py
Labels: Tests

fix(data): reject non-regular tar members and fix test header year
  src/anomalib/data/utils/download.py
  tests/unit/data/utils/test_download.py
Labels: Tests

possibly address TLE issue
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
  .github/scripts/apply-issue-triage.sh
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

Use temporary workspace folder for anomalib artifacts
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Addressed comments
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/model_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

fix(data): block tar/zip path traversal on all supported Python versions (#3769)
  src/anomalib/data/utils/download.py
  tests/unit/data/utils/test_download.py
Labels: Tests

fix(data): address Kaputt prepare_data reliability issues
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

Fixed test
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Addressed comments
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

fix(data): avoid unlinking Hugging Face cache files in Kaputt download
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

address copilot comments
  .github/scripts/apply-issue-triage.sh
  .github/workflows/opencode-issue-triage.yml
Labels: CI

address copilot comments
  .github/scripts/apply-issue-triage.sh
Labels: CI

fix(data): ensure root exists and use is_dir() checks in Kaputt prepare_data
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

fix(CI): Update opencode workflows (#3770)
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
  .github/scripts/apply-issue-triage.sh
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

Potential fix for pull request finding
  src/anomalib/data/datamodules/image/kaputt.py
Labels: none

chore(data): switch to kaputt source to huggingface (#3765)
  CHANGELOG.md
  examples/notebooks/02_data/datamodules/kaputt.ipynb
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
Labels: Docs

fix(data): honour tile width in random tiling
  CHANGELOG.md
  src/anomalib/data/utils/tiler.py
  tests/unit/data/utils/test_tiler.py
Labels: Docs, Tests

hook renaming
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

pause/resume streaming
  application/ui/src/api/utils.ts
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.test.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.module.scss
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream/stream-container.module.scss
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.test.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

play button fix
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.module.scss
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

stream container tests
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream.tsx
Labels: none

fix(data): honour tile width in random tiling (#3772)
  CHANGELOG.md
  src/anomalib/data/utils/tiler.py
  tests/unit/data/utils/test_tiler.py
Labels: Docs, Tests

feat(ui): pause/resume streaming (#3767)
  application/ui/src/api/utils.ts
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.test.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.module.scss
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream/stream-container.module.scss
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

dependencies update
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/dataset/hooks/use-get-media-items.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/projects-management/hooks/use-get-project.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sinks.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sources.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/hooks/use-get-models.hook.tsx
  application/ui/vitest.config.ts
Labels: none

play stream tests
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/stream/stream.module.scss
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
Labels: none

stream component tests
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.component.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.test.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/stream-container/stream-container.test.tsx
  application/ui/src/features/inspect/stream-container/stream-container.tsx
  application/ui/src/features/inspect/stream-container/stream/stream.component.tsx
  application/ui/src/features/inspect/stream-container/stream/stream.module.scss
  application/ui/src/features/inspect/stream-container/stream/stream.test.tsx
  application/ui/src/features/inspect/stream-container/util.tsx
  application/ui/vitest.config.ts
Labels: none

fix(CI): gate issue triage on maintainer-applied label
  .github/scripts/apply-issue-triage.sh
  .github/scripts/check-triage-gate.sh
  .github/scripts/triage-lib.sh
  .github/workflows/opencode-issue-triage.yml
Labels: CI

feat(ui): geti-ui migration - p3 (#3773)
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/dataset/hooks/use-get-media-items.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/projects-management/hooks/use-get-project.hooks.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.component.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.test.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.component.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.module.scss
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/stream-container/stream-container.test.tsx
  application/ui/src/features/inspect/stream-container/stream-container.tsx
  application/ui/src/features/inspect/stream-container/stream/stream.component.tsx
  application/ui/src/features/inspect/stream-container/stream/stream.module.scss
  application/ui/src/features/inspect/stream-container/stream/stream.test.tsx
  application/ui/src/features/inspect/stream-container/util.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sinks.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sources.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/hooks/use-get-models.hook.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
Labels: none

Removed legacy fallbacks for model location
  application/backend/src/services/model_service.py
Labels: none

chore(release): prep 2.6.1 release
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Potential fix for pull request finding
  application/backend/src/services/training_service.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
