Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Update src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/bmad.py
Labels: none

🚀 feat(inspect): Allow user to upload images, train model and display training progress (#2984)
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset-list.component.tsx
  app/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/dataset/types.ts
  app/ui/src/features/inspect/dataset/utils.ts
  app/ui/src/index.css
Labels: none

🔧 chore(inspect): Update openapi page (#2985)
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

🐞 fix(utils): revert `OptionalImport` class to handle missing optional dependencies (#2956)
  src/anomalib/data/utils/video.py
  src/anomalib/loggers/comet.py
  src/anomalib/loggers/mlflow.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/loggers/wandb.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
  src/anomalib/utils/imports.py
Labels: none

Added 3D-ADAM Dataset
  src/anomalib/data/datamodules/depth/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datasets/depth/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
Labels: none

Added tests and example config
  examples/configs/data/adam_3d.yaml
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Tests

🔨 fix(semgrep): ignore uv.lock in semgrep (#2972)
  .github/actions/security/semgrep/action.yaml
Labels: CI

🐞 fix(utils): Run CS Flow model in eval() so the weights of the model itself will not be modified (#2966)
  src/anomalib/models/components/feature_extractors/utils.py
Labels: none

🐛 fix(ovinferencer): Fix openvino cache directory (#2979)
  .gitignore
  src/anomalib/deploy/inferencers/openvino_inferencer.py
Labels: Setup

changes per PR and pre-commit checks
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/depth/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/depth/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Tests

resolve circular import issue
  examples/configs/data/adam_3d.yaml
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datasets/depth/adam_3d.py
Labels: none

chore(inspect): Rename app to application in github actions
  .github/workflows/geti-inspect.yaml
Labels: CI

refactor: Update photo placeholder to use indicator instead of email
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
Labels: none

refactor(inspect): Update photo placeholder to use indicator instead of email (#2990)
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
Labels: none

Improve error and suspense handling in router
  application/ui/src/router.tsx
Labels: none

chore(inspect): Improve error and suspense handling in router (#2991)
  application/ui/src/router.tsx
Labels: none

Resolve DownloadInfo URL issue.
  docs/source/examples
  docs/source/images/cfa/results/0.png
  docs/source/images/cfa/results/1.png
  docs/source/images/cfa/results/2.png
  docs/source/images/cflow/results/0.png
  docs/source/images/cflow/results/1.png
  docs/source/images/cflow/results/2.png
  docs/source/images/fastflow/results/0.png
  docs/source/images/fastflow/results/1.png
  docs/source/images/fastflow/results/2.png
  docs/source/images/padim/results/0.png
  docs/source/images/padim/results/1.png
  docs/source/images/padim/results/2.png
  docs/source/images/patchcore/results/0.png
  docs/source/images/patchcore/results/1.png
  docs/source/images/patchcore/results/2.png
  docs/source/images/reverse_distillation/results/0.png
  docs/source/images/reverse_distillation/results/1.png
  docs/source/images/reverse_distillation/results/2.png
  docs/source/images/stfpm/results/0.png
  docs/source/images/stfpm/results/1.png
  docs/source/images/stfpm/results/2.png
  examples/configs/model/fre.yaml
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/fre/README.md
  src/anomalib/models/image/fre/__init__.py
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/models/image/fre/torch_model.py
Labels: Docs

refactor: Improvements to the jobs management and training
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

Fix path
  app/backend/src/db/migration.py
Labels: none

Fix path (#2993)
  application/backend/src/db/migration.py
Labels: none

🔄 refactor(inspect): Improvements to the jobs management and training (#2992)
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

Add rescaling around threshold
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/dsr/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
Labels: none

chore(inspect): Add more models
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

chore(inspect): Update uv.lock
  application/backend/uv.lock
Labels: none

🔧 chore(inspect): Add more models to be used for training (#2994)
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

🐛 fix(inspect): Fix unable to start train job
  application/backend/src/db/engine.py
  application/backend/src/settings.py
Labels: none

Resolve DownloadInfo URL
  src/anomalib/data/datamodules/depth/adam_3d.py
Labels: none

restore doc images ignored in error
  docs/source/images/cfa/results/0.png
  docs/source/images/cfa/results/1.png
  docs/source/images/cfa/results/2.png
  docs/source/images/cflow/results/0.png
  docs/source/images/cflow/results/1.png
  docs/source/images/cflow/results/2.png
  docs/source/images/fastflow/results/0.png
  docs/source/images/fastflow/results/1.png
  docs/source/images/fastflow/results/2.png
  docs/source/images/padim/results/0.png
  docs/source/images/padim/results/1.png
  docs/source/images/padim/results/2.png
  docs/source/images/patchcore/results/0.png
  docs/source/images/patchcore/results/1.png
  docs/source/images/patchcore/results/2.png
  docs/source/images/reverse_distillation/results/0.png
  docs/source/images/reverse_distillation/results/1.png
  docs/source/images/reverse_distillation/results/2.png
  docs/source/images/stfpm/results/0.png
  docs/source/images/stfpm/results/1.png
  docs/source/images/stfpm/results/2.png
  node_modules/.cache/prettier/.prettier-caches/580db27dab2a34fa4183ce9330673e2a25cbfd4b.json
Labels: Docs

Removed prettier cache included in error, re-run pre-commit hooks
  node_modules/.cache/prettier/.prettier-caches/580db27dab2a34fa4183ce9330673e2a25cbfd4b.json
  uv.lock
Labels: none

explictly resolve EOF error on docs/source/examples
  docs/source/examples
Labels: Docs

🐛 fix(inspect): Use null pool for async engine (#2998)
  application/backend/src/db/engine.py
  application/backend/src/settings.py
Labels: none

merge
  .gitignore
  application/backend/test_ui/api.js
  application/backend/test_ui/index.html
  application/backend/test_ui/pipeline-control.js
  application/backend/test_ui/state.js
  application/backend/test_ui/ui.js
  application/backend/test_ui/webrtc.js
Labels: Setup

Use uv commands
  .github/actions/pytest/action.yaml
Labels: CI

Add source activate step
  .github/actions/pytest/action.yaml
Labels: CI

resolve filename issue in adam3d test.
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Tests

🔧 refactor(data): Polish BMAD dataset (#2981)
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/bmad.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/bmad.yaml
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_bmad.py
Labels: Docs, Tests

Restore uv.lock
  uv.lock
Labels: none

add trainable models endpoint
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
Labels: none

Fix mask_samples
  src/anomalib/data/datasets/image/bmad.py
Labels: none

🚀 feat(dataset): add 3D-ADAM dataset to Anomalib (#2986)
  docs/source/examples
  examples/configs/data/adam_3d.yaml
  examples/configs/model/fre.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/depth/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/depth/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/fre/README.md
  src/anomalib/models/image/fre/__init__.py
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/models/image/fre/torch_model.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Docs, Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
