Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

refactor: remove unused forward_last from L2BT teacher
  src/anomalib/models/image/l2bt/teacher.py
Labels: none

style(general_ad): format torch model for ruff
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

fix(general_ad): make attention patching serializable
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Add skills
  .agents/skills/benchmark-and-docs-refresh/SKILL.md
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/model-doc-sync/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
  .agents/skills/models-data/SKILL.md
  .agents/skills/pr-workflow/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
  .agents/skills/python-style/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/third-party-code/SKILL.md
  .github/copilot-instructions.md
Labels: CI

Apply suggestions from code review
  .agents/skills/benchmark-and-docs-refresh/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
Labels: none

Apply suggestion from @ashwinvaidya17
  .agents/skills/docs-changelog/SKILL.md
Labels: none

Update .agents/skills/python-docstrings/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
Labels: none

Update license headers
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
Labels: none

Apply suggestions from code review
  .agents/skills/pr-workflow/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
Labels: none

Apply suggestions from code review
  .agents/skills/python-docstrings/SKILL.md
Labels: none

Apply suggestions from code review
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/models-data/SKILL.md
Labels: none

fix(path): use cache dir for dataset and pre-trained models (#3461)
  pyproject.toml
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/utils/path.py
  tests/unit/utils/test_path.py
Labels: Setup, Tests

prek + review comments
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
Labels: none

Upgrade loadash-es
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
Labels: none

Update uv.lock
  application/backend/uv.lock
  uv.lock
Labels: none

fix(security): upgrade loadash-es (#3525)
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  uv.lock
Labels: none

add changes
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

feat(agents): add skills and copilot instructions (#3524)
  .agents/skills/benchmark-and-docs-refresh/SKILL.md
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/model-doc-sync/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
  .agents/skills/models-data/SKILL.md
  .agents/skills/pr-workflow/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
  .agents/skills/python-style/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/third-party-code/SKILL.md
  .cursor/rules/python_docstrings.mdc
  .github/copilot-instructions.md
Labels: CI

Update README.md
  README.md
Labels: Docs

chore(lib): prepare patch release (#3526)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

increment version
  src/anomalib/__init__.py
Labels: none

chore(lib): increment to dev version (#3527)
  src/anomalib/__init__.py
Labels: none

fix(general_ad): add validation evaluator, fix checkpoint restore, document reproduction
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

enable auto-merge
  .github/CODEOWNERS
  .github/renovate.json5
  .github/workflows/auto-approve.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
Labels: CI

Added loss
  src/anomalib/models/image/inp_former/loss.py
Labels: none

Apply suggestions from code review
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: none

Refine GeneralAD backbone and argument validation
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Fix GeneralAD lint issues
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Add GeneralAD model integration
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/general_ad/LICENSE
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/__init__.py
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
Labels: Tests

fix(general_ad): add validation evaluator, fix checkpoint restore, document reproduction
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Align GeneralAD defaults with upstream setup
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
Labels: Tests

style(general_ad): format torch model for ruff
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

fix(general_ad): make attention patching serializable
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Keep frozen GeneralAD backbones in eval mode
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

fix(general_ad): tighten backbone, layer, and parameter validation
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

feat(ci): add auto-approval flow for Renovate "safe" PRs (#3528)
  .github/CODEOWNERS
  .github/renovate.json5
  .github/workflows/auto-approve.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
Labels: CI

chore(general_ad): add Intel license header, update third-party-programs, improve README
  docs/source/images/general_ad/architecture.jpg
  src/anomalib/models/image/general_ad/LICENSE
  src/anomalib/models/image/general_ad/README.md
  third-party-programs.txt
Labels: Docs

Update src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/README.md
Labels: none

feat(visualization): add bounding box overlay for anomaly regions
  src/anomalib/visualization/image/item_visualizer.py
Labels: none

fix(general_ad): derive image size from pre-processor
  src/anomalib/models/image/general_ad/lightning_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
Labels: Tests
