Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

update test
  tests/integration/model/test_models.py
Labels: Tests

address PR comment
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

fix tests
  AGENTS.md
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/preprocessing.py
  tests/integration/model/test_models.py
Labels: Docs, Tests

migrate to selfhosted
  .github/agents/agentic-workflows.agent.md
  .github/agents/agents-md-sync-opencode.md
  .github/agents/docs-sync-opencode.md
  .github/agents/issue-triage-opencode.md
  .github/aw/actions-lock.json
  .github/opencode.json
  .github/workflows/agents-md-sync.lock.yml
  .github/workflows/agents-md-sync.md
  .github/workflows/docs-sync.lock.yml
  .github/workflows/docs-sync.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

fix workflow
  .github/CODEOWNERS
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
Labels: CI

remove plugin
  .github/opencode.json
Labels: CI

update triage prompt
  .github/agents/issue-triage-opencode.md
Labels: CI

add pure flag
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

add find and cat permission
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

update workflow
  .github/agents/agents-md-sync-opencode.md
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

update issue triage
  .github/agents/issue-triage-opencode.md
Labels: CI

address security issues
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

update preflight models
  .github/agents/docs-sync-opencode.md
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

WiP
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

add inp-former lightning module and fixes
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/inp_former/__init__.py
  src/anomalib/models/image/inp_former/components/__init__.py
  src/anomalib/models/image/inp_former/components/layers.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/loss.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

address PR comments
  .github/agents/issue-triage-opencode.md
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

extract to common workflow
  .github/actions/ollama-preflight/action.yaml
  .github/agents/docs-sync-opencode.md
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

PR comment
  .github/actions/ollama-preflight/action.yaml
Labels: CI

doc strings
  src/anomalib/models/image/inp_former/README.md
  src/anomalib/models/image/inp_former/__init__.py
  src/anomalib/models/image/inp_former/components/__init__.py
  src/anomalib/models/image/inp_former/components/layers.py
  src/anomalib/models/image/inp_former/components/loss.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

fix test
  tests/integration/model/test_models.py
Labels: Tests

remove onnx guard and update test
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/preprocessing.py
  tests/unit/data/utils/test_perlin_generator.py
Labels: Tests

reintroduce onnx guard
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/preprocessing.py
Labels: none

explicitly pass patch size
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

refactor(glass): match paper numbers (#3412)
  AGENTS.md
  examples/configs/model/glass.yaml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/glass/README.md
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
  tests/integration/model/test_models.py
  tests/unit/data/utils/test_perlin_generator.py
Labels: Docs, Tests

Fixed second batch of comments
  pyproject.toml
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
Labels: Setup

merge conflict
  third-party-programs.txt
Labels: none

no resize, add modules to trainable
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

add bottleneck to module list
  src/anomalib/models/image/inp_former/lightning_model.py
Labels: none

address PR comments
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
  tests/unit/data/utils/test_perlin_generator.py
  third-party-programs.txt
Labels: Tests

🚀 feat(model): Added AnomalyVFM (#3559)
  docs/source/images/anomalyvfm/anomalyvfm.png
  examples/configs/model/anomalyvfm.yaml
  pyproject.toml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomalyvfm/LICENSE
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/__init__.py
  src/anomalib/models/image/anomalyvfm/components/decoder.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
Labels: Docs, Setup

Added first version of AnomalyVFM
  src/anomalib/models/image/anomalyvfm/LICENSE
Labels: none

Fixed first batch of comments
  src/anomalib/models/image/anomalyvfm/LICENSE
Labels: none

address PR comments
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/anomalyvfm.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/anomalyvfm.yaml
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/__init__.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
  third-party-programs.txt
Labels: Docs

minor fixes + docs
  AGENTS.md
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/glass.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/glass.yaml
  src/anomalib/models/image/glass/loss.py
Labels: Docs

PR comments
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
Labels: none

Add path to workflow
  .github/actions/ollama-preflight/action.yaml
  AGENTS.md
Labels: CI, Docs

Potential fix for pull request finding
  AGENTS.md
Labels: Docs

fix test
  tests/unit/deploy/test_inferencer.py
Labels: Tests

🚀 feat(model): Added AnomalyVFM (#3559) (#3590)
  CHANGELOG.md
  docs/source/images/anomalyvfm/anomalyvfm.png
  docs/source/markdown/guides/reference/models/image/anomalyvfm.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/anomalyvfm.yaml
  pyproject.toml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomalyvfm/LICENSE
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/__init__.py
  src/anomalib/models/image/anomalyvfm/components/decoder.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
  third-party-programs.txt
Labels: Docs, Setup

remove jq
  .github/actions/ollama-preflight/action.yaml
Labels: CI
