Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Reshape CUDA image
  application/docker/Dockerfile
Labels: none

convert to float
  src/anomalib/metrics/f1_score.py
  tests/unit/metrics/test_f1_max.py
Labels: Tests

Update src/anomalib/metrics/f1_score.py
  src/anomalib/metrics/f1_score.py
Labels: none

address PR comments
  tests/unit/metrics/test_f1_max.py
Labels: Tests

Add changes
  application/backend/src/core/logging/__init__.py
  application/backend/src/core/logging/handlers.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/utils.py
  application/backend/src/services/training_service.py
  application/ui/src/features/inspect/models/model-status-badges.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Reshape CUDA image
  application/docker/Dockerfile
Labels: none

prek
  application/backend/src/core/logging/utils.py
Labels: none

Add daily docker build and publish workflow
  .github/actions/docker-build/action.yml
  .github/workflows/docker-publish.yml
  application/VERSION
Labels: CI

refactor(logging): rename capture_output to CaptureOutput for PEP 8 compliance
  application/backend/src/core/logging/__init__.py
  application/backend/src/core/logging/utils.py
  application/backend/src/services/training_service.py
Labels: none

address PR comments
  application/backend/src/core/logging/handlers.py
Labels: none

PR comments
  application/backend/src/core/logging/handlers.py
Labels: none

add thread local write
  application/backend/src/core/logging/utils.py
Labels: none

Update .github/actions/docker-build/action.yml
  .github/actions/docker-build/action.yml
Labels: CI

Update metadata-action in docker-publish workflow
  .github/workflows/docker-publish.yml
Labels: CI

Small fixes
  .github/actions/docker-build/action.yml
  .github/workflows/docker-publish.yml
Labels: CI

update app logo
  application/binary/tauri/src-tauri/icons/icon.ico
  application/binary/tauri/src-tauri/icons/icon.png
Labels: none

chore(application): update app logo (#3401)
  application/binary/tauri/src-tauri/icons/icon.ico
  application/binary/tauri/src-tauri/icons/icon.png
Labels: none

keep only textual part of progress bars
  application/backend/src/core/logging/handlers.py
Labels: none

Update application/backend/src/core/logging/utils.py
  application/backend/src/core/logging/utils.py
Labels: none

Cache on-off parameter
  .github/actions/docker-build/action.yml
Labels: CI

Rename docker-publish workflow
  .github/workflows/daily-docker-publish.yml
Labels: CI

fix(application): training percentage and logging (#3399)
  application/backend/src/core/logging/__init__.py
  application/backend/src/core/logging/handlers.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/utils.py
  application/backend/src/services/training_service.py
  application/ui/src/features/inspect/models/model-status-badges.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

ci: Daily docker build and publish workflow (#3400)
  .github/actions/docker-build/action.yml
  .github/workflows/daily-docker-publish.yml
  application/VERSION
Labels: CI

Add trivy-image scan job to security workflow
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

Small fixes in security workflow
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

ci: Add trivy-image scan job to security workflow (#3406)
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

Small fix in Dockerfile
  application/docker/Dockerfile
Labels: none

Add L2BT model scaffold
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/torch_model.py
Labels: none

Add L2BT config and modular components
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/config.yaml
  src/anomalib/models/image/l2bt/loss.py
Labels: none

Add L2BT inference integration for anomalib
  .gitignore
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/config.yaml
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/students.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/test_l2bt_predict_step.py
  tests/test_l2bt_torch_forward.py
Labels: Setup, Tests

Add L2BT integration smoke tests
  tests/test_l2bt_integration.py
Labels: Tests

Refine L2BT anomalib integration and clean test files
  src/anomalib/models/image/l2bt/config.yaml
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/test_l2bt_integration.py
  tests/test_l2bt_predict_step.py
  tests/test_l2bt_torch_forward.py
Labels: Tests

Update L2BT README and remove unused loss.py
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/loss.py
  src/anomalib/models/image/l2bt/tests/test_l2bt_torch_forward.py
Labels: none

Update L2BT README for anomalib integration
  src/anomalib/models/image/l2bt/README.md
Labels: none

Add L2BT architecture figure
  src/anomalib/models/image/l2bt/assets/architecture.jpg
Labels: none

Update L2BT README and add architecture figure
  src/anomalib/models/image/l2bt/README.md
Labels: none

Update L2BT README
  src/anomalib/models/image/l2bt/README.md
Labels: none

stash changes
  examples/configs/model/glass.yaml
  src/anomalib/models/image/glass/README.md
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/anomaly_augmentor.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

refactor: Remove non-distributable Nvidia components in CUDA based image (#3378)
  application/docker/Dockerfile
Labels: none

WIP -- 1st step: Split test embeddings into chunks
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none
