Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

update workflow
  .github/workflows/release.yaml
Labels: CI

fix zizmor
  .github/workflows/tauri-build.yaml
Labels: CI

fix bandit issues
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/settings.py
  src/anomalib/models/components/classification/kde_classifier.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/utils/path.py
Labels: none

fix bandit issues
  src/anomalib/utils/path.py
Labels: none

remove rc and beta release
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/release.yaml
Labels: CI

remove rc and beta release references
  .github/workflows/release.yaml
Labels: CI

remove rc process and approval gating
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/release.yaml
Labels: CI

ignore publish in dry run and move publish to main workflow
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/release.yaml
Labels: CI

Update src/anomalib/models/image/patchflow/torch_model.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: none

Update src/anomalib/models/image/patchflow/torch_model.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: none

Update src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/loss.py
Labels: none

pass two tests
  src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_torch_model.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Tests

minor changes and pass two tests
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
Labels: Tests

fix(model): use pooled features in Descriptor multi-scale fusion.
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

RC App promotion workflow
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Small fixes
  .github/workflows/promote-rc-app-release.yml
Labels: CI

commit fixes
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
Labels: none

ci: add Docker tag pre-check and force input to RC app promotion workflow (#3458)
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Update .github/workflows/promote-rc-app-release.yml
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Do promotion of images through protected environment
  .github/workflows/promote-rc-app-release.yml
Labels: CI

feat(data): add CutPaste-based synthetic anomaly generator with scar and union variants
  docs/source/snippets/config/data/image/folder/classification/cli/normal_and_synthetic.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal_and_synthetic.yaml
  examples/configs/data/folder.yaml
  outputs/pr_cutpaste_metal/example_1.png
  outputs/pr_cutpaste_metal/example_2.png
  outputs/pr_cutpaste_metal_scar/example_1.png
  outputs/pr_cutpaste_metal_union/example_1.png
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/datumaro.py
  src/anomalib/data/datamodules/image/folder.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/generators/__init__.py
  src/anomalib/data/utils/generators/cutpaste.py
  src/anomalib/data/utils/synthetic.py
  tests/unit/data/datamodule/image/test_folder.py
  tests/unit/data/utils/test_cutpaste.py
  tests/unit/data/utils/test_synthetic.py
  tools/cutpaste_visualization.py
Labels: Docs, Tests, Tools

docs: update docker README with setup steps and access instructions
  application/docker/README.md
Labels: none

Address PR comments
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/release.yaml
  src/anomalib/utils/path.py
Labels: CI

Address semgrep issues
  src/anomalib/utils/path.py
Labels: none

Address copilot comment
  .github/workflows/release.yaml
  .github/workflows/tauri-build.yaml
  src/anomalib/utils/path.py
Labels: CI

update commit hash
  .github/workflows/tauri-build.yaml
Labels: CI

remove intermediate stage
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/release.yaml
  src/anomalib/models/image/padim/torch_model.py
Labels: CI

fix: update RichProgressBar integration for improved epoch display (to make copilot happy)
  src/anomalib/models/image/dinomaly/lightning_model.py
Labels: none

address PR comments
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/release-lib.yaml
  .github/workflows/release.yaml
  application/backend/src/settings.py
Labels: CI

Revert back to docker pull/push
  .github/workflows/promote-rc-app-release.yml
Labels: CI

address PR comments
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/release-lib.yaml
  src/anomalib/models/components/classification/kde_classifier.py
Labels: CI

Update .github/workflows/promote-rc-app-release.yml
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Update .github/workflows/promote-rc-app-release.yml
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Update .github/workflows/promote-rc-app-release.yml
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Update docker/login-action
  .github/workflows/promote-rc-app-release.yml
Labels: CI

fix(prek): address cutpaste/synthetic ruff+mypy issues
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/utils/generators/cutpaste.py
  src/anomalib/data/utils/synthetic.py
  tests/unit/data/utils/test_cutpaste.py
  tools/cutpaste_visualization.py
Labels: Tests, Tools

fixed mypy and prettier errors
  application/backend/tests/unit/services/test_configuration_service.py
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
Labels: none

docs: update docker README with setup, access, and troubleshooting steps (#3464)
  application/docker/README.md
Labels: none

do not use cache
  .github/workflows/daily-docker-publish.yml
Labels: CI

chore(ci): do not use cache for daily builds (#3467)
  .github/workflows/daily-docker-publish.yml
Labels: CI
