Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Use cleanup-images v0.1.1 action
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

feat(rad): add Retrieval-based Anomaly Detection (RAD) model implementation and documentation
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/rad.md
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/rad/README.md
  src/anomalib/models/image/rad/__init__.py
  src/anomalib/models/image/rad/lightning_model.py
  src/anomalib/models/image/rad/torch_model.py
  tests/unit/models/image/rad/__init__.py
  tests/unit/models/image/rad/test_torch_model.py
Labels: Docs, Tests

feat(rad): enhance documentation and improve error handling in implementation
  docs/source/markdown/guides/reference/models/image/rad.md
  src/anomalib/models/image/rad/README.md
  src/anomalib/models/image/rad/__init__.py
  src/anomalib/models/image/rad/lightning_model.py
  src/anomalib/models/image/rad/torch_model.py
  tests/unit/models/image/rad/__init__.py
  tests/unit/models/image/rad/test_torch_model.py
Labels: Docs, Tests

feat(rad): add bank_dtype parameter for memory bank storage type
  docs/source/markdown/guides/reference/models/image/rad.md
  src/anomalib/models/image/rad/lightning_model.py
  src/anomalib/models/image/rad/torch_model.py
  tests/unit/models/image/rad/test_torch_model.py
Labels: Docs, Tests

feat(rad): Fail fast in case a non ViT bacnbone is provided
  src/anomalib/models/image/rad/torch_model.py
Labels: none

bump torch
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

add .trufflehogignore
  .github/workflows/secret-scan.yml
  .trufflehogignore
Labels: CI

prek
  .trufflehogignore
Labels: none

ci: Use cleanup-images v0.1.1 action (#3719)
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Potential fix for pull request finding
  src/anomalib/__init__.py
Labels: none

chore(lib): bump to dev (#3696)
  src/anomalib/__init__.py
Labels: none

feat(model): add Retrieval-based Anomaly Detection (RAD) model (#3721)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/rad.md
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/rad/README.md
  src/anomalib/models/image/rad/__init__.py
  src/anomalib/models/image/rad/lightning_model.py
  src/anomalib/models/image/rad/torch_model.py
  tests/unit/models/image/rad/__init__.py
  tests/unit/models/image/rad/test_torch_model.py
Labels: Docs, Tests

fix(metrics): use tensor boolean reduction in F1AdaptiveThreshold sample validation
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

test(metrics): add unit tests for F1AdaptiveThreshold with normal-only and anomalous-only data
  tests/unit/metrics/threshold/test_threshold.py
Labels: Tests

add skills
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/anomalib-adding-a-model/SKILL.md
  .agents/skills/anomalib-benchmarking/SKILL.md
  .agents/skills/anomalib-tiled-ensemble/SKILL.md
  .agents/skills/anomalib-training/SKILL.md
Labels: none

address copilot comments
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/anomalib-adding-a-model/SKILL.md
  .agents/skills/anomalib-benchmarking/SKILL.md
  .agents/skills/anomalib-tiled-ensemble/SKILL.md
  .agents/skills/anomalib-training/SKILL.md
Labels: none

Apply suggestions from code review
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/anomalib-adding-a-model/SKILL.md
  .agents/skills/anomalib-benchmarking/SKILL.md
  .agents/skills/anomalib-tiled-ensemble/SKILL.md
Labels: none

address copilot comments
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/anomalib-adding-a-model/SKILL.md
  .agents/skills/anomalib-benchmarking/SKILL.md
  .agents/skills/anomalib-tiled-ensemble/SKILL.md
  .agents/skills/anomalib-training/SKILL.md
Labels: none

chore(agents): add more skills (#3730)
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/anomalib-adding-a-model/SKILL.md
  .agents/skills/anomalib-benchmarking/SKILL.md
  .agents/skills/anomalib-tiled-ensemble/SKILL.md
  .agents/skills/anomalib-training/SKILL.md
Labels: none

add skills scan + evals.json
  .github/workflows/skill-scan.yml
Labels: CI

add skills scan + evals.json
  .agents/skills/anomalib-adding-a-datamodule/evals/evals.json
  .agents/skills/anomalib-adding-a-model/evals/evals.json
  .agents/skills/anomalib-benchmarking/evals/evals.json
  .agents/skills/anomalib-tiled-ensemble/evals/evals.json
  .agents/skills/anomalib-training/evals/evals.json
Labels: none

Potential fix for pull request finding
  .github/workflows/skill-scan.yml
Labels: CI

harden runner
  .github/workflows/skill-scan.yml
Labels: CI

feat(ci): skills scan (#3732)
  .agents/skills/anomalib-adding-a-datamodule/evals/evals.json
  .agents/skills/anomalib-adding-a-model/evals/evals.json
  .agents/skills/anomalib-benchmarking/evals/evals.json
  .agents/skills/anomalib-tiled-ensemble/evals/evals.json
  .agents/skills/anomalib-training/evals/evals.json
  .github/workflows/skill-scan.yml
Labels: CI

Treat seed=0 as a valid seed in random_split
  src/anomalib/data/utils/split.py
  tests/unit/data/utils/test_split.py
Labels: Tests

chore: remove type-only references to wandb's removed RunDisabled class
  src/anomalib/loggers/wandb.py
Labels: none

Split model architecture & name
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/cli.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fixed UI mocks
  application/ui/mocks/mock-model.ts
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
Labels: none

Addressed comments
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Format fix
  application/backend/src/services/training_service.py
Labels: none

Addressed comments
  application/backend/src/pydantic_models/job.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Addressed comments
  application/backend/src/services/training_service.py
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
Labels: none

Potential fix for pull request finding
  src/anomalib/metrics/pimo/binary_classification_curve.py
Labels: none

apply suggestions
  src/anomalib/metrics/pimo/binary_classification_curve.py
Labels: none

Addressed comments
  application/backend/src/pydantic_models/job.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Apply suggestions from code review
  src/anomalib/metrics/pimo/binary_classification_curve.py
  tests/unit/metrics/pimo/test_binary_classification_curve.py
Labels: Tests

chore(metrics): optimize binary classification curve metric with PyTorch (#3720)
  src/anomalib/metrics/pimo/binary_classification_curve.py
  tests/unit/metrics/pimo/test_binary_classification_curve.py
Labels: Tests

resolve conflict
  application/backend/uv.lock
  uv.lock
Labels: none

chore(deps): bump torch (#3722)
  .github/workflows/secret-scan.yml
  .trufflehogignore
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: CI, Setup

Use native padding = same in FastFlow
  src/anomalib/models/image/fastflow/torch_model.py
Labels: none
