Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

chore(model): Remove CPU-GPU synchronization in coreset selection loop (#3651)
  src/anomalib/models/components/sampling/k_center_greedy.py
Labels: none

feat(data): AutoVI dataset (#3633)
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/autovi.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/autovi.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/autovi.py
Labels: Docs

fix license headers
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/image/autovi.py
Labels: none

add dummy dataset for autovi
  tests/helpers/data.py
Labels: Tests

update license headers
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/image/autovi.py
Labels: none

Potential fix for pull request finding
  src/anomalib/data/datasets/__init__.py
Labels: none

Potential fix for pull request finding
  examples/configs/data/autovi.yaml
Labels: none

prek
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image/autovi.md
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
Labels: Docs

address copilot comments
  CHANGELOG.md
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/autovi.py
Labels: Docs

address copilot comments
  src/anomalib/data/datasets/image/autovi.py
Labels: none

add torchcodec
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

Add tests
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/image/autovi.py
  tests/unit/data/datamodule/image/test_autovi.py
Labels: Tests

fix(data): use split.value for pandas comparison in dataset loaders (#3634)
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
Labels: none

fix(data): normalize Split enum to string value before DataFrame comparison (#3659)
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
Labels: none

Add changelog
  CHANGELOG.md
Labels: Docs

address PR comments
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/video/ucsd_ped.py
Labels: none

feat(data): AutoVI dataset (#3667)
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/autovi.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/autovi.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/autovi.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_autovi.py
Labels: Docs, Tests

pip install with right accelerator
  .github/actions/pytest/action.yaml
Labels: CI

fix(data): pandas 3 compatibility (#3668)
  CHANGELOG.md
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
Labels: Docs

use index for torchcodec
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

fix(ci,export): install ffmpeg for torchcodec; address Copilot review
  .github/actions/pytest/action.yaml
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: CI

Apply suggestion from @ashwinvaidya17
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: none

update install for container
  .github/actions/pytest/action.yaml
Labels: CI

fix test
  tests/unit/deploy/test_export_mixin.py
Labels: Tests

add os check
  .github/actions/pytest/action.yaml
Labels: CI

feat(ui): Add Pause/Stop inference button to stream view
  application/ui/src/features/inspect/stream/stream.module.scss
  application/ui/src/features/inspect/stream/stream.tsx
Labels: none

fix
  src/anomalib/models/components/base/export_mixin/mixin.py
Labels: none

fix(export): onnx export issue (#3554)
  .github/actions/pytest/action.yaml
  CHANGELOG.md
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/models/components/base/export_mixin/__init__.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  tests/unit/deploy/test_export_mixin.py
  uv.lock
Labels: CI, Docs, Setup, Tests

Apply suggestions from code review
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

docs: improve PatchCore backbone layer documentation (#3630)
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

fix: limit video stream framerate to video FPS
  application/backend/src/entities/video_file_stream.py
Labels: none

fix(typing): pin mypy python_version to 3.10 to fix dataclass __replace__ errors
  CHANGELOG.md
  pyproject.toml
Labels: Docs, Setup

fix(typing): pin mypy python_version to 3.10 to fix dataclass __replace__ errors (#3674)
  CHANGELOG.md
  pyproject.toml
Labels: Docs, Setup

update mvtec link
  src/anomalib/data/datamodules/image/mvtecad.py
Labels: none

add tests
  pyproject.toml
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/utils/download.py
  tests/integration/data/__init__.py
  tests/integration/data/test_download_urls.py
Labels: Setup, Tests

add weekly download URL health check workflow and changelog entry
  .github/workflows/download-url-check.yaml
  CHANGELOG.md
  tests/integration/data/test_download_urls.py
Labels: CI, Docs, Tests

use opencv headless
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/data/utils/image.py
  uv.lock
Labels: Setup

add changelog
  CHANGELOG.md
Labels: Docs

fix: path traversal guard, test dep, and connection leak
  .github/workflows/download-url-check.yaml
  src/anomalib/data/utils/download.py
  tests/integration/data/test_download_urls.py
Labels: CI, Tests

address copilot comment
  src/anomalib/data/utils/image.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
