Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix fixtures
  application/backend/src/api/endpoints/project_selection_endpoints.py
  application/ui/tests/fixtures.ts
Labels: none

Potential fix for pull request finding
  application/ui/tests/fixtures.ts
Labels: none

Fix python checks
  application/backend/src/services/project_selection_service.py
Labels: none

remove database
  application/backend/data-local/anomalib_studio.db
Labels: none

Apply suggestions from code review
  application/backend/src/api/endpoints/project_selection_endpoints.py
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/repositories/__init__.py
  application/ui/src/hooks/index.ts
  application/ui/src/hooks/use-project-selection.hook.test.tsx
  application/ui/src/hooks/use-project-selection.hook.ts
Labels: none

merge alembic versions
  application/backend/src/alembic/versions/1f4f5b1d9f6f_add_app_state_table.py
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
Labels: none

update license headers
  application/backend/src/api/endpoints/project_selection_endpoints.py
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/repositories/app_state_repo.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/endpoints/test_project_selection.py
  application/backend/tests/unit/services/test_project_selection_service.py
  application/ui/src/hooks/use-project-selection.hook.test.tsx
  application/ui/src/hooks/use-project-selection.hook.ts
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/router.tsx
Labels: none

fix onnx export issue
  CHANGELOG.md
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/models/components/base/export_mixin/__init__.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  tests/unit/deploy/test_export_mixin.py
  uv.lock
Labels: Docs, Setup, Tests

fix typing
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: none

add rest api skill
  .agents/skills/fastapi-rest-api-design/REST_API_CHECKLIST.md
  .agents/skills/fastapi-rest-api-design/SKILL.md
  .github/copilot-instructions.md
Labels: CI

feat(agent): add rest api skill (#3555)
  .agents/skills/fastapi-rest-api-design/REST_API_CHECKLIST.md
  .agents/skills/fastapi-rest-api-design/SKILL.md
  .github/copilot-instructions.md
Labels: CI

simplify license
  application/backend/src/services/system_service.py
  application/backend/tests/unit/endpoints/test_system.py
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
Labels: none

remove array + version
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/system.py
  application/backend/src/services/system_service.py
  application/backend/tests/unit/endpoints/test_system.py
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
  application/ui/tests/fixtures.ts
Labels: none

remove amd and nvidia backend from pyinstaller build
  application/binary/README.md
  application/binary/sidecar/anomalib_studio.spec
  application/binary/tauri/scripts/prepare-tauri-dev.mjs
Labels: none

address PR comment
  application/binary/sidecar/anomalib_studio.spec
Labels: none

remove enum
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/system.py
  application/backend/src/services/system_service.py
  application/backend/tests/unit/endpoints/test_system.py
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
  application/ui/tests/fixtures.ts
Labels: none

undo docstring changes
  application/backend/src/pydantic_models/system.py
  application/backend/src/services/system_service.py
Labels: none

use compat
  application/binary/sidecar/anomalib_studio.spec
Labels: none

Apply suggestion from @Copilot
  application/binary/sidecar/anomalib_studio.spec
Labels: none

update workflow
  .github/workflows/tauri-build.yaml
Labels: CI

fix(binary): remove amd and nvidia backend from pyinstaller build (#3557)
  .github/workflows/tauri-build.yaml
  application/binary/README.md
  application/binary/sidecar/anomalib_studio.spec
  application/binary/tauri/scripts/prepare-tauri-dev.mjs
Labels: CI

feat(callbacks): Make AI happy - add MaxStepsProgressCallback to improve epoch display for step-based training
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/rich_progress_bar.py
Labels: none

Added first version of AnomalyVFM
  docs/source/images/anomalyvfm/anomalyvfm.png
  examples/configs/model/anomalyvfm.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomalyvfm/LICENSE
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/decoder.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
Labels: Docs

Call windows build as composite action
  .github/actions/windows-build/action.yml
  .github/workflows/publish-rc-app.yml
  .github/workflows/tauri-build.yaml
Labels: CI

Fix shell
  .github/actions/windows-build/action.yml
Labels: CI

Update Changelog and Readme
  CHANGELOG.md
  README.md
Labels: Docs

remove deprecated API
  CHANGELOG.md
  src/anomalib/models/__init__.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/prediction.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
Labels: Docs

update docstring + add missing docs
  docs/source/markdown/guides/reference/models/image/cfa.md
  docs/source/markdown/guides/reference/models/image/cflow.md
  docs/source/markdown/guides/reference/models/image/csflow.md
  docs/source/markdown/guides/reference/models/image/draem.md
  docs/source/markdown/guides/reference/models/image/dsr.md
  docs/source/markdown/guides/reference/models/image/fastflow.md
  docs/source/markdown/guides/reference/models/image/ganomaly.md
  docs/source/markdown/guides/reference/models/image/general_ad.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/l2bt.md
  docs/source/markdown/guides/reference/models/image/padim.md
  docs/source/markdown/guides/reference/models/image/patchcore.md
  docs/source/markdown/guides/reference/models/image/patchflow.md
  docs/source/markdown/guides/reference/models/image/reverse_distillation.md
  docs/source/markdown/guides/reference/models/image/stfpm.md
  docs/source/markdown/guides/reference/models/image/winclip.md
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: Docs

Update src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: none

address PR comments
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: none

chore(lib): remove deprecated API (#3561)
  CHANGELOG.md
  src/anomalib/models/__init__.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/prediction.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
Labels: Docs

Update src/anomalib/callbacks/rich_progress_bar.py
  src/anomalib/callbacks/rich_progress_bar.py
Labels: none

feat(dinomaly): Add context-aware recentering option from dinomaly2 (#3435)
  examples/configs/model/dinomaly.yaml
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/rich_progress_bar.py
  src/anomalib/engine/engine.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

update changelog
  CHANGELOG.md
Labels: Docs

Apply suggestions from code review
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: none

docs(model): update docstring and add missing docs (#3562)
  docs/source/markdown/guides/reference/models/image/cfa.md
  docs/source/markdown/guides/reference/models/image/cflow.md
  docs/source/markdown/guides/reference/models/image/csflow.md
  docs/source/markdown/guides/reference/models/image/draem.md
  docs/source/markdown/guides/reference/models/image/dsr.md
  docs/source/markdown/guides/reference/models/image/fastflow.md
  docs/source/markdown/guides/reference/models/image/ganomaly.md
  docs/source/markdown/guides/reference/models/image/general_ad.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/l2bt.md
  docs/source/markdown/guides/reference/models/image/padim.md
  docs/source/markdown/guides/reference/models/image/patchcore.md
  docs/source/markdown/guides/reference/models/image/patchflow.md
  docs/source/markdown/guides/reference/models/image/reverse_distillation.md
  docs/source/markdown/guides/reference/models/image/stfpm.md
  docs/source/markdown/guides/reference/models/image/winclip.md
  src/anomalib/models/image/l2bt/lightning_model.py
Labels: Docs

increment to dev
  src/anomalib/__init__.py
Labels: none

Fixed first batch of comments
  examples/configs/model/anomalyvfm.yaml
  pyproject.toml
  src/anomalib/models/image/anomalyvfm/LICENSE
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/__init__.py
  src/anomalib/models/image/anomalyvfm/components/decoder.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
Labels: Setup

chore(lib): increment to dev version (#3563)
  src/anomalib/__init__.py
Labels: none

Small fixes
  .github/workflows/publish-rc-app.yml
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
