Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

chore: update dependencies for library, ui and backend.
  application/backend/uv.lock
  application/ui/public/mockServiceWorker.js
  pyproject.toml
  uv.lock
Labels: Setup

fix: remove unused mock service worker file
  application/ui/public/mockServiceWorker.js
Labels: none

Updated lodash in package.json
  application/ui/package.json
Labels: none

fix: update CUDA installation instructions in README and script
  README.md
  examples/cli/00_installation/uv_install.sh
Labels: Docs

Update security-checks.yaml
  .github/workflows/security-checks.yaml
Labels: CI

Updated lodash in package-lock
  application/ui/package-lock.json
Labels: none

fix(workflows): update permissions for security and issue management workflows
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/issue-management.yaml
  .github/workflows/security-checks.yaml
Labels: CI

fix(workflows): Add comments and remove unnessary read permissions
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/issue-management.yaml
  .github/workflows/security-checks.yaml
Labels: CI

fix(workflows): fix OpenSSF Token-Permissions by scoping write permissions to job level (#3372)
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/issue-management.yaml
  .github/workflows/security-checks.yaml
Labels: CI

chore: Update cu121 with cu126 to resolve security issues (#3371)
  README.md
  application/backend/uv.lock
  examples/cli/00_installation/uv_install.sh
  pyproject.toml
  uv.lock
Labels: Docs, Setup

Updated some packages
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

Fix workflow
  .github/workflows/tauri-build.yaml
Labels: CI

Removed minimatch override
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

Pinned libs
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

Regenerated lockfile with newer npm
  application/ui/package-lock.json
Labels: none

Check build docker image job status in pr.yaml
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/pr.yaml
  application/docker/Dockerfile
  application/docker/docker-compose.cuda.yaml
Labels: CI

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: CI

chore(deps): Updated some npm packages (#3374)
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

Add docker setup step
  .github/workflows/_reusable-docker-build.yaml
Labels: CI

fix permissions
  .github/workflows/tauri-build.yaml
Labels: CI

fix permissions
  .github/workflows/tauri-build.yaml
Labels: CI

fix permissions
  .github/workflows/tauri-build.yaml
Labels: CI

fix: remove permissions (#3376)
  .github/workflows/tauri-build.yaml
Labels: CI

chore(deps): update PyTorch and torchvision versions to >=2.6.0 for security compliance
  README.md
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Docs, Setup, Tests

Update tests/unit/cli/test_installation.py
  tests/unit/cli/test_installation.py
Labels: Tests

Update pyproject.toml
  pyproject.toml
Labels: Setup

fix: update torch and torchvision version constraints for compatibility
  pyproject.toml
  tests/unit/cli/test_installation.py
Labels: Setup, Tests

ci: Add docker images build reusable workflow (#3359)
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/pr.yaml
Labels: CI

remove env: prefix
  .github/workflows/tauri-build.yaml
Labels: CI

PR comments
  .github/workflows/tauri-build.yaml
Labels: CI

Fix
  .github/workflows/tauri-build.yaml
Labels: CI

Revert to env
  .github/workflows/tauri-build.yaml
Labels: CI

make failure reason more verbose
  .github/workflows/tauri-build.yaml
Labels: CI

Update tauri-build workflow to use certificate thumbprint for signing
  .github/workflows/tauri-build.yaml
Labels: CI

cleanup
  .github/workflows/tauri-build.yaml
Labels: CI

Remove non-distributable Nvidia components
  application/docker/Dockerfile
Labels: none

Apply suggestions from code review
  .github/workflows/tauri-build.yaml
Labels: CI

remove _internal if it exists
  .github/workflows/tauri-build.yaml
Labels: CI

remove build version and fix directory cleaning
  .github/workflows/tauri-build.yaml
Labels: CI

Apply suggestions from code review
  .github/workflows/tauri-build.yaml
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
