Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Potential fix for pull request finding
  application/backend/src/services/training_service.py
Labels: none

Potential fix for pull request finding
  application/backend/src/services/training_service.py
Labels: none

chore(release): prep 2.6.1 release (#3775)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Style checks
  application/backend/src/services/training_service.py
Labels: none

chore(lib): bump to dev
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

feat(data): Use temporary workspace folder for anomalib artifacts (#3771)
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

chore(lib): bump to dev (#3777)
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

format fix
  application/ui/src/components/status-tag/status-tag.component.tsx
  application/ui/src/components/virtualizer-grid-layout/use-get-target-position.hook.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
Labels: none

restore cross-platform optional deps in package-lock.json
  application/ui/package-lock.json
Labels: none

fix unit tests
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/playwright.config.ts
  application/ui/public/mockServiceWorker.js
  application/ui/src/api/client.ts
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/vitest.config.ts
Labels: none

playwright upgrade
  .github/workflows/anomalib-studio.yaml
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/public/mockServiceWorker.js
Labels: CI

fix(data): restrict Tabular.from_file to safe pandas readers
  CHANGELOG.md
  src/anomalib/data/datamodules/image/tabular.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Docs, Tests

update changelog
  CHANGELOG.md
Labels: Docs

address PR review comments: suppress pickle lint findings, fix docstring type
  src/anomalib/data/datamodules/image/tabular.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Tests

fix(data): restrict Tabular.from_file to safe pandas readers (#3782)
  CHANGELOG.md
  src/anomalib/data/datamodules/image/tabular.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Docs, Tests

cover train model button behavior
  application/ui/rsbuild.config.ts
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.test.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/models/model-detail/model-detail.test.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/projects-management/hooks/use-selected-project.test.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.test.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.test.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box/trainable-model-list-box.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box/trainable-model-list-box.test.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/tests/utils.ts
Labels: none

add tests skill
  .agents/skills/ui-test-utils/SKILL.md
  application/ui/rsbuild.config.ts
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.test.tsx
Labels: none

formatting fix
  .agents/skills/ui-test-utils/SKILL.md
Labels: none

fix(ci): bump twine to 7.0.0 to support metadata-version 2.5
  .github/workflows/_reusable-artifact-builder.yaml
Labels: CI

fix(ci): bump twine to 7.0.0 to support metadata-version 2.5 (#3787)
  .github/workflows/_reusable-artifact-builder.yaml
Labels: CI

feat(ui): UI/UX project setup - P1 (#3784)
  .agents/skills/ui-test-utils/SKILL.md
  application/ui/rsbuild.config.ts
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.test.tsx
  application/ui/src/features/inspect/main-content/hooks/use-active-pipeline-status.test.tsx
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/models/model-detail/model-detail.test.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/projects-management/hooks/use-selected-project.test.tsx
  application/ui/src/features/inspect/stream-container/fps/fps.test.tsx
  application/ui/src/features/inspect/stream-container/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream-container/play-stream-button/play-stream-button.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button/train-model-button.test.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box/trainable-model-list-box.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box/trainable-model-list-box.test.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/tests/utils.ts
Labels: none

test: add focused tests for KMeans clustering
  tests/unit/models/components/clustering/test_kmeans.py
Labels: Tests

adding tests
  tests/unit/models/components/clustering/test_kmeans.py
Labels: Tests

prep release
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Potential fix for pull request finding
  CHANGELOG.md
Labels: Docs

prek
  CHANGELOG.md
Labels: Docs

chore(release): prepare 2.6.2 release (#3790)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

chore(lib): bump to dev
  src/anomalib/__init__.py
Labels: none

chore(lib): bump to dev (#3791)
  src/anomalib/__init__.py
Labels: none

harden path checks
  CHANGELOG.md
  src/anomalib/callbacks/visualizer.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/download.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/utils/path.py
  tests/unit/data/utils/test_path.py
  tests/unit/data/utils/test_path_confinement.py
Labels: Docs, Tests

update license headers
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/utils/__init__.py
Labels: none

address copilot comments
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/image.py
Labels: none

address copilot comments
  src/anomalib/data/datasets/image/mvtecad.py
  tests/unit/data/utils/test_path_confinement.py
Labels: Tests

address copilot comments
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datasets/image/tabular.py
  tests/unit/data/utils/test_path_confinement.py
Labels: Tests

Revert "fix(data): harden path checks (#3794)"
  CHANGELOG.md
  src/anomalib/callbacks/visualizer.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/download.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/utils/path.py
  src/anomalib/utils/__init__.py
  tests/unit/data/utils/test_path.py
  tests/unit/data/utils/test_path_confinement.py
Labels: Docs, Tests

remaining path issues
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datasets/image/datumaro.py
  tests/unit/data/utils/test_path_confinement.py
Labels: Tests

Potential fix for pull request finding
  src/anomalib/data/datamodules/image/visa.py
Labels: none

address codeql comment
  tests/unit/data/utils/test_path_confinement.py
Labels: Tests

address prek
  src/anomalib/data/datamodules/image/visa.py
Labels: none

fix(metrics): compute AUPR as step-wise average precision
  CHANGELOG.md
  src/anomalib/metrics/aupr.py
  tests/unit/metrics/test_aupr.py
Labels: Docs, Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
