Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Refactor augmentation coefficient and transform selection in EfficientAdModel
  src/anomalib/models/image/efficient_ad/torch_model.py
Labels: none

Add utility functions for generating ROC-style plots in metrics module
  src/anomalib/metrics/utils.py
Labels: none

Refactor metric plotting functions to use unified utility
  src/anomalib/metrics/aupr.py
  src/anomalib/metrics/aupro.py
  src/anomalib/metrics/auroc.py
Labels: none

Add deprecation utilities to manage API changes
  src/anomalib/utils/__init__.py
  src/anomalib/utils/deprecation.py
Labels: none

fix mypy
  src/anomalib/utils/deprecation.py
Labels: none

fix mypy
  src/anomalib/utils/deprecation.py
Labels: none

fix mypy
  src/anomalib/utils/deprecation.py
Labels: none

Implement deprecation for AnomalyModule class
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/utils/deprecation.py
Labels: none

Implement deprecation for MVTec and MVTecDataset classes
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad.py
Labels: none

Implement deprecation for BaseThreshold class
  src/anomalib/metrics/threshold/base.py
  tests/unit/metrics/threshold/test_threshold.py
Labels: Tests

Add additional parameters to deprecate utility
  src/anomalib/utils/deprecation.py
Labels: none

Remove exception handling utilities for anomaly detection
  src/anomalib/utils/exceptions/__init__.py
  src/anomalib/utils/exceptions/imports.py
Labels: none

Remove exception handling utilities for anomaly detection
  src/anomalib/metrics/utils.py
Labels: none

Update AUPR plot labels for clarity
  src/anomalib/metrics/aupr.py
Labels: none

Update src/anomalib/metrics/aupro.py
  src/anomalib/metrics/aupro.py
Labels: none

chore: Add Commitizen hooks for commit message and branch management
  .pre-commit-config.yaml
Labels: Setup

docs(.gitmessage): Add commit message template for standardized contributions
  .gitmessage
Labels: Setup

docs(CONTRIBUTING): Update contribution guidelines to include Commitizen for conventional commits
  CONTRIBUTING.md
  docs/source/markdown/guides/developer/contributing.md
Labels: Docs

chore: Add Commitizen configuration to pyproject.toml and create a commit message template
  .github/gitmessage
  pyproject.toml
Labels: CI, Setup

ci: Add reusable workflows for commit message validation and version bumping
  .github/workflows/_reusable-commit-message-check.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/pr.yaml
Labels: CI

chore: Remove CHANGELOG reminder from pull request template
  .github/pull_request_template.md
Labels: CI

chore: remove .gitmessage file containing commit message guidelines
  .gitmessage
Labels: Setup

ci: Enhance commit message validation workflow to exclude merge commits
  .github/workflows/_reusable-commit-message-check.yaml
Labels: CI

ci: Update dry-run environment variable handling in version bump workflow
  .github/workflows/_reusable-version-bump.yaml
Labels: CI

fix(data): enhance ToNumpyMixin for improved tensor conversion
  src/anomalib/data/dataclasses/torch/base.py
Labels: none

refactor(visualizer): remove unnecessary warning log in `visualize_image_item`
  src/anomalib/visualization/image/item_visualizer.py
Labels: none

fix(export): enhance model export with flexible kwargs support for ONNX and OpenVINO
  src/anomalib/cli/cli.py
  src/anomalib/cli/utils/openvino.py
  src/anomalib/engine/engine.py
  src/anomalib/models/components/base/export_mixin.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
Labels: Tests

fix(visualization): modify the image font loading logic to ensure the right font is installed
  pyproject.toml
  src/anomalib/visualization/image/functional.py
Labels: Setup

Matched code to the original implementation
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

feat(data): added mpdd dataset
  examples/configs/data/mpdd.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/mpdd.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

feat(data): added mpdd dataset
  src/anomalib/data/datasets/image/mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

feat(data): added mpdd dataset
  examples/configs/data/mpdd.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/mpdd.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

feat(data): added mpdd dataset
  src/anomalib/data/datasets/image/mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

Added support for gpu
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

chore(pre-commit): update dependencies and configurations in .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: Setup

chore: update pre-commit hooks to latest versions
  .pre-commit-config.yaml
Labels: Setup

chore: update pre-commit configuration and clean up documentation
  .pre-commit-config.yaml
  CONTRIBUTING.md
  MAINTAINERS.md
  docs/source/markdown/guides/developer/contributing.md
  docs/source/markdown/guides/how_to/data/dataclasses.md
  docs/source/markdown/guides/how_to/data/datamodules.md
  docs/source/markdown/guides/how_to/data/datasets.md
  examples/notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/callbacks/visualizer.py
  src/anomalib/cli/cli.py
  src/anomalib/deploy/inferencers/base_inferencer.py
  src/anomalib/metrics/threshold/base.py
  src/anomalib/models/image/cfa/anomaly_map.py
  src/anomalib/models/image/cfa/loss.py
  src/anomalib/models/image/cflow/anomaly_map.py
  src/anomalib/models/image/padim/anomaly_map.py
  src/anomalib/models/video/ai_vad/features.py
  src/anomalib/utils/config.py
  src/anomalib/utils/visualization/explanation.py
  src/anomalib/utils/visualization/image.py
  src/anomalib/utils/visualization/metrics.py
  tests/unit/metrics/pimo/test_binary_classification_curve.py
  tests/unit/models/test_feature_extractor.py
Labels: Docs, Setup, Tests

fix(tests): update exception messages in unit tests to use raw string notation
  tests/unit/cli/test_installation.py
  tests/unit/data/datamodule/image/test_mvtecad2.py
  tests/unit/data/utils/test_path.py
  tests/unit/data/validators/numpy/test_depth.py
  tests/unit/data/validators/numpy/test_image.py
  tests/unit/data/validators/numpy/test_video.py
  tests/unit/data/validators/torch/test_depth.py
  tests/unit/data/validators/torch/test_image.py
  tests/unit/data/validators/torch/test_video.py
  tests/unit/metrics/test_anomalib_metric.py
  tests/unit/metrics/threshold/test_threshold.py
  tests/unit/models/components/base/test_dynamic_buffer_mixin.py
  tests/unit/models/image/winclip/test_utils.py
  tests/unit/visualization/image/test_functional.py
Labels: Tests

refactor: standardize variable naming conventions across the codebase
  src/anomalib/engine/engine.py
  src/anomalib/metrics/aupro.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/vlm_ad/backends/huggingface.py
  src/anomalib/pipelines/benchmark/job.py
  src/anomalib/pipelines/components/base/pipeline.py
  src/anomalib/pipelines/components/utils/grid_search.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/utils/config.py
  tests/conftest.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
  tests/unit/data/datamodule/depth/test_folder_3d.py
  tests/unit/data/datamodule/depth/test_mvtec_3d.py
  tests/unit/data/datamodule/image/test_btech.py
  tests/unit/data/datamodule/image/test_datumaro.py
  tests/unit/data/datamodule/image/test_folder.py
  tests/unit/data/datamodule/image/test_kolektor.py
  tests/unit/data/datamodule/image/test_mvtec_ad.py
  tests/unit/data/datamodule/image/test_mvtecad2.py
  tests/unit/data/datamodule/image/test_realiad.py
  tests/unit/data/datamodule/image/test_tabular.py
  tests/unit/data/datamodule/image/test_vad.py
  tests/unit/data/datamodule/image/test_visa.py
  tests/unit/data/datamodule/video/test_avenue.py
  tests/unit/data/datamodule/video/test_shanghaitech.py
  tests/unit/data/datamodule/video/test_ucsdped.py
  tests/unit/utils/test_visualizer.py
Labels: Tests

refactor: standardize variable naming conventions across the codebase
  src/anomalib/callbacks/nncf/utils.py
  src/anomalib/callbacks/visualizer.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
