Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Show model names
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Add accidentally removed line
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

address PR comments
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

prettier
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

address PR comments
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Add app release candidate workflow
  .github/workflows/publish-rc-app.yml
Labels: CI

pin jsonargparse version
  pyproject.toml
Labels: Setup

push uv.lock
  uv.lock
Labels: none

Fix extra spaces
  .github/workflows/publish-rc-app.yml
Labels: CI

fix(tests): pin jsonargparse version (#3417)
  pyproject.toml
  uv.lock
Labels: Setup

fix(application): use model names (#3416)
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Fix L2BT README lint issues
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/tests/test_l2bt_torch_forward.py
Labels: none

Fix L2BT lint and typing issues
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/config.yaml
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/students.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
Labels: none

Make chunk_size module-level constant for better readability
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Make chunk size power of 2, as performance slightly better
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Use in-place operation to avoid unnecessary memory overhead
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Remove unnecessary pre-allocation that breaks ONNX export
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

fix: address bandit findings and apply ruff formatting for L2BT
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
Labels: none

Fix use of undefined var
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Fix training whitespaces
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Incorporate Copilot suggestion about inaccurate comment
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

fix
  application/backend/src/core/scheduler.py
  application/binary/tauri/src-tauri/src/lib.rs
  application/ui/package-lock.json
Labels: none

revert package lock to match main
  application/ui/package-lock.json
Labels: none

change pre_trained path for Dinov2Loader
  src/anomalib/models/components/dinov2/dinov2_loader.py
Labels: none

fix(stream): streaming and pre trained model path issues (#3422)
  application/backend/src/core/scheduler.py
  application/binary/tauri/src-tauri/src/lib.rs
  src/anomalib/models/components/dinov2/dinov2_loader.py
Labels: none

🐛 fix(model): Patchcore: Solves GPU memory bottleneck (kNN) during inference (#3415)
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Small fixes
  .github/workflows/publish-rc-app.yml
Labels: CI

added folder as a source option
  .gitignore
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/services/configuration_service.py
  application/docker/Dockerfile
  application/docker/docker-compose.yml
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
Labels: Setup

removed mockserviceworker
  .gitignore
Labels: Setup

ci: Add application docker image release candidate publish workflow (#3418)
  .github/workflows/publish-rc-app.yml
Labels: CI

update uv.lock
  application/backend/uv.lock
  uv.lock
Labels: none

fix: Fixed train dialog button, fixed sources path overflow
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
Labels: none

fix: update image path to docs directory
  docs/source/images/models/l2bt/architecture.jpg
  examples/configs/model/l2bt.yaml
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/config.yaml
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/students.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
Labels: Docs

fix: finalize review updates for L2BT
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/teacher.py
Labels: none

fix: register L2BT and address review comments
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
Labels: none

fix: update README, correct image path, and add L2BT unit tests
  docs/source/images/l2bt/architecture.jpg
  src/anomalib/models/image/l2bt/README.md
  tests/unit/models/image/l2bt/test_l2bt.py
Labels: Docs, Tests

fix(stream): streaming and pre trained model path issues (#3422)
  application/backend/src/core/scheduler.py
  application/binary/tauri/src-tauri/src/lib.rs
  src/anomalib/models/components/dinov2/dinov2_loader.py
Labels: none

pass the test
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/__init__.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_loss.py
  tests/unit/models/image/patchflow/test_torch_model.py
Labels: Tests

ci: Add application docker image release candidate publish workflow (#3418)
  .github/workflows/publish-rc-app.yml
Labels: CI

🐛 fix(model): Patchcore: Solves GPU memory bottleneck (kNN) during inference (#3415)
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none
