Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

capture animation
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/delete-dataset-item/alert-dialog-content.component.tsx
  application/ui/src/features/inspect/stream/stream.module.scss
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/hooks/event-listener/event-listener.hook.ts
Labels: none

call revokeObjectURL
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/stream/util.tsx
Labels: none

feat(model): Fix delete_model removing associated training jobs
  application/backend/src/services/model_service.py
Labels: none

feat(inspect): enhance ModelsView
  application/ui/src/assets/icons/active-icon.svg
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/loading-icon.svg
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models-view.module.scss
  application/ui/src/features/inspect/utils.ts
Labels: none

Add docker files
  .dockerignore
  .gitignore
  application/.packaging/docker/Dockerfile
  application/.packaging/docker/docker-compose.yml
  application/.packaging/docker/nginx.conf
  application/backend/pyproject.toml
  application/backend/src/main.py
  application/backend/src/settings.py
  application/backend/uv.lock
  uv.lock
Labels: Setup

Adjusted styling
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models-view.module.scss
Labels: none

Fixed tests
  application/backend/tests/unit/services/test_model_service.py
Labels: none

ci: update renovate config
  .github/renovate.json5
Labels: CI

Fixed comments
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/model-status-badges.component.tsx
  application/ui/src/features/inspect/models/model-types.ts
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models-view.module.scss
Labels: none

Fixed format
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Fix non-root user mounting issues
  application/.packaging/docker/Dockerfile
  application/.packaging/docker/docker-compose.yml
Labels: none

feat(inspect): enhance ModelsView (#3135)
  application/ui/src/assets/icons/active-icon.svg
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/loading-icon.svg
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/model-status-badges.component.tsx
  application/ui/src/features/inspect/models/model-types.ts
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models-view.module.scss
  application/ui/src/features/inspect/utils.ts
Labels: none

capture direct feed
  application/backend/src/api/endpoints/capture_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/main.py
  application/backend/src/services/media_service.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

/capture -> /images
  application/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

Update application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
Labels: none

Update application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
Labels: none

Update application/backend/src/services/media_service.py
  application/backend/src/services/media_service.py
Labels: none

fix
  application/backend/src/services/media_service.py
Labels: none

fix: update broken URL to MVTec AD dataset
  src/anomalib/data/datamodules/image/mvtecad.py
Labels: none

add categories mathcing huggingface
  src/anomalib/data/datasets/image/realiad.py
Labels: none

ci: update renovate config
  .github/renovate.json5
Labels: CI

fix style and add missing test
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
Labels: none

fix style
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/layers/block.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/attention.py
  src/anomalib/models/components/dinov2/layers/attention.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/layer_scale.py
  src/anomalib/models/components/dinov2/layers/layer_scale.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/mlp.py
  src/anomalib/models/components/dinov2/layers/mlp.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
Labels: none

Update src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
Labels: none

Update src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/components/dinov2/vision_transformer.py
Labels: none

Update Dockerfile to include g++ and modify CORS settings in main.py to allow all origins. Update package-lock.json with new dependencies and version upgrades for various packages.
  application/.packaging/docker/Dockerfile
  application/backend/src/main.py
  application/ui/package-lock.json
Labels: none

fix proxy issue
  application/.packaging/docker/Dockerfile
Labels: none

feat(inspect): Capture frame (#3133)
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/alert-dialog-content.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-dataset-item.module.scss
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.module.scss
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/stream/util.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/hooks/event-listener/event-listener.hook.ts
Labels: none

Added transaction to the delete
  application/backend/src/services/model_service.py
Labels: none

feat(inspect): true source frame capture (#3137)
  application/backend/src/api/endpoints/capture_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/main.py
  application/backend/src/services/media_service.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/services/test_media_service.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
  application/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

fix(inspect): stop model table selection loop after training
  application/ui/src/features/inspect/models/models-view.component.tsx
Labels: none

Fixed linter
  application/backend/src/services/model_service.py
Labels: none

remove model selector from the toolbar
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/footer/training-status-item.component.tsx
  application/ui/src/features/inspect/toolbar/models-picker.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-model.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
