Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

removing uv.lock from merge
  uv.lock
Labels: none

ci: Enable security checks on push
  .github/workflows/security-checks.yaml
Labels: CI

Update model initialization arguments in get_model's docstring
  src/anomalib/models/__init__.py
Labels: none

add back docs
  src/anomalib/models/__init__.py
Labels: none

fix stream format from bgr24 to rgb24
  application/backend/src/webrtc/stream.py
Labels: none

ci: Enable security checks on push (#3232)
  .github/workflows/security-checks.yaml
Labels: CI

fix(inspect): stream uses wrong color channels (#3235)
  application/backend/src/webrtc/stream.py
Labels: none

WIP commit
  autovi.py
Labels: none

feature(dataset): adding AutoVI dataset
  autovi.py
Labels: none

Remove trackio
  application/backend/pyproject.toml
  application/backend/src/services/training_service.py
  application/backend/src/utils/experiment_loggers/__init__.py
  application/backend/src/utils/experiment_loggers/trackio.py
  application/backend/tests/unit/services/test_training_service.py
  application/backend/uv.lock
Labels: none

fix media selection
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/util.ts
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
Labels: none

apply aspect ratio on inference img
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/util.ts
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
Labels: none

fix with ZoomTransform
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/util.ts
Labels: none

Update application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
Labels: none

Update application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
Labels: none

remove unused ref
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
Labels: none

Fixed comments
  application/backend/src/core/model_metadata.yaml
  application/backend/src/pydantic_models/trainable_model.py
Labels: none

Update application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
Labels: none

Fixed comment
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
Labels: none

Fixed comments
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
Labels: none

Fix typo in augmentation docstring (dto -> to)
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/folder_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/datumaro.py
  src/anomalib/data/datamodules/image/folder.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
Labels: none

feat(inspect): Project delete and project thumbnail (#3229)
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.test.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
Labels: none

fix(inspect): preview inference (#3219)
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
Labels: none

Fix pre-commit
  src/anomalib/pipelines/benchmark/pipeline.py
Labels: none

Restore uv.lock
  uv.lock
Labels: none

port webrtc improvements from Geti prompt/tune
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/endpoints/webrtc.py
  application/backend/src/core/lifecycle.py
  application/backend/src/pydantic_models/webrtc.py
  application/backend/src/settings.py
  application/backend/src/webrtc/manager.py
  application/backend/src/webrtc/sdp_handler.py
  application/backend/tests/unit/endpoints/test_webrtc.py
  application/ui/src/components/stream/web-rtc-connection.ts
  uv.lock
Labels: none

Update application/backend/tests/unit/endpoints/test_webrtc.py
  application/backend/tests/unit/endpoints/test_webrtc.py
Labels: none

feat(inspect): Updated trainable models endpoint with metadata (#3226)
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/backend/src/core/model_metadata.yaml
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

fix color for capture endpoint
  application/backend/src/api/endpoints/capture_endpoints.py
Labels: none

fix(inspect): fix color on captured images (#3243)
  application/backend/src/api/endpoints/capture_endpoints.py
Labels: none

docs: fix docstring parameters in _process_features_for_spatial_output
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

fix: support non-square input images in DinomalyModel
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

fix(model): Support non-square input images in Dinomaly Model (#3113)
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

Removed metrics
  application/backend/src/core/model_metadata.yaml
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
  application/ui/mocks/mock-trainable-models.ts
  application/ui/src/features/inspect/train-model/trainable-model-card.component.tsx
  application/ui/src/features/inspect/train-model/types.ts
Labels: none

fix(model): Clean up imports and formatting in Dinomaly model
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

Fixed comments
  application/backend/src/pydantic_models/trainable_model.py
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

fix(logging): remove trackio (#3237)
  application/backend/pyproject.toml
  application/backend/src/services/training_service.py
  application/backend/src/utils/experiment_loggers/__init__.py
  application/backend/src/utils/experiment_loggers/trackio.py
  application/backend/tests/unit/services/test_training_service.py
  application/backend/uv.lock
Labels: none

feat(inspect): Renamed the "Webcam" source type to "USB Camera" throughout the backend and UI.
  application/backend/src/entities/usb_camera_stream.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/services/video_stream_service.py
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/usb-camera.svg
  application/ui/src/features/inspect/toolbar/sources/edit-source-form.component.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-icon/source-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.test.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/features/inspect/toolbar/sources/webcam/utils.ts
Labels: none

Add initial docs
  CHANGELOG.md
  application/docs/README.md
  application/docs/api-reference.md
  application/docs/backend.md
  application/docs/configuration.md
  application/docs/deployment.md
  application/docs/frontend.md
  application/docs/getting-started.md
Labels: Docs

Revert allow origins
  application/backend/src/main.py
Labels: none
