Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

chore: Refactor CFM model initialization by removing image_size parameter
  src/anomalib/models/__init__.py
  src/anomalib/models/image/cfm/torch_model.py
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

docs
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/inp_former/README.md
Labels: Docs

add files
  docs/source/markdown/guides/reference/models/image/inp_former.md
Labels: Docs

feat(model): Add INP-Former finished (#3605)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/inp_former.md
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/inp_former/LICENSE
  src/anomalib/models/image/inp_former/README.md
  src/anomalib/models/image/inp_former/__init__.py
  src/anomalib/models/image/inp_former/components/__init__.py
  src/anomalib/models/image/inp_former/components/layers.py
  src/anomalib/models/image/inp_former/components/loss.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: Docs

🚀 feat(model): add CFM anomaly detection model (#3588)
  examples/configs/model/cfm.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/cfm/README.md
  src/anomalib/models/image/cfm/__init__.py
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/torch_model.py
  src/anomalib/models/image/cfm/utils.py
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

fixes
  CHANGELOG.md
  examples/configs/model/cfm.yaml
  src/anomalib/models/image/cfm/README.md
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/torch_model.py
  tests/helpers/data.py
  tests/integration/model/test_models.py
  tests/unit/models/image/cfm/test_cfm.py
  uv.lock
Labels: Docs, Tests

fix init
  src/anomalib/models/image/__init__.py
Labels: none

Address copilot comments
  examples/configs/model/cfm.yaml
  src/anomalib/models/image/cfm/README.md
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/torch_model.py
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

Address copilot comments pt. 2
  docs/source/markdown/guides/reference/models/image/cfm.md
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/torch_model.py
  src/anomalib/models/image/cfm/utils.py
  tests/unit/models/image/cfm/test_cfm.py
  third-party-programs.txt
Labels: Docs, Tests

address semgrep issue
  src/anomalib/models/image/cfm/components.py
Labels: none

revert changes
  src/anomalib/models/image/cfm/components.py
Labels: none

ignore semgrep
  src/anomalib/models/image/cfm/components.py
Labels: none

address copilot comments
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/utils.py
Labels: none

update comments
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
Labels: none

minor refactor
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

feat(model): add CFM (#3611)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/cfm.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/cfm.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/cfm/README.md
  src/anomalib/models/image/cfm/__init__.py
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/torch_model.py
  src/anomalib/models/image/cfm/utils.py
  tests/helpers/data.py
  tests/integration/model/test_models.py
  tests/unit/models/image/cfm/test_cfm.py
  third-party-programs.txt
  uv.lock
Labels: Docs, Tests

remove unused methods
  src/anomalib/models/image/cfm/utils.py
Labels: none

update docs
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

address copilot comments
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/inp_former.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: Docs

add thirdparty.txt
  third-party-programs.txt
Labels: none

Updated for CUDA EULA Compliance
  application/docker/Dockerfile
Labels: none

replace exception with warning
  src/anomalib/models/image/cfm/components.py
Labels: none

reduce dims to fit memory
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

update changelog
  CHANGELOG.md
Labels: Docs

Apply suggestions from code review
  README.md
Labels: Docs

update to dev
  src/anomalib/__init__.py
Labels: none

super add wip
  src/anomalib/models/__init__.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/super_add/__init__.py
  src/anomalib/models/image/super_add/anomaly_map.py
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

inp former float 16
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

replace dinvo2 loader by timm
  examples/configs/model/anomaly_dino.yaml
  examples/configs/model/dinomaly.yaml
  examples/configs/model/inp_former.yaml
  examples/configs/model/patchflow/dino.yaml
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
  src/anomalib/models/image/dinomaly/components/__init__.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/patchflow/README.md
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
  tests/unit/models/components/dinov2/test_vit.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
  tests/unit/models/test_feature_extractor.py
Labels: Tests

add huge dinov3 depth
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

dinomaly dinov3
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

torch hub
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

wip super-add
  src/anomalib/models/image/super_add/__init__.py
  src/anomalib/models/image/super_add/anomaly_map.py
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

save hparams undo
  src/anomalib/models/components/base/anomalib_module.py
Labels: none

fix(data): use split.value for pandas comparison in dataset loaders
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
Labels: none

pos_embedding and norm feature extractor
  .gitignore
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Setup, Tests

unit test
  src/anomalib/models/image/anomaly_dino/torch_model.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Tests

remove pos_embedding
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: none

fix unit test
  src/anomalib/models/image/anomaly_dino/torch_model.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Tests

patch timm to export ViT models
  src/anomalib/models/components/base/export_mixin.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
