Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

🐛 fix(tensorboard): Improve TensorBoardLogger import handling and add dummy class for missing dependency
  src/anomalib/loggers/tensorboard.py
Labels: none

🐛 fix(wandb): Enhance WandbLogger import handling and add dummy class for missing dependency
  src/anomalib/loggers/wandb.py
Labels: none

🐛 fix(chat_gpt): Enhance dotenv import handling and update API key retrieval logic to account for missing dependency
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
Labels: none

🐛 fix(ollama): Improve import handling for Ollama dependency and add dummy class for missing package
  src/anomalib/models/image/vlm_ad/backends/ollama.py
Labels: none

🐛 fix(winclip): Improve import handling for open_clip dependency and raise informative error messages for missing package
  src/anomalib/models/image/winclip/torch_model.py
Labels: none

🐛 fix(imports): Introduce OptionalImport class for cleaner handling of optional dependencies and update video and ollama modules to utilize it for improved error messaging.
  src/anomalib/data/utils/video.py
  src/anomalib/loggers/comet.py
  src/anomalib/loggers/mlflow.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/loggers/wandb.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
  src/anomalib/utils/imports.py
Labels: none

🐛 fix(imports): Update error messaging in OptionalImport class to enhance clarity when dependencies are missing.
  src/anomalib/utils/imports.py
Labels: none

add tests for services
  app/backend/pyproject.toml
  app/backend/src/services/__init__.py
  app/backend/src/services/model_service.py
  app/backend/tests/unit/conftest.py
  app/backend/tests/unit/services/test_job_service.py
  app/backend/tests/unit/services/test_media_service.py
  app/backend/tests/unit/services/test_model_service.py
  app/backend/tests/unit/services/test_project_service.py
  app/backend/tests/unit/services/test_training_service.py
  app/backend/uv.lock
Labels: none

style fix
  app/backend/pyproject.toml
  app/backend/tests/unit/endpoints/test_jobs.py
  app/backend/tests/unit/endpoints/test_projects.py
Labels: none

🚀 feat(path): Attempt to create 'latest' shortcuts on windows machines better.
  src/anomalib/utils/path.py
Labels: none

style fix
  app/backend/pyproject.toml
Labels: none

style fix
  app/backend/pyproject.toml
Labels: none

style fix
  app/backend/pyproject.toml
Labels: none

style fix
  app/backend/pyproject.toml
  app/backend/tests/unit/endpoints/test_media.py
  app/backend/tests/unit/endpoints/test_models.py
Labels: none

🐛 fix(path): Refactor Windows junction handling to use Path.symlink_to and improve fallback mechanism for 'latest' link creation.
  src/anomalib/utils/path.py
Labels: none

🗑️ chore(imports): remove OptionalImport class for optional dependency handling
  src/anomalib/utils/imports.py
Labels: none

🐛 fix(imports): Replace OptionalImport with dummy classes for missing dependencies
  src/anomalib/data/utils/video.py
  src/anomalib/loggers/comet.py
  src/anomalib/loggers/mlflow.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/loggers/wandb.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
Labels: none

Add github actions for ui and server of geti inspect
  .github/workflows/geti-inspect.yaml
Labels: CI

Exclude UI from pre-commit prettier configuration
  .pre-commit-config.yaml
Labels: Setup

Add newline to .prettierignore
  app/ui/.prettierignore
Labels: none

Apply prettier to `geti-inspect.yaml`
  .github/workflows/geti-inspect.yaml
Labels: CI

Generate OpenAPI spec before running UI checks
  .github/workflows/geti-inspect.yaml
Labels: CI

Checkout with lfs
  .github/workflows/geti-inspect.yaml
Labels: CI

switch to use async session context manager
  app/backend/src/api/dependencies.py
  app/backend/src/db/engine.py
  app/backend/src/repositories/model_repo.py
  app/backend/src/services/job_service.py
  app/backend/src/services/media_service.py
  app/backend/src/services/model_service.py
  app/backend/src/services/project_service.py
  app/backend/src/services/training_service.py
Labels: none

Fix lint issues by removing wip components
  app/ui/playwright.config.ts
  app/ui/src/components/error-page/error-page.tsx
  app/ui/src/components/stream/web-rtc-connection-provider.tsx
  app/ui/src/components/stream/web-rtc-connection.ts
  app/ui/src/components/zoom/use-container-size.ts
  app/ui/src/features/inference/aside.tsx
  app/ui/src/features/inference/source/source-form.tsx
  app/ui/src/features/inference/source/source-modal.tsx
  app/ui/src/features/inference/toolbar.tsx
  app/ui/src/msw-browser-setup.ts
  app/ui/tests/fixtures.ts
Labels: none

Try installing git lfs in the playwright docker image
  .github/workflows/geti-inspect.yaml
Labels: CI

Fix unused noqa
  app/backend/src/cli.py
Labels: none

🔧 chore(inspect): Add Githbu Action workflows for geti inspect (#2961)
  .github/workflows/geti-inspect.yaml
  .pre-commit-config.yaml
  app/backend/src/cli.py
  app/ui/.prettierignore
  app/ui/playwright.config.ts
  app/ui/src/components/error-page/error-page.tsx
  app/ui/src/components/stream/web-rtc-connection-provider.tsx
  app/ui/src/components/stream/web-rtc-connection.ts
  app/ui/src/components/zoom/use-container-size.ts
  app/ui/src/features/inference/aside.tsx
  app/ui/src/features/inference/source/source-form.tsx
  app/ui/src/features/inference/source/source-modal.tsx
  app/ui/src/features/inference/toolbar.tsx
  app/ui/src/msw-browser-setup.ts
  app/ui/tests/fixtures.ts
Labels: CI, Setup

Rename infernece to inspect
  app/ui/src/layout.tsx
  app/ui/src/router.tsx
  app/ui/src/routes/inspect/inspect.tsx
Labels: none

Remove MSW browser worker
  app/ui/public/mockServiceWorker.js
  app/ui/src/index.tsx
  app/ui/src/msw-browser-setup.ts
Labels: none

Add OpenAPI route
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/rsbuild.config.ts
  app/ui/src/layout.tsx
  app/ui/src/router.tsx
  app/ui/src/routes/openapi/openapi.module.scss
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

Update navbar title
  app/ui/src/layout.tsx
Labels: none

Rename infernece to inspect
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/inference.module.scss
  app/ui/src/features/inspect/stream/stream-container.tsx
  app/ui/src/features/inspect/stream/stream.tsx
  app/ui/src/features/inspect/toolbar.tsx
  app/ui/src/routes/inspect/inspect.tsx
Labels: none

fix unit tests
  app/backend/tests/unit/services/test_job_service.py
  app/backend/tests/unit/services/test_media_service.py
  app/backend/tests/unit/services/test_model_service.py
  app/backend/tests/unit/services/test_project_service.py
Labels: none

🔧 chore(inspect): Update route structure and add openapi route (#2963)
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/public/mockServiceWorker.js
  app/ui/rsbuild.config.ts
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/inference.module.scss
  app/ui/src/features/inspect/stream/stream-container.tsx
  app/ui/src/features/inspect/stream/stream.tsx
  app/ui/src/features/inspect/toolbar.tsx
  app/ui/src/index.tsx
  app/ui/src/layout.tsx
  app/ui/src/msw-browser-setup.ts
  app/ui/src/router.tsx
  app/ui/src/routes/inspect/inspect.tsx
  app/ui/src/routes/openapi/openapi.module.scss
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

fix frame aquisition worker and rename pipiline endpoints
  app/backend/src/api/endpoints/pipeline_endpoints.py
  app/backend/src/core/scheduler.py
  app/backend/src/main.py
  app/backend/src/workers/stream_loading.py
Labels: none

add pipeline endpoints
  app/backend/src/api/dependencies.py
  app/backend/src/api/endpoints/pipelines.py
  app/backend/src/core/scheduler.py
  app/backend/src/db/schema.py
  app/backend/src/main.py
  app/backend/src/pydantic_models/metrics.py
  app/backend/src/pydantic_models/pipeline.py
  app/backend/src/repositories/__init__.py
  app/backend/src/repositories/base.py
  app/backend/src/repositories/job_repo.py
  app/backend/src/repositories/mappers/__init__.py
  app/backend/src/repositories/mappers/pipeline_mapper.py
  app/backend/src/repositories/mappers/sink_mapper.py
  app/backend/src/repositories/mappers/source_mapper.py
  app/backend/src/repositories/pipeline_repo.py
  app/backend/src/repositories/project_repo.py
  app/backend/src/services/__init__.py
  app/backend/src/services/active_pipeline_service.py
  app/backend/src/services/job_service.py
  app/backend/src/services/parent_process_guard.py
  app/backend/src/services/pipeline_service.py
  app/backend/src/services/training_service.py
  app/backend/src/workers/inference.py
Labels: none

add sources and sinks endpoints
  app/backend/src/api/dependencies.py
  app/backend/src/api/endpoints/sink_endpoints.py
  app/backend/src/api/endpoints/source_endpoints.py
  app/backend/src/db/__init__.py
  app/backend/src/main.py
  app/backend/src/repositories/__init__.py
  app/backend/src/repositories/sink_repo.py
  app/backend/src/repositories/source_repo.py
  app/backend/src/services/__init__.py
  app/backend/src/services/active_pipeline_service.py
  app/backend/src/services/configuration_service.py
  app/backend/src/services/exceptions.py
  app/backend/src/services/job_service.py
  app/backend/src/services/media_service.py
  app/backend/src/services/model_service.py
  app/backend/src/services/pipeline_service.py
  app/backend/src/services/project_service.py
Labels: none

stream loading working
  app/backend/pyproject.toml
  app/backend/src/db/schema.py
  app/backend/src/main.py
  app/backend/src/pydantic_models/pipeline.py
  app/backend/src/repositories/base.py
  app/backend/src/workers/stream_loading.py
  app/backend/uv.lock
Labels: none

add webrtc endpoints
  app/backend/src/api/dependencies.py
  app/backend/src/api/endpoints/webrtc.py
  app/backend/src/core/lifecycle.py
  app/backend/src/webrtc/__init__.py
  app/backend/src/webrtc/manager.py
  app/backend/src/webrtc/stream.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
