Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Add Mark's changes
  application/ui/src/api/fetch-sse.ts
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/statusbar/items/progressbar.component.tsx
  application/ui/src/features/inspect/statusbar/statusbar.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

remove local semgrep action
  .github/actions/security/semgrep/README.md
  .github/actions/security/semgrep/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

address comments
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/main.py
  application/backend/src/services/dispatchers/mqtt.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/base.py
  application/backend/tests/unit/endpoints/test_media.py
Labels: none

update sha
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

update semgrepignore
  .semgrepignore
Labels: none

Use job.message for informing training stage
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
  application/ui/src/features/inspect/footer/footer.component.tsx
Labels: none

feat(inspect): delete media endpoint (#3082)
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/media.py
  application/backend/src/services/dispatchers/mqtt.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/media_service.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/base.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

update vites config
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.test.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.compnent.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.test.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.test.tsx
  application/ui/vitest.config.ts
Labels: none

implement EditSource component
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.module.scss
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-factory.compnent.tsx
  application/ui/src/features/inspect/toolbar/sources/source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.component.tsx
Labels: none

group disclosure config
  application/ui/src/assets/icons/pipeline-link.svg
  application/ui/src/components/disclosure-group/disclosure-group.component.tsx
  application/ui/src/components/disclosure-group/disclosure-group.module.scss
  application/ui/src/features/inspect/toolbar/inference-opacity.tsx
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

add SourceMenu unit tests
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/providers.tsx
Labels: none

refactor edit and new source components
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.module.scss
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.module.scss
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/edit-ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/edit-ip-camera.module.scss
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.module.scss
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.test.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/utils.ts
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.test.tsx
Labels: none

display source config details
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/pipeline-link.svg
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.module.scss
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/source-icon/source-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/status-tag/status-tag.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/utils.ts
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.module.scss
Labels: none

refactor api-camera, split it in two components
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.module.scss
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/add-ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/add-ip-camera.test.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/edit-ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/edit-ip-camera.module.scss
  application/ui/src/features/inspect/toolbar/sources/ip-camera/edit-ip-camera.test.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fileds.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

render SourceOptions
  application/ui/src/assets/icons/folder.svg
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.module.scss
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder.test.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.tsx
  application/ui/src/features/inspect/toolbar/sources/util.test.ts
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.module.scss
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file.test.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam.test.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

render sourcer list and connection status
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-factory.compnent.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.compnent.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/status-tag/status-tag.component.tsx
  application/ui/src/features/inspect/toolbar/sources/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/index.css
Labels: none

update source API
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.test.tsx
Labels: none

update forms with projectId
  application/ui/src/assets/icons/index.ts
  application/ui/src/features/inspect/toolbar/sources/edit-source-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/utils.ts
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

fix Pr comments
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source-form.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/image-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/source-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-icon/source-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/providers.tsx
  application/ui/vitest.config.ts
Labels: none

add pre-commit config to application
  application/.pre-commit-config.yaml
Labels: none

fix style
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/cli.py
  application/backend/src/core/logging/setup.py
  application/backend/src/core/logging/utils.py
  application/backend/src/core/scheduler.py
  application/backend/src/repositories/base.py
  application/backend/src/repositories/mappers/sink_mapper.py
  application/backend/src/services/job_service.py
  application/backend/src/services/media_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/devices.py
  application/backend/src/utils/experiment_loggers/trackio.py
  application/backend/src/workers/base.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/backend/tests/unit/workers/test_stream_loading.py
  application/backend/tests/unit/workers/test_training.py
Labels: Setup

use prek
  application/.pre-commit-config.yaml
  application/backend/.pre-commit-config.yaml
Labels: none

comment
  application/.pre-commit-config.yaml
Labels: none

geti-inspect as optional dependency for anomalib
  .pre-commit-config.yaml
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

ci: migrate to prek for workspace mode support
  .github/actions/code-quality/pre-commit/action.yaml
  .github/workflows/_reusable-code-quality.yaml
  tox.ini
Labels: CI, Setup

update uv lock
  application/backend/uv.lock
Labels: none

comment
  .github/workflows/_reusable-code-quality.yaml
Labels: CI

Restore callback
  application/backend/src/services/training_service.py
Labels: none

Update application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/job.py
Labels: none

Add check for synchronization task
  application/backend/src/services/training_service.py
Labels: none

sources titles
  application/ui/src/features/inspect/toolbar/sources/edit-source-form.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
Labels: none

implements sink local-folder
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/add-sink/add-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.module.scss
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/output-formats.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-factory.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/utils.test.ts
  application/ui/src/features/inspect/toolbar/sinks/utils.ts
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

sink list
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/add-sink/add-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/source-icon/source-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/status-tag/status-tag.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/utils.ts
Labels: none

sink folder configuration
  application/ui/src/features/inspect/toolbar/sinks/edit-sink-form.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink/edit-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink/edit-sink.module.scss
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-icon/sink-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/utils.ts
Labels: none

webhook sink configuration
  application/ui/src/components/required-text-field/required-text-field.component.tsx
  application/ui/src/components/required-text-field/required-text-field.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink-form.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-menu/source-menu.component.tsx
Labels: none

mqtt sink config
  application/ui/src/components/required-text-field/required-text-field.component.tsx
  application/ui/src/components/required-text-field/required-text-field.test.tsx
  application/ui/src/components/status-tag/status-tag.component.tsx
  application/ui/src/components/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/sinks/add-sink/add-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink-form.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink/edit-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/output-formats.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-icon/sink-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/utils.test.ts
  application/ui/src/features/inspect/toolbar/sinks/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sources/source-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/status-tag/status-tag.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
Labels: none

ros sink config
  application/ui/src/features/inspect/toolbar/sinks/edit-sink-form.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/ros-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
Labels: none

add label for output options
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields copy/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/output-formats.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/output-formats/output-formats.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/output-formats/output-formats.module.scss
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/ros-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
Labels: none

fix style
  application/backend/src/services/job_service.py
  application/backend/tests/unit/services/test_job_service.py
Labels: none

fix style
  .github/workflows/geti-inspect.yaml
  application/backend/pyproject.toml
  application/backend/src/repositories/base.py
  application/backend/src/services/job_service.py
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
