Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Update ensemble tiling and fix tests
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_tiling.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/dummy_config.yaml
  tests/unit/pipelines/tiled_ensemble/test_tiler.py
Labels: Tests

Update normalisation and threshold on tile level
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/dummy_config.yaml
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

Fix datamodule data size
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

Refactor pred. data and merging
  src/anomalib/pipelines/tiled_ensemble/components/merging.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_data.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_merging.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
  tests/unit/pipelines/tiled_ensemble/test_prediction_data.py
Labels: Tests

Initial train refactor
  src/anomalib/pipelines/tiled_ensemble/components/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pipelines/tiled_ensemble/test_pipeline.py
  src/anomalib/pipelines/tiled_ensemble/train_pipeline.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

Refactored working training
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

Fix merging missing items, shapes + add test.
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_merging.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
Labels: Tests

Fix smoothing and tests
  src/anomalib/pipelines/tiled_ensemble/components/smoothing.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
Labels: Tests

Fix stats comp and tests
  src/anomalib/pipelines/tiled_ensemble/components/stats_calculation.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
Labels: Tests

Fix model input_size and tests
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/prediction.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

Fix norm, thresh and metrics
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/normalization.py
  src/anomalib/pipelines/tiled_ensemble/components/thresholding.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_merging.py
  tests/unit/pipelines/tiled_ensemble/dummy_config.yaml
  tests/unit/pipelines/tiled_ensemble/test_components.py
Labels: Tests

Refactor test pipeline
  src/anomalib/pipelines/tiled_ensemble/test_pipeline.py
Labels: none

Fix visualisation
  src/anomalib/pipelines/tiled_ensemble/components/visualization.py
Labels: none

Small fixes
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pipelines/tiled_ensemble/components/visualization.py
Labels: none

Fix visualisation
  src/anomalib/pipelines/tiled_ensemble/components/visualization.py
  src/anomalib/pipelines/tiled_ensemble/test_pipeline.py
  tools/tiled_ensemble/eval.py
Labels: Tools

Fix tests and some linting
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  tests/integration/pipelines/test_tiled_ensemble.py
  tests/integration/pipelines/tiled_ensemble.yaml
Labels: Tests

Add lates config
  tools/tiled_ensemble/ens_config.yaml
Labels: Tools

semgrep bandit fixes
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/pr.yaml
  .github/workflows/security-checks.yaml
  pyproject.toml
Labels: CI, Setup

semgrep bandit logic fix
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
Labels: CI

fix bandit flow
  .github/actions/security/bandit/action.yaml
Labels: CI

fix semgrep flow
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
Labels: CI

fix semgrep cli
  .github/actions/security/semgrep/action.yaml
Labels: CI

fix semgrep cli
  .github/actions/security/semgrep/action.yaml
Labels: CI

Fix MVTecLOCO args
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/utils/path.py
Labels: none

Revert test/val split ratios
  src/anomalib/data/datamodules/image/mvtec_loco.py
Labels: none

rename env vars
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
Labels: CI

Update mvtecloco
  src/anomalib/data/datasets/image/mvtec_loco.py
Labels: none

🚀 Add `FUVAS` Video Anomaly Detection Model (#2627)
  CHANGELOG.md
  pyproject.toml
  src/anomalib/models/__init__.py
  src/anomalib/models/video/__init__.py
  src/anomalib/models/video/fuvas/README.md
  src/anomalib/models/video/fuvas/__init__.py
  src/anomalib/models/video/fuvas/lightning_model.py
  src/anomalib/models/video/fuvas/torch_model.py
  tests/integration/model/test_models.py
Labels: Docs, Setup, Tests

Fix pre-commit
  CHANGELOG.md
  src/anomalib/models/video/fuvas/README.md
  src/anomalib/models/video/fuvas/lightning_model.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: Docs

Skip video anomaly detection models for now
  tests/integration/model/test_models.py
Labels: Tests

🚀 Add FUVAS Video Anomaly Detection Model (#2652)
  CHANGELOG.md
  src/anomalib/models/video/fuvas/README.md
  src/anomalib/models/video/fuvas/lightning_model.py
  src/anomalib/models/video/fuvas/torch_model.py
  tests/integration/model/test_models.py
Labels: Docs, Tests

Address bandit and semgrep issues
  src/anomalib/models/__init__.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: none

Address bandit and semgrep issues
  src/anomalib/models/__init__.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: none

Update src/anomalib/models/__init__.py
  src/anomalib/models/__init__.py
Labels: none

🔒 Fix bandit and semgrep issues of Fuvas video anomaly detection model. (#2655)
  src/anomalib/models/__init__.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: none

remove task type from fuvas
  src/anomalib/models/video/fuvas/lightning_model.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: none

🗑️ Remove `TaskType` from `FUVAS` Video Anomaly Detection Model (#2658)
  src/anomalib/models/video/fuvas/lightning_model.py
  src/anomalib/models/video/fuvas/torch_model.py
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

Add feature request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: CI

Fix linter errors for tiled ensemble
  src/anomalib/pipelines/tiled_ensemble/components/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/merging.py
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/normalization.py
  src/anomalib/pipelines/tiled_ensemble/components/smoothing.py
  src/anomalib/pipelines/tiled_ensemble/components/stats_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/thresholding.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_data.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/prediction_merging.py
  src/anomalib/pipelines/tiled_ensemble/components/visualization.py
  src/anomalib/pipelines/tiled_ensemble/test_pipeline.py
  src/anomalib/pipelines/tiled_ensemble/train_pipeline.py
  tests/integration/pipelines/test_tiled_ensemble.py
  tests/unit/pipelines/tiled_ensemble/__init__.py
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
  tests/unit/pipelines/tiled_ensemble/test_prediction_data.py
  tests/unit/pipelines/tiled_ensemble/test_tiler.py
Labels: Tests
