Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Add integrated XPU for inference
  application/backend/src/services/system_service.py
  application/docker/docker-compose.yml
Labels: none

configurable host port
  application/docker/docker-compose.yml
Labels: none

cuda
  application/docker/docker-compose.cuda.yaml
Labels: none

PR comments
  application/backend/src/alembic.ini
  application/backend/src/api/endpoints/system_endpoints.py
  application/backend/src/settings.py
  application/ui/src/features/inspect/feedback/feedback-button.component.tsx
Labels: none

Apply suggestions from code review
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

Apply suggestions from code review
  src/anomalib/post_processing/mebin.py
Labels: none

Update tools/benchmark_mebin.py
  tools/benchmark_mebin.py
Labels: Tools

fix integrated xpu memory property
  application/backend/src/services/system_service.py
Labels: none

skip cpu
  application/backend/src/services/system_service.py
Labels: none

Renovate config update
  .github/renovate.json5
Labels: CI

fix style
  .github/renovate.json5
Labels: CI

geti-ci migration
  .github/actions/security/bandit/README.md
  .github/actions/security/bandit/action.yaml
  .github/actions/security/clamav/action.yaml
  .github/actions/security/trivy/README.md
  .github/actions/security/trivy/action.yaml
  .github/actions/security/zizmor/README.md
  .github/actions/security/zizmor/action.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

fix zizmor finding
  .github/workflows/_reusable-version-bump.yaml
Labels: CI

remove block
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

revert summarize
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

remove name
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

skip astral-sh/uv update
  .github/renovate.json5
Labels: CI

Update renovate.json5
  .github/renovate.json5
Labels: CI

refactor(mebin): optimize connected components counting and improve argument validation
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
  tools/benchmark_mebin.py
Labels: Tools

use elif
  application/backend/src/services/system_service.py
Labels: none

use gpu prefix
  application/backend/src/services/system_service.py
Labels: none

refactor(benchmark): use factories for post-processor instantiation to avoid state leakage
  tools/benchmark_mebin.py
Labels: Tools

fix(studio): handle cpu devices and failure cleanup in training job
  application/backend/src/services/training_service.py
Labels: none

fix(mebin): count unique labels instead of max for connected components
  src/anomalib/post_processing/mebin.py
Labels: none

fix(utils): improve path handling for Windows compatibility (#2887)
  src/anomalib/utils/path.py
Labels: none

refactor
  application/backend/src/services/model_service.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/engine/engine.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/utils/path.py
  tests/unit/utils/test_path.py
Labels: Tests

fix: address Copilot review comments on PR #3321
  docs/source/markdown/guides/reference/post_processing/index.md
  src/anomalib/post_processing/mebin.py
Labels: Docs

refactor(utils): windows path utils (#3352)
  application/backend/src/services/model_service.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/engine/engine.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/utils/path.py
  tests/unit/utils/test_path.py
Labels: Tests

refactor(mebin): use _erode helper instead of direct erosion call
  src/anomalib/post_processing/mebin.py
Labels: none

Apply suggestions from code review
  src/anomalib/utils/path.py
Labels: none

Add fixes
  application/backend/.gitignore
  application/backend/pyproject.toml
  application/backend/src/main.py
  application/backend/src/services/job_service.py
  application/backend/uv.lock
  application/ui/package.json
  docs/source/anomalib-studio/ui-architecture.md
Labels: Docs

prek
  src/anomalib/utils/path.py
Labels: none

Apply suggestions from code review
  src/anomalib/utils/path.py
Labels: none

prek
  src/anomalib/utils/path.py
Labels: none

fix tests
  tests/unit/utils/test_path.py
Labels: Tests

Add scaffold
  application/binary/tauri/.gitignore
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
  application/binary/tauri/src-tauri/.gitignore
  application/binary/tauri/src-tauri/Cargo.toml
  application/binary/tauri/src-tauri/build.rs
  application/binary/tauri/src-tauri/capabilities/default.json
  application/binary/tauri/src-tauri/icons/icon.ico
  application/binary/tauri/src-tauri/icons/icon.png
  application/binary/tauri/src-tauri/src/lib.rs
  application/binary/tauri/src-tauri/src/main.rs
  application/binary/tauri/src-tauri/tauri.conf.json
  application/binary/tauri/tsconfig.json
  application/binary/tauri/tsconfig.node.json
  application/binary/tauri/vite.config.ts
Labels: none

new line
  application/binary/tauri/.gitignore
Labels: none

new line
  application/binary/tauri/package.json
  application/binary/tauri/tsconfig.json
  application/binary/tauri/tsconfig.node.json
  application/binary/tauri/vite.config.ts
Labels: none

Apply suggestions from code review
  application/backend/src/main.py
Labels: none

add package lock + update hadolint
  application/backend/.pre-commit-config.yaml
  application/ui/package-lock.json
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
