Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

address copilot comment
  src/anomalib/data/utils/image.py
Labels: none

change license year
  src/anomalib/data/utils/image.py
Labels: none

fix(data): update mvtec link (#3673)
  .github/workflows/download-url-check.yaml
  CHANGELOG.md
  pyproject.toml
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/utils/download.py
  tests/integration/data/__init__.py
  tests/integration/data/test_download_urls.py
Labels: CI, Docs, Setup, Tests

feat(deps): use opencv headless (#3675)
  CHANGELOG.md
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/data/utils/image.py
  uv.lock
Labels: Docs, Setup

prep release
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

prek
  examples/notebooks/04_metrics/aupimo.ipynb
  pyproject.toml
Labels: Setup

fix changelog
  CHANGELOG.md
Labels: Docs

chore(release): prep 2.5.1 release (#3676)
  CHANGELOG.md
  README.md
  examples/notebooks/04_metrics/aupimo.ipynb
  pyproject.toml
  src/anomalib/__init__.py
Labels: Docs, Setup

bump version
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

typo
  CHANGELOG.md
Labels: Docs

chore(lib): bump version (#3677)
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

fix(data): distribute split remainder over subsets to avoid ZeroDivisionError
  src/anomalib/data/utils/split.py
  tests/unit/data/utils/test_split.py
Labels: Tests

bump torch
  application/backend/uv.lock
Labels: none

fix(deps): bump `torch` to resolve Dependabot alerts (v2) (#3681)
  application/backend/uv.lock
Labels: none

🐞 fix(data): distribute split remainder over subsets to avoid ZeroDivisionError (#3680)
  src/anomalib/data/utils/split.py
  tests/unit/data/utils/test_split.py
Labels: Tests

Add cleanup old images workflow
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Fix runs-on
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Potential fix for pull request finding
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

ci: Add cleanup old images workflow (#3683)
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

add guard
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

cve list upd
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

review
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

upd cve list
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

Potential fix for pull request finding
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

Apply suggestions from code review
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

chore(ci): add temp guard to prevent some Dependabot alerts from reopening (#3684)
  .github/workflows/trivy-cve-guard.yaml
Labels: CI

fix path traversal
  application/backend/src/api/endpoints/video_endpoints.py
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/video_service.py
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
  application/backend/tests/unit/repositories/__init__.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
  application/backend/tests/unit/services/test_video_service.py
Labels: none

prek
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
Labels: none

review fix
  application/backend/src/api/endpoints/video_endpoints.py
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/video_service.py
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
  application/backend/tests/unit/services/test_video_service.py
Labels: none

prek
  application/backend/src/services/video_service.py
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
Labels: none

Apply suggestions from code review
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/video_service.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
  application/backend/tests/unit/services/test_video_service.py
Labels: none

prek
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
Labels: none

fix 500
  application/backend/src/api/endpoints/video_endpoints.py
Labels: none

Apply suggestions from code review
  application/backend/src/api/endpoints/video_endpoints.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
Labels: none

prek
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
Labels: none

Potential fix for pull request finding
  application/backend/src/api/endpoints/video_endpoints.py
Labels: none

add dashboard
  .pre-commit-config.yaml
  docs/source/_static/benchmarks/assets/ToolbarRootContext-BSNHmvty.js
  docs/source/_static/benchmarks/assets/entry.client-CJ6yaQ4I.js
  docs/source/_static/benchmarks/assets/home-4GqYTYaq.js
  docs/source/_static/benchmarks/assets/instrument-serif-latin-400-normal-BVbkICAY.woff
  docs/source/_static/benchmarks/assets/instrument-serif-latin-400-normal-DnYpCC2O.woff2
  docs/source/_static/benchmarks/assets/instrument-serif-latin-ext-400-normal-C2je3j2s.woff2
  docs/source/_static/benchmarks/assets/instrument-serif-latin-ext-400-normal-CFCUzsTy.woff
  docs/source/_static/benchmarks/assets/jsx-runtime--4Hs_8aE.js
  docs/source/_static/benchmarks/assets/load-benchmark-csv-C6xllPGj.js
  docs/source/_static/benchmarks/assets/manifest-f230b8fc.js
  docs/source/_static/benchmarks/assets/models._model-CGA9h86O.js
  docs/source/_static/benchmarks/assets/nunito-sans-cyrillic-ext-wght-normal-7w74d1lj.woff2
  docs/source/_static/benchmarks/assets/nunito-sans-cyrillic-wght-normal-B9hoeQUC.woff2
  docs/source/_static/benchmarks/assets/nunito-sans-latin-ext-wght-normal-DMEAsnHD.woff2
  docs/source/_static/benchmarks/assets/nunito-sans-latin-wght-normal-BWQ3gi2K.woff2
  docs/source/_static/benchmarks/assets/nunito-sans-vietnamese-wght-normal-BhFYcaJr.woff2
  docs/source/_static/benchmarks/assets/recharts-B_ru4ssd.js
  docs/source/_static/benchmarks/assets/rolldown-runtime-QTnfLwEv.js
  docs/source/_static/benchmarks/assets/root-CqPbWsdr.js
  docs/source/_static/benchmarks/assets/root-DE5aNoRh.css
  docs/source/_static/benchmarks/assets/utils-CczHLZBn.js
  docs/source/_static/benchmarks/benchmark-csv-url.js
  docs/source/_static/benchmarks/favicon.ico
  docs/source/_static/benchmarks/index.html
  docs/source/index.md
  docs/source/markdown/benchmarks.md
Labels: Docs, Setup

add license
  docs/source/_static/benchmarks/LICENSE
  third-party-programs.txt
Labels: Docs

add semgrep rules
  .github/workflows/_reusable-security-scan.yaml
  .pre-commit-config.yaml
  .semgrep/path-traversal.py
  .semgrep/path-traversal.yaml
  .semgrepignore
  pyproject.toml
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: CI, Setup

prek fix
  .pre-commit-config.yaml
  .semgrepignore
Labels: Setup

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
