Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix test
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/uv.lock
Labels: none

🚀 feat(geti-inspect): add inference device selection (#3011)
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/repositories/mappers/pipeline_mapper.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/model_service.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/uv.lock
Labels: none

feat(media): Allow user to select media item
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/selected-media-item-provider.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

feat: Add inference
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/hooks/use-project-training-jobs.hook.ts
  application/ui/src/features/inspect/image-inference.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference.module.scss
  application/ui/src/features/inspect/selected-media-item-provider.component.tsx
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

feat: Make infecene work using models endpoint
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/hooks/use-project-training-jobs.hook.ts
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/inference.module.scss
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

feat: Display label and score
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/inference.module.scss
Labels: none

chore: General styles adjustments
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/inference.module.scss
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

feat: display user friendly message when there is no inference available
  application/ui/src/features/inspect/inference-result.component.tsx
Labels: none

chore: Dont send device while running inference
  application/ui/src/features/inspect/inference-provider.component.tsx
Labels: none

chore: Reset state on project id change
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

chore: remove repeated condition
  application/ui/src/features/inspect/toolbar.tsx
Labels: none

chore(normal images): Add heading
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
Labels: none

🔧 chore(normal images): Add `Normal images` heading (#3028)
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
Labels: none

Convert to jet and add opacity
  application/backend/src/services/model_service.py
Labels: none

sort imports
  application/backend/src/services/model_service.py
Labels: none

🚀 feat(inference): Allow user to select media and get the inference (#3026)
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/inference.module.scss
  application/ui/src/features/inspect/selected-media-item-provider.component.tsx
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

🔧 chore(inference): convert to jet and add opacity (#3029)
  application/backend/src/services/model_service.py
Labels: none

feat(inference): Display inference on top of the image
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

patchcore infer dtype from model dtype
  src/anomalib/models/components/dimensionality_reduction/random_projection.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

chore: Add spin delay to 'delay' the loading
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/inference-result.component.tsx
Labels: none

feat: Add animation for the inference
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/inference-result.component.tsx
Labels: none

chore: Modify text when there is no inference result
  application/ui/src/features/inspect/inference-result.component.tsx
Labels: none

feat: Allow user to change opacity of the heatmap
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/index.css
Labels: none

chore: Remove 'Model' label from the models picker because toolbar was not centerlly aligned
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

🚀 feat(inference): Display inference on top of the image + opacity (#3032)
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/toolbar.tsx
  application/ui/src/index.css
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

Fix squeeze on 1dim score
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Add option to train without masks
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Add JIMS separate feat extension
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Update docs for JIMS extension
  docs/source/images/supersimplenet/architecture.png
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/supersimplenet/README.md
  src/anomalib/models/image/supersimplenet/lightning_model.py
Labels: Docs

Remove unused get_params method
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Add unit tests for SSN
  tests/unit/models/image/supersimplenet/test_model.py
Labels: Tests

Fix default fields initialization in visualizer
  src/anomalib/visualization/image/visualizer.py
Labels: none

refactor workers into class
  application/backend/.gitignore
  application/backend/pyproject.toml
  application/backend/src/core/scheduler.py
  application/backend/src/workers/__init__.py
  application/backend/src/workers/base.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
  application/backend/uv.lock
Labels: none

configure loguru
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/backend/src/api/endpoints/webrtc.py
  application/backend/src/cli.py
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging.py
  application/backend/src/core/scheduler.py
  application/backend/src/db/migration.py
  application/backend/src/entities/images_folder_stream.py
  application/backend/src/entities/ip_camera_stream.py
  application/backend/src/main.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/dispatchers/filesystem.py
  application/backend/src/services/dispatchers/mqtt.py
  application/backend/src/services/dispatchers/webhook.py
  application/backend/src/services/media_service.py
  application/backend/src/services/metrics_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/services/video_stream_service.py
  application/backend/src/utils/__init__.py
  application/backend/src/utils/diagnostics.py
  application/backend/src/utils/queue.py
  application/backend/src/utils/signal.py
  application/backend/src/utils/visualization.py
  application/backend/src/webrtc/manager.py
  application/backend/src/webrtc/stream.py
  application/backend/src/workers/base.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
Labels: none

fix ruff
  application/backend/src/api/endpoints/webrtc.py
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging.py
  application/backend/src/core/scheduler.py
  application/backend/src/db/migration.py
  application/backend/src/entities/images_folder_stream.py
  application/backend/src/entities/ip_camera_stream.py
  application/backend/src/main.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/services/dispatchers/filesystem.py
  application/backend/src/services/dispatchers/mqtt.py
  application/backend/src/services/dispatchers/webhook.py
  application/backend/src/services/media_service.py
  application/backend/src/services/metrics_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/queue.py
  application/backend/src/utils/visualization.py
  application/backend/src/webrtc/manager.py
  application/backend/src/webrtc/stream.py
  application/backend/src/workers/base.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
Labels: none

fix mypy
  application/backend/pyproject.toml
  application/backend/src/api/dependencies.py
  application/backend/src/cli.py
  application/backend/src/core/scheduler.py
  application/backend/src/repositories/base.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/media_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/base.py
  application/backend/src/workers/inference.py
  application/backend/uv.lock
Labels: none

fix line too long
  application/backend/src/services/configuration_service.py
Labels: none

add trackio and tensorboard logger
  application/backend/pyproject.toml
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/core/logging.py
  application/backend/src/main.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/settings.py
  application/backend/src/utils/experiment_loggers/__init__.py
  application/backend/src/utils/experiment_loggers/trackio.py
  application/backend/src/webrtc/stream.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/backend/tests/unit/workers/test_stream_loading.py
  application/backend/tests/unit/workers/test_training.py
  application/backend/uv.lock
Labels: none

style fix
  application/backend/src/services/configuration_service.py
Labels: none

Invalidate only after all items are uploaded
  application/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
