Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Update .github/renovate.json5
  .github/renovate.json5
Labels: CI

Update .github/renovate.json5
  .github/renovate.json5
Labels: CI

Update renovate config
  .github/renovate.json5
Labels: CI

Enable dockerfile, npm package managers in renovate
  .github/renovate.json5
Labels: CI

Update .github/renovate.json5
  .github/renovate.json5
Labels: CI

Group Python and npm updates
  .github/renovate.json5
Labels: CI

fix style
  application/backend/src/services/system_service.py
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
Labels: none

fix test
  application/backend/tests/unit/services/test_system_service.py
Labels: none

Update application/backend/src/services/system_service.py
  application/backend/src/services/system_service.py
Labels: none

Update application/backend/src/pydantic_models/system.py
  application/backend/src/pydantic_models/system.py
Labels: none

fix UI api url path
  application/ui/rsbuild.config.ts
  application/ui/src/api/utils.ts
Labels: none

fixes
  application/ui/tests/main.spec.ts
  tests/unit/cli/test_installation.py
Labels: Tests

fix test
  .gitignore
  tests/unit/data/utils/test_image.py
Labels: Setup, Tests

update installation
  src/anomalib/cli/install.py
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Tests

prek
  tests/unit/cli/test_installation.py
Labels: Tests

remove new line
  tests/unit/cli/test_installation.py
Labels: Tests

revert to pytest mock
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Tests

revert changes
  tests/unit/cli/test_installation.py
  tests/unit/data/utils/test_image.py
Labels: Tests

revert changes
  tests/unit/cli/test_installation.py
Labels: Tests

remove whitespacing
  tests/unit/cli/test_installation.py
Labels: Tests

Update src/anomalib/cli/utils/installation.py
  src/anomalib/cli/utils/installation.py
Labels: none

fixes
  application/backend/src/api/dependencies/pagination_limit.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/model.py
  application/ui/playwright.config.ts
  application/ui/tests/fixtures.ts
Labels: none

Add anomalib studio guide to readme
  README.md
  docs/source/_static/images/anomalib_studio.png
Labels: Docs

Add note for installing uv
  README.md
Labels: Docs

address PR comments
  src/anomalib/cli/utils/installation.py
Labels: none

PR comment
  .gitignore
Labels: Setup

address PR comments
  src/anomalib/cli/utils/installation.py
Labels: none

Update application/ui/src/hooks/use-trained-models.ts
  application/ui/src/hooks/use-trained-models.ts
Labels: none

fix tests
  application/ui/playwright.config.ts
  application/ui/rsbuild.config.ts
  application/ui/src/api/utils.ts
Labels: none

fix tests
  application/ui/src/api/utils.ts
  application/ui/tests/fixtures.ts
Labels: none

update callback name
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
  application/backend/.pre-commit-config.yaml
Labels: Setup

Update README.md
  README.md
Labels: Docs

prek
  README.md
Labels: Docs

Add files
  .gitignore
  application/backend/uv.lock
  examples/configs/data/kaputt.yaml
  pyproject.toml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/kaputt.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Setup, Tests

Address PR comments
  README.md
Labels: Docs

prek
  README.md
Labels: Docs

fix(inspect): resolve OpenVINO dependency conflict with Python 3.13
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

fix(pyproject): make OpenVINO version conditional on Python version
  application/backend/pyproject.toml
  application/backend/uv.lock
  pyproject.toml
Labels: Setup

Update application/backend/src/settings.py
  application/backend/src/settings.py
Labels: none
