Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

feat(model): add grd-net input synthesis
  src/anomalib/models/image/grdnet/LICENSE
  src/anomalib/models/image/grdnet/__init__.py
  src/anomalib/models/image/grdnet/anomaly_generator.py
  src/anomalib/models/image/grdnet/tiling.py
  tests/unit/models/image/grdnet/__init__.py
  tests/unit/models/image/grdnet/test_input_synthesis.py
  third-party-programs.txt
Labels: Tests

feat(model): add grd-net residual networks
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

feat(model): compose grd-net segmentator
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

fix(callbacks): make MaxStepsProgressCallback picklable for checkpointing
  src/anomalib/callbacks/rich_progress_bar.py
  tests/unit/callbacks/__init__.py
  tests/unit/callbacks/test_rich_progress_bar.py
Labels: Tests

refactor(callbacks): address review comments on RichProgressBar fallback and init
  src/anomalib/callbacks/rich_progress_bar.py
Labels: none

feat(model): add grd-net training objectives
  src/anomalib/models/image/grdnet/loss.py
  tests/unit/models/image/grdnet/test_loss.py
Labels: Tests

feat(data): add grd-net roi batches
  src/anomalib/data/dataclasses/torch/grdnet.py
  src/anomalib/data/validators/torch/grdnet.py
  tests/unit/data/dataclasses/test_grdnet.py
Labels: Tests

feat(data): add grd-net roi folder pipeline
  src/anomalib/data/datamodules/image/grdnet.py
  src/anomalib/data/datasets/image/grdnet.py
  src/anomalib/models/image/grdnet/pre_processor.py
  tests/unit/data/dataclasses/test_grdnet.py
  tests/unit/data/datamodule/image/test_grdnet.py
  tests/unit/models/image/grdnet/test_pre_processor.py
Labels: Tests

feat(model): add grd-net patch inference
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_inference.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

feat(model): integrate grd-net training lifecycle
  src/anomalib/models/image/grdnet/__init__.py
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

test(model): cover grd-net lifecycle
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

fix(model): clip grd-net generator manually
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

feat(model): expose grd-net through public api
  src/anomalib/data/__init__.py
  src/anomalib/data/dataclasses/__init__.py
  src/anomalib/data/dataclasses/torch/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  tests/unit/models/image/grdnet/test_public_api.py
Labels: Tests

test(model): cover grd-net shared workflows
  tests/integration/model/test_models.py
Labels: Tests

fix(model): align grd-net training geometry
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

fix(tests): stop nested pytest wiping session tmp
  tests/conftest.py
  tests/fixtures/datasets.py
  tests/integration/deploy/test_inferencer.py
Labels: Tests

fix(tests): drop duplicate EfficientAd ImageNette imports
  tests/integration/model/test_models.py
Labels: Tests

fix(ci): satisfy ruff TC006 and semgrep pin_memory
  application/backend/src/repositories/base.py
  tests/integration/deploy/test_inferencer.py
Labels: Tests

fix(backend): annotate repository query locals for mypy
  application/backend/src/repositories/base.py
Labels: none

revert method
  tests/integration/model/test_models.py
Labels: Tests

fix(tests): skip ImageNette download for EfficientAd CI
  tests/integration/model/test_models.py
Labels: Tests

ci(test): enable pytest-xdist on CPU CI
  .github/actions/pytest/action.yaml
  tests/README.md
  tests/conftest.py
Labels: CI, Tests

refactor tests
  tests/integration/engine/test_checkpoint_io.py
Labels: Tests

address PR comments
  CHANGELOG.md
  docs/source/markdown/guides/how_to/models/pre_processor.md
  src/anomalib/engine/engine.py
  src/anomalib/engine/plugins/checkpoint_io.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/pre_processing/utils/spec.py
  tests/unit/engine/test_checkpoint_io.py
  tests/unit/pre_processing/test_spec.py
Labels: Docs, Tests

fix(metrics): compute AUPR as step-wise average precision (#3797)
  CHANGELOG.md
  src/anomalib/metrics/aupr.py
  tests/unit/metrics/test_aupr.py
Labels: Docs, Tests

feat(model): Add FoundAD few-shot anomaly detection model (#3793)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/foundad.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/foundad.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/foundad/LICENSE
  src/anomalib/models/image/foundad/README.md
  src/anomalib/models/image/foundad/__init__.py
  src/anomalib/models/image/foundad/components/__init__.py
  src/anomalib/models/image/foundad/components/augmentation.py
  src/anomalib/models/image/foundad/components/cutpaste.py
  src/anomalib/models/image/foundad/components/encoder_loader.py
  src/anomalib/models/image/foundad/components/manifold_projector.py
  src/anomalib/models/image/foundad/lightning_model.py
  src/anomalib/models/image/foundad/torch_model.py
  third-party-programs.txt
Labels: Docs

bump torch
  CHANGELOG.md
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Docs, Setup

feat(model): add mh-patchcore (#3809)
  CHANGELOG.md
  docs/source/images/mh_patchcore/architecture.png
  docs/source/images/mh_patchcore/results/0.png
  docs/source/images/mh_patchcore/results/1.png
  docs/source/images/mh_patchcore/results/2.png
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/mh_patchcore.md
  examples/configs/model/mh_patchcore.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/mh_patchcore/LICENSE
  src/anomalib/models/image/mh_patchcore/README.md
  src/anomalib/models/image/mh_patchcore/__init__.py
  src/anomalib/models/image/mh_patchcore/anomaly_map.py
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/integration/model/test_models.py
  tests/unit/models/image/mh_patchcore/__init__.py
  tests/unit/models/image/mh_patchcore/test_components.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
  third-party-programs.txt
Labels: Docs, Tests

fix tests
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

increase tolerance
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

fix(tests): mh-patchcore tests (#3822)
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

feat(model): add mh-patchcore (#3809) (#3824)
  CHANGELOG.md
  docs/source/images/mh_patchcore/architecture.png
  docs/source/images/mh_patchcore/results/0.png
  docs/source/images/mh_patchcore/results/1.png
  docs/source/images/mh_patchcore/results/2.png
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/mh_patchcore.md
  examples/configs/model/mh_patchcore.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/mh_patchcore/LICENSE
  src/anomalib/models/image/mh_patchcore/README.md
  src/anomalib/models/image/mh_patchcore/__init__.py
  src/anomalib/models/image/mh_patchcore/anomaly_map.py
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/integration/model/test_models.py
  tests/unit/models/image/mh_patchcore/__init__.py
  tests/unit/models/image/mh_patchcore/test_components.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
  third-party-programs.txt
Labels: Docs, Tests

chore(deps): upgrade the ROCm installation extra to torch>=2.13.0 (#3820)
  CHANGELOG.md
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Docs, Setup

fix(model): correct grd-net denoising training
  src/anomalib/models/image/grdnet/lightning_model.py
  src/anomalib/models/image/grdnet/loss.py
  src/anomalib/models/image/grdnet/pre_processor.py
  src/anomalib/models/image/grdnet/tiling.py
  tests/unit/models/image/grdnet/test_input_synthesis.py
  tests/unit/models/image/grdnet/test_lightning_model.py
  tests/unit/models/image/grdnet/test_loss.py
  tests/unit/models/image/grdnet/test_pre_processor.py
Labels: Tests

Add huggingface_hub conditional download option
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/image/libad.md
  src/anomalib/data/datamodules/image/libad.py
  src/anomalib/data/datasets/image/libad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/validators/torch/image.py
  tests/helpers/data.py
  tests/unit/data/utils/test_image.py
Labels: Docs, Tests

Pin geti-ci actions
  .github/actions/docker-build/action.yml
  .github/renovate.json5
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/pr.yaml
  .github/workflows/promote-rc-app-release.yml
  .github/workflows/publish-rc-app.yml
  .github/workflows/tauri-build.yaml
Labels: CI

add unit tests
  application/backend/src/services/dispatch_service.py
  application/backend/tests/unit/services/test_dispatch_service.py
Labels: none

Address zizmor issue
  .github/workflows/npm-audit-fix.yml
  .github/workflows/renovate.yml
Labels: CI

Address prettier issue
  .github/renovate.json5
Labels: CI

Removed unnecessary check for empty destinations before updating previous sink config.
  application/backend/src/workers/dispatching.py
Labels: none
