Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

new streaming
  application/backend/src/api/endpoints/stream_endpoints.py
  application/backend/src/api/endpoints/video_endpoints.py
  application/backend/src/main.py
  application/docker/docker-compose.yml
  application/ui/src/components/stream/stream-connection-provider.tsx
  application/ui/src/components/stream/web-rtc-connection-provider.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/connection-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/connection-status.adapter.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/providers.tsx
Labels: none

add todo
  application/backend/src/main.py
  application/docker/docker-compose.yml
  application/ui/src/components/stream/stream-connection-provider.test.tsx
Labels: none

fix docker file cuda
  application/docker/docker-compose.cuda.yaml
Labels: none

address comment
  application/backend/src/api/endpoints/stream_endpoints.py
Labels: none

fix consumer concurrency
  application/backend/src/api/endpoints/stream_endpoints.py
  application/backend/src/core/lifecycle.py
  application/backend/src/core/mjpeg_broadcaster.py
  application/backend/src/core/scheduler.py
  application/backend/src/utils/jpeg_encoder.py
  application/backend/src/workers/dispatching.py
Labels: none

fix folder datapath
  application/backend/src/api/endpoints/system_endpoints.py
  application/backend/src/services/dispatchers/filesystem.py
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.module.scss
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
Labels: none

disable webrtc tests
  application/backend/tests/unit/endpoints/test_webrtc.py
Labels: none

fix style
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
Labels: none

fix eslint
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
Labels: none

fix eslint
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
Labels: none

fix typecheck
  application/ui/tsconfig.json
Labels: none

remove webrtc envs
  application/docker/docker-compose.cuda.yaml
  application/docker/docker-compose.yml
Labels: none

reset docker compose
  application/docker/docker-compose.cuda.yaml
  application/docker/docker-compose.yml
Labels: none

Update renovate config
  .github/renovate.json5
Labels: CI

Update renovate config
  .github/renovate.json5
Labels: CI

fix cuda docker build
  application/docker/Dockerfile
  application/docker/README.md
Labels: none

Update renovate config
  .github/renovate.json5
Labels: CI

fix(data): pin pandas<3.0.0 to prevent enum comparison issues
  pyproject.toml
Labels: Setup

Update renovate config
  .github/renovate.json5
Labels: CI

Fix spelling: correct 'digital' to 'digest' in Renovate config comments (#3308)
  .github/renovate.json5
Labels: CI

Enable dockerfile, npm package managers in renovate
  .github/renovate.json5
Labels: CI

Group Python and npm updates
  .github/renovate.json5
Labels: CI

Update .github/renovate.json5
  .github/renovate.json5
Labels: CI

fix duplicate connection to stream
  application/backend/src/api/endpoints/stream_endpoints.py
  application/backend/src/core/mjpeg_broadcaster.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/settings.py
  application/ui/src/components/stream/web-rtc-connection-provider.tsx
  application/ui/src/components/stream/web-rtc-connection.ts
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/routes/inspect/inspect.tsx
  application/ui/tsconfig.json
Labels: none

address comments
  application/ui/src/components/stream/stream-connection-provider.tsx
Labels: none

address comments
  application/ui/src/features/inspect/stream/stream-container.tsx
Labels: none

fix style
  application/ui/src/features/inspect/stream/stream.tsx
Labels: none

warning -> info
  application/backend/src/api/endpoints/stream_endpoints.py
Labels: none

fix style
  application/ui/src/components/stream/stream-connection-provider.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
Labels: none

add source validation
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/services/configuration_service.py
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-action.hook.tsx
Labels: none

Update application/backend/src/services/configuration_service.py
  application/backend/src/services/configuration_service.py
Labels: none

fix formatting model view
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models-view.module.scss
Labels: none

apply suggestion
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.module.scss
Labels: none

Refactor MEBin algorithm with documentations and a few improvements.
  docs/source/markdown/guides/how_to/models/post_processor.md
  docs/source/markdown/guides/reference/post_processing/index.md
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
  tools/benchmark_mebin.py
Labels: Docs, Tests, Tools

fix inference devices names
  application/backend/src/pydantic_models/system.py
  application/backend/src/services/system_service.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
Labels: none

feat(postprocess): add MEBin adaptive binarization post-processor
  docs/source/markdown/guides/how_to/models/post_processor.md
  docs/source/markdown/guides/reference/post_processing/index.md
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
  tools/benchmark_mebin.py
Labels: Docs, Tests, Tools

fix: address review comments on PR #3321
  src/anomalib/post_processing/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
  tools/benchmark_mebin.py
Labels: Tests, Tools

fix names
  application/backend/src/services/system_service.py
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
Labels: none

Fix spelling: correct 'digital' to 'digest' in Renovate config comments (#3308)
  .github/renovate.json5
Labels: CI

Make Python major dependencies monthly
  .github/renovate.json5
Labels: CI
