Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix(imports): update OpenVINO import paths in inferencer and post-pro… (#2789)
  docs/source/markdown/guides/how_to/models/post_processor.md
  src/anomalib/deploy/inferencers/openvino_inferencer.py
Labels: Docs

update return type, add comment about deprecation, duplicated copyright
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Added validation step
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Minor refactor
  src/anomalib/models/image/uninet/anomaly_map.py
Labels: none

new deprecation wrapper, now handles arg deprecation
  src/anomalib/utils/deprecation.py
Labels: none

add flexible tests for new deprecation warning
  src/anomalib/utils/deprecation.py
  tests/unit/utils/test_deprecate.py
Labels: Tests

update warnings to deprecations. Resolve comments re-fit vs fit_guassian. Test for None replacements for args
  src/anomalib/models/image/dfkde/lightning_model.py
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/lightning_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/utils/deprecation.py
  tests/unit/utils/test_deprecate.py
Labels: Tests

add type hint for dfkde
  src/anomalib/models/image/dfkde/lightning_model.py
Labels: none

Refactor components
  src/anomalib/models/image/uninet/components/__init__.py
  src/anomalib/models/image/uninet/components/anomaly_map.py
  src/anomalib/models/image/uninet/components/loss.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

single line
  src/anomalib/models/image/uninet/lightning_model.py
Labels: none

de_resnet->resnet_decoder
  src/anomalib/models/components/backbone/resnet_decoder.py
  src/anomalib/models/image/uninet/lightning_model.py
Labels: none

bug fixes
  src/anomalib/models/components/backbone/__init__.py
Labels: none

fix efficientad example and pickling error
  examples/api/03_models/efficient_ad.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
Labels: none

pre-commit hooks
  examples/api/03_models/efficient_ad.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
Labels: none

openvino export + pr comments
  src/anomalib/models/components/backbone/resnet_decoder.py
  src/anomalib/models/image/uninet/components/anomaly_map.py
  src/anomalib/models/image/uninet/lightning_model.py
Labels: none

Add documentation
  docs/source/markdown/guides/reference/models/image/uninet.md
  src/anomalib/models/image/uninet/README.md
Labels: Docs

Remove else branch
  src/anomalib/models/image/uninet/components/dfs.py
Labels: none

remove dataset arg from dfm model fit
  src/anomalib/models/image/dfm/torch_model.py
Labels: none

Add test + modify anomalib module
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/post_processing/post_processor.py
  tests/unit/deploy/test_inferencer.py
Labels: Tests

enable renovate
  .github/renovate.json5
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
Labels: CI

disable dependabot
  .github/dependabot.yml
Labels: CI

all deps
  .github/renovate.json5
Labels: CI

disable python upgrade
  .github/renovate.json5
Labels: CI

added Zizmor
  .github/actions/security/zizmor/action.yaml
Labels: CI

added Zizmor
  .github/renovate.json5
Labels: CI

fix format
  .github/renovate.json5
Labels: CI

format
  .github/renovate.json5
Labels: CI

enable custom regexp
  .github/renovate.json5
Labels: CI

style
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
  docs/source/examples
Labels: CI, Docs

remove unnecessary block
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

added OpenSSF bage
  README.md
Labels: Docs

added description
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
Labels: CI

style
  .github/workflows/renovate.yml
Labels: CI

Update src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
Labels: none

Refactored code for better readability
  src/anomalib/models/components/feature_extractors/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

revert link
  docs/source/examples
Labels: Docs

PR comments + supersimplenet
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/models/image/supersimplenet/torch_model.py
  tests/unit/deploy/test_inferencer.py
Labels: Tests

Move copyright
  src/anomalib/models/image/uninet/__init__.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

PR comments
  src/anomalib/models/image/uninet/components/attention_bottleneck.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

Show import error in CLI
  src/anomalib/cli/cli.py
  src/anomalib/utils/config.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
