Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Fix tests
  src/anomalib/models/image/supersimplenet/torch_model.py
  src/anomalib/models/image/vlm_ad/lightning_model.py
  tests/integration/test_task_types.py
Labels: Tests

Pin memory
  tests/unit/deploy/test_inferencer.py
Labels: Tests

Set automatic optimization to False and made component functions
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Added automatic download of DTD dataset to DRAEM model
  docs/source/examples
  examples/configs/model/draem.yaml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/draem/README.md
  src/anomalib/models/image/draem/lightning_model.py
Labels: Docs

chore(model): check if no normalization is in transforms for DRAEM and DSR
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/models/image/dsr/lightning_model.py
Labels: none

updated year in the copyright notice
  src/anomalib/models/image/dsr/lightning_model.py
Labels: none

Update changelog + sdist files
  CHANGELOG.md
  pyproject.toml
Labels: Docs, Setup

fix - update-called-attribute
  src/anomalib/post_processing/post_processor.py
Labels: none

revert link
  .pre-commit-config.yaml
  docs/source/examples
Labels: Docs, Setup

Modified the post processor for new _update_called method
  src/anomalib/post_processing/post_processor.py
Labels: none

Added automated download for dtd dataset in Glass Model
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Removed some input args
  examples/configs/model/glass.yaml
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Change in default parameters
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Fixed default backbone name
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Changed configure pre_processor method
  src/anomalib/models/image/glass/lightning_model.py
Labels: none

added pg and pb metrics
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/pg_pb.py
  tests/unit/metrics/test_pg_pb.py
Labels: Tests

fixed typos
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/pg_pb.py
Labels: none

Adding BMAD dataset to Anomalib
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
Labels: none

Fixed pre-commit hook errors
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/image/bmad.py
Labels: none

docs: fixed the 'Anomalib in 15 Minutes' train and inference code to match 2.1.0
  docs/source/markdown/get_started/anomalib.md
  examples/api/01_getting_started/basic_openvino_inference.py
  examples/api/01_getting_started/basic_torch_inference.py
  examples/api/01_getting_started/basic_training.py
  examples/cli/01_getting_started/basic_training.sh
Labels: Docs

Update examples/api/01_getting_started/basic_openvino_inference.py
  examples/api/01_getting_started/basic_openvino_inference.py
Labels: none

Update examples/api/01_getting_started/basic_torch_inference.py
  examples/api/01_getting_started/basic_torch_inference.py
Labels: none

fixed examples for metrics
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/aupr.py
  src/anomalib/metrics/auroc.py
  src/anomalib/metrics/f1_score.py
  src/anomalib/metrics/min_max.py
  src/anomalib/metrics/pro.py
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

Update __init__.py
  src/anomalib/metrics/__init__.py
Labels: none

refactor patchcore, use list instead of cat
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

typo in patchcore
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

padim model to now use cat instead of list
  src/anomalib/models/image/padim/torch_model.py
Labels: none

dfm and padim update cat to list
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
Labels: none

add dfkde cat to list changes
  src/anomalib/models/image/dfkde/torch_model.py
Labels: none

change assert from memory bank to list size, fix pre-commit issues
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

Update README.md
  README.md
Labels: Docs

added histogram of anomaly scores
  src/anomalib/metrics/anomaly_score_distribution.py
  src/anomalib/metrics/utils.py
Labels: none

Update __init__.py - removed duplicate
  src/anomalib/metrics/__init__.py
Labels: none

Update src/anomalib/metrics/anomaly_score_distribution.py
  src/anomalib/metrics/anomaly_score_distribution.py
Labels: none

Update anomaly_score_distribution.py
  src/anomalib/metrics/anomaly_score_distribution.py
Labels: none

Fixed
  src/anomalib/metrics/aupro.py
Labels: none

Update anomaly_score_distribution.py
  src/anomalib/metrics/anomaly_score_distribution.py
Labels: none

Update pg_pb.py
  src/anomalib/metrics/pg_pb.py
Labels: none

add mebin postprocessor
  CHANGELOG.md
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: Docs

Fixed pre-commit checks
  src/anomalib/metrics/anomaly_score_distribution.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
