Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

add requests
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

pin versions
  .github/workflows/tauri-build.yaml
Labels: CI

point to stable
  .github/workflows/tauri-build.yaml
Labels: CI

use latest runner
  .github/workflows/tauri-build.yaml
  application/backend/src/main.py
Labels: CI

use self-hosted runner
  .github/workflows/tauri-build.yaml
Labels: CI

disable lfs
  .github/workflows/tauri-build.yaml
Labels: CI

remove linux deps as running on self-hosted
  .github/workflows/tauri-build.yaml
Labels: CI

remove redundant steps
  .github/workflows/tauri-build.yaml
  application/binary/tauri/package-lock.json
  application/binary/tauri/src-tauri/tauri.conf.json
Labels: CI

add extract and run
  .github/workflows/tauri-build.yaml
Labels: CI

remove export line
  .github/workflows/tauri-build.yaml
Labels: CI

add verbose
  .github/workflows/tauri-build.yaml
Labels: CI

use deb package instead of appimage
  .github/workflows/tauri-build.yaml
Labels: CI

Add mac workflow
  .github/workflows/tauri-build.yaml
Labels: CI

fix copyright header
  application/backend/tests/unit/utils/test_visualization.py
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
  application/ui/src/features/inspect/jobs/log-filters.component.tsx
  application/ui/src/features/inspect/jobs/log-types.ts
  application/ui/src/features/inspect/jobs/log-viewer.component.tsx
  application/ui/src/features/inspect/jobs/log-viewer.module.scss
Labels: none

chore(imports): reduce startup time (#3257)
  application/backend/pyproject.toml
  application/backend/src/entities/stream_data.py
  application/backend/src/services/dispatchers/base.py
  application/backend/src/services/dispatchers/filesystem.py
  application/backend/src/services/dispatchers/mqtt.py
  application/backend/src/services/dispatchers/webhook.py
  application/backend/src/services/training_service.py
  application/backend/uv.lock
  src/anomalib/data/dataclasses/generic.py
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/deploy/inferencers/base_inferencer.py
Labels: none

some more
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/setup.py
  application/backend/src/utils/visualization.py
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
Labels: Setup

add auto-scroll
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
  application/ui/src/features/inspect/jobs/log-filters.component.tsx
  application/ui/src/features/inspect/jobs/log-types.ts
  application/ui/src/features/inspect/jobs/log-viewer.component.tsx
  application/ui/src/features/inspect/jobs/log-viewer.module.scss
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
Labels: none

fix(inspect): minor UI issues fix (#3258)
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/util.tsx
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.ts
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/hooks/use-export-model.hook.ts
  application/ui/src/features/inspect/models/model-detail/model-detail.component.tsx
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/types.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

chore(inspect): MISC improvements (#3259)
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/setup.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/utils/visualization.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/utils/test_visualization.py
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
  application/ui/src/features/inspect/jobs/log-filters.component.tsx
  application/ui/src/features/inspect/jobs/log-types.ts
  application/ui/src/features/inspect/jobs/log-viewer.component.tsx
  application/ui/src/features/inspect/jobs/log-viewer.module.scss
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
Labels: Setup

fix eslint
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
Labels: none

remove vestige from merge
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/export-model-dialog.module.scss
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
Labels: none

specify backend
  application/backend/src/utils/devices.py
Labels: none

🚀 feat(model): Make coreset selection for patchcore faster (#2968)
  src/anomalib/models/components/sampling/k_center_greedy.py
Labels: none

ci: migrate PyPI publishing to OIDC authentication (#3054)
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/release.yaml
Labels: CI

🔧 docs(changelog): Fix entries (#3008)
  CHANGELOG.md
Labels: Docs

🚀 feat(model): Updated SuperSimpleNet to latest version (#3036)
  docs/source/images/supersimplenet/architecture.png
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/supersimplenet/README.md
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/lightning_model.py
  src/anomalib/models/image/supersimplenet/torch_model.py
  tests/unit/models/image/supersimplenet/test_model.py
Labels: Docs, Tests

🐛 fix(metrics): disable mps for torch metrics (#3019)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

🐞 fix(data): Perlin noise generator masks (#2936)
  pyproject.toml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/dsr/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/winclip/torch_model.py
  uv.lock
Labels: Setup

🚧 ci(tests): Use uv commands (#2999)
  .github/actions/pytest/action.yaml
Labels: CI

🔧 chore(release): prepare v2.2.0 release (#2960)
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

chore: add code owners for GitHub workflows and security policy (#3046)
  .github/CODEOWNERS
Labels: CI

🚀 feat(model): Enable Patchcore Training Half Precision (#3031)
  src/anomalib/models/components/dimensionality_reduction/random_projection.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

🔧 chore(version): Update main version to dev (#3010)
  src/anomalib/__init__.py
Labels: none

🚀 feat(dataset): add 3D-ADAM dataset to Anomalib (#3003)
  CHANGELOG.md
  examples/configs/data/adam_3d.yaml
  pyproject.toml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/depth/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/depth/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
  tests/helpers/data.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Docs, Setup, Tests

🔧 chore(codeowners): Update owners (#3042)
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: CI, Docs

🚀 feat(data): BMAD dataset (#3000)
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/bmad.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/bmad.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_bmad.py
Labels: Docs, Tests

📦 docs(README): Update ReadMe for V2.2.0 release (#3017)
  README.md
Labels: Docs

🚀 feat(model): Enable Patchcore Training Half Precision (#3047) (#3055)
  uv.lock
Labels: none

🐞 fix(data): Fixed comparison of file extensions for Folder dataset (#3059)
  src/anomalib/data/utils/path.py
Labels: none

fix(ci): disable `torch` upgrade in Renovate config (#3088)
  .github/renovate.json5
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
