Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Add pretrained weights fix
  src/anomalib/models/image/supersimplenet/README.md
  src/anomalib/models/image/supersimplenet/lightning_model.py
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Update SSN readme
  src/anomalib/models/image/supersimplenet/README.md
Labels: none

Fix readme linting error
  src/anomalib/models/image/supersimplenet/README.md
Labels: none

added first draft of tabular datamodule
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/tabular.md
  examples/configs/data/tabular.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/tabular.py
  tests/conftest.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Docs, Tests

refactored make_tabular_dataset and addressed some minor comments
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datasets/image/tabular.py
  tests/conftest.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Tests

Make OpenVINO fully optional in Anomalib
  src/anomalib/deploy/inferencers/openvino_inferencer.py
Labels: none

Fix augmentation application when no model is attached
  src/anomalib/data/datamodules/base/image.py
Labels: none

added example notebook for the tabular datamodule
  examples/notebooks/100_datamodules/105_tabular.ipynb
Labels: none

Security Fix: Mitigate Remote Code Execution Risk in
  src/anomalib/deploy/inferencers/torch_inferencer.py
Labels: none

Add a whitelist to prevent arbitrary code import
  src/anomalib/data/__init__.py
  src/anomalib/models/__init__.py
  src/anomalib/utils/path.py
Labels: none

update comment
  src/anomalib/data/__init__.py
Labels: none

pre commit cleanup
  CHANGELOG.md
  src/anomalib/data/__init__.py
  src/anomalib/models/__init__.py
Labels: Docs

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

update comment
  src/anomalib/data/__init__.py
Labels: none

Update changelog
  CHANGELOG.md
Labels: Docs

Add semgrep ignore line
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/__init__.py
  src/anomalib/utils/path.py
  tests/integration/model/test_models.py
Labels: Tests

Add env var to unit tests
  tests/unit/deploy/test_inferencer.py
Labels: Tests

Add env var to integration tests
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
Labels: Tests

add weights only to true explicitly in all usages
  src/anomalib/callbacks/model_loader.py
  src/anomalib/models/image/dsr/torch_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: none

add weights only to true explicitly in all usages
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: none

Address torch.Tensor semgrep issue
  src/anomalib/models/image/dsr/torch_model.py
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

Update changelog
  CHANGELOG.md
Labels: Docs

update comment
  src/anomalib/data/__init__.py
Labels: none

pre commit cleanup
  CHANGELOG.md
  src/anomalib/data/__init__.py
  src/anomalib/models/__init__.py
Labels: Docs

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

Docs: update custom pre-processing class to import from correct origin (#2731)
  CHANGELOG.md
  docs/source/markdown/guides/how_to/models/pre_processor.md
Labels: Docs

simplify get_datamodule
  src/anomalib/data/__init__.py
Labels: none

Update error message
  src/anomalib/data/__init__.py
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

Update changelog
  CHANGELOG.md
Labels: Docs

Docs: update custom pre-processing class to import from correct origin (#2731)
  CHANGELOG.md
Labels: Docs

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

🔒 Security Fix: Mitigate Remote Code Execution Risk in `torch.load` (#2729)
  src/anomalib/callbacks/model_loader.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/dsr/torch_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  tests/integration/model/test_models.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
  tests/unit/deploy/test_inferencer.py
Labels: Tests

upgrade zizmor
  .github/actions/security/zizmor/action.yaml
  .pre-commit-config.yaml
Labels: CI, Setup

address zizmor findings
  .github/actions/pytest/action.yaml
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
  .github/actions/security/trivy/action.yaml
  .github/actions/security/zizmor/action.yaml
Labels: CI

address zizmor findings
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/pre_merge.yml
Labels: CI

address zizmor findings
  .github/actions/pytest/action.yaml
Labels: CI

address zizmor findings
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/_reusable-version-check.yaml
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
