Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

remove wrong images
  patches_montage.png
  patches_overlay.png
Labels: none

result images
  docs/source/images/superadd/result_images/0.png
  docs/source/images/superadd/result_images/1.png
  src/anomalib/models/image/super_add/README.md
Labels: Docs

path docs
  docs/source/images/super_add/architecture.png
  docs/source/images/super_add/result_images/0.png
  docs/source/images/super_add/result_images/1.png
Labels: Docs

path docs
  src/anomalib/models/image/super_add/README.md
Labels: none

path docs
  src/anomalib/models/image/super_add/README.md
Labels: none

fix superadd thresholding
  src/anomalib/models/image/super_add/README.md
  src/anomalib/models/image/super_add/__init__.py
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/post_processor.py
  src/anomalib/models/image/super_add/torch_model.py
  tests/unit/models/image/super_add/test_super_add.py
Labels: Tests

fix mypy and allow ints for timm extractor
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: none

fix
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
Labels: none

docs: fix PatchCore timm layer examples
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

docs: clarify PatchCore invalid layer behavior
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

docs: improve timm layer inspection example
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

docs: improve timm layer inspection example
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

fix(data): normalize Split enum to string value before DataFrame comparison
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
Labels: none

Update src/anomalib/models/image/super_add/README.md
  src/anomalib/models/image/super_add/README.md
Labels: none

fix hook failure
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
Labels: none

feat(model): Add SuperADD VAND4.0 winning method (#3628)
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
  docs/source/images/super_add/architecture.png
  docs/source/images/super_add/result_images/0.png
  docs/source/images/super_add/result_images/1.png
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/super_add/README.md
  src/anomalib/models/image/super_add/__init__.py
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/post_processor.py
  src/anomalib/models/image/super_add/torch_model.py
  tests/unit/models/image/super_add/test_super_add.py
Labels: Docs, Tests

update changelog
  CHANGELOG.md
Labels: Docs

Apply suggestion from @ashwinvaidya17
  CHANGELOG.md
Labels: Docs

docs(changelog): update changelog (#3661)
  CHANGELOG.md
Labels: Docs

fix prek
  README.md
Labels: Docs

first commit for added dataset autovi
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/autovi.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/autovi.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/autovi.py
Labels: Docs

add notebook readme
  examples/notebooks/README.md
Labels: none

fix(docs): address prek issues in readme (#3662)
  README.md
  examples/notebooks/README.md
Labels: Docs

feat(model): INP-Former Precision (#3625)
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
Labels: none

Update src/anomalib/models/components/base/backward_compat.py
  src/anomalib/models/components/base/backward_compat.py
Labels: none

deprecate dino folder
  src/anomalib/models/components/dinov2/__init__.py
Labels: none

feat(model): timm extractor for all dinov2 models + dinov3 support (#3627)
  .gitignore
  examples/configs/model/anomaly_dino.yaml
  examples/configs/model/dinomaly.yaml
  examples/configs/model/inp_former.yaml
  examples/configs/model/patchflow/dino.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/_legacy_compat.py
  src/anomalib/models/components/base/__init__.py
  src/anomalib/models/components/base/backward_compat.py
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
  src/anomalib/models/image/dinomaly/components/__init__.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/inp_former/torch_model.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/patchflow/README.md
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/deploy/test_onnx_export.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
  tests/unit/models/components/dinov2/test_vit.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
  tests/unit/models/test_feature_extractor.py
Labels: Setup, Tests

revert versions
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

fix(export): address copilot review on input_names validation
  CHANGELOG.md
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: Docs

fix(export): validate dynamo flag type in get_onnx_dynamo_flag
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: none

revert rcom version
  pyproject.toml
Labels: Setup

update uv.lock
  application/backend/uv.lock
  uv.lock
Labels: none

fix video tests
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

bump torch
  .github/renovate.json5
  application/backend/uv.lock
Labels: CI

disable automerge
  .github/renovate.json5
Labels: CI

Potential fix for pull request finding
  .github/renovate.json5
Labels: CI

fix(deps): bump `torch` to resolve Dependabot alerts and temporary disable auto merge (#3665)
  .github/renovate.json5
  application/backend/uv.lock
Labels: CI

Apply suggestions from code review
  src/anomalib/models/components/sampling/k_center_greedy.py
Labels: none

revert torchcodec location
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

Potential fix for pull request finding
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: none
