Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Update .github/workflows/tauri-build.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

chore(deps): update PyTorch and torchvision versions to >=2.6.0 for security compliance (#3377)
  README.md
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Docs, Setup, Tests

fix(ci): tauri build workflow (#3375)
  .github/workflows/tauri-build.yaml
Labels: CI

feat(migration): update helpers
  tests/helpers/data.py
Labels: Tests

feat(migration): update tests
  tests/unit/data/datamodule/base/image.py
  tests/unit/data/datamodule/image/test_kaputt.py
  tests/unit/data/datamodule/image/test_tabular.py
Labels: Tests

feat(migration): update test utils
  tests/unit/data/utils/test_synthetic.py
Labels: Tests

fix(ci): tauri build workflow (#3375)
  .github/workflows/tauri-build.yaml
Labels: CI

chore(migration): regenerate uv.lock
  uv.lock
Labels: none

chore(deps): update PyTorch and torchvision versions to >=2.6.0 for security compliance (#3377)
  README.md
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Docs, Setup, Tests

feat: Polars DataFrame wrapper with attrs
  pyproject.toml
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/dataframe.py
  uv.lock
Labels: Setup

chore(migration): update pandas ref
  src/anomalib/data/datasets/image/tabular.py
Labels: none

feat(migration): update data/datasets/base
  src/anomalib/data/datasets/base/depth.py
  src/anomalib/data/datasets/base/image.py
  src/anomalib/data/datasets/base/video.py
Labels: none

feat(migration): update data/datamodules/base
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/tabular.py
Labels: none

feat(migration): update data/datasets/video
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
Labels: none

feat(migration): update pipelines
  src/anomalib/pipelines/benchmark/job.py
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
Labels: none

feat(migration): update utils
  src/anomalib/data/utils/split.py
  src/anomalib/data/utils/synthetic.py
Labels: none

feat(migration): add unit tests for dataframe wrapper
  tests/unit/data/utils/test_dataframe.py
Labels: Tests

feat(migration): update data/datasets/depth
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
Labels: none

feat(migration): update data/datasets/image
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/data/datasets/image/vad.py
Labels: none

feat(migration): use functools wraps to improve introspection
  src/anomalib/data/utils/dataframe.py
Labels: none

feat(migration): various minor adjustments
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/utils/synthetic.py
Labels: none

lock regenerate
  uv.lock
Labels: none

Apply suggestions from code review
  tests/unit/metrics/test_adaptive_threshold.py
Labels: Tests

Address PR comment
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

chore(migration): edit copyright date
  src/anomalib/data/utils/dataframe.py
  tests/unit/data/utils/test_dataframe.py
Labels: Tests

chore(migration): use google style docstrings in dataframe wrapper
  src/anomalib/data/utils/dataframe.py
Labels: none

chore(migration): update copyright notice for modified files
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datasets/base/depth.py
  src/anomalib/data/datasets/base/image.py
  src/anomalib/data/datasets/base/video.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/split.py
  src/anomalib/pipelines/benchmark/job.py
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  tests/unit/data/datamodule/base/image.py
  tests/unit/data/datamodule/image/test_tabular.py
  tests/unit/data/utils/test_synthetic.py
Labels: Tests

chore(migration): revert removed examples
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/vad.py
Labels: none

chore(migration): replace usage with example marker in dataframe wrapper file
  src/anomalib/data/utils/dataframe.py
Labels: none

chore: lint
  src/anomalib/data/utils/dataframe.py
Labels: none

refactor(deps): Migrate from Pandas to Polars (#3379)
  pyproject.toml
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datasets/base/depth.py
  src/anomalib/data/datasets/base/image.py
  src/anomalib/data/datasets/base/video.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/bmad.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/dataframe.py
  src/anomalib/data/utils/split.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/pipelines/benchmark/job.py
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  tests/helpers/data.py
  tests/unit/data/datamodule/base/image.py
  tests/unit/data/datamodule/image/test_kaputt.py
  tests/unit/data/datamodule/image/test_tabular.py
  tests/unit/data/utils/test_dataframe.py
  tests/unit/data/utils/test_synthetic.py
  uv.lock
Labels: Setup, Tests

update batch size
  application/backend/src/services/training_service.py
Labels: none

undo num workers
  application/backend/src/services/training_service.py
Labels: none

reduce batch size even further
  application/backend/src/services/training_service.py
Labels: none

🚀 feat(model): add GLASS model into Anomalib (#2629)
  examples/configs/model/glass.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
  third-party-programs.txt
Labels: none

fix
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  tests/unit/metrics/test_adaptive_threshold.py
Labels: Tests

pr comment
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  tests/unit/metrics/test_adaptive_threshold.py
Labels: Tests

fix merge related cases
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  tests/unit/metrics/test_adaptive_threshold.py
Labels: Tests

Update src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

implement copilot feedback
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  tests/unit/metrics/test_adaptive_threshold.py
Labels: Tests
