Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

add stop pipeline endpoint
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/services/__init__.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/stream_loading.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

add missing file
  application/backend/src/exception_handlers.py
Labels: none

feat(inspect): Enable/Disable project (#3117)
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/link-expired.svg
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/media-actions/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/media-actions/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/media-actions/enable-project/enable-project.module.scss
  application/ui/src/features/inspect/media-actions/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/media-actions/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/media-actions/media-actions.component.tsx
  application/ui/src/features/inspect/media-actions/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/media-actions/source-sink-message/source-sink-message.module.scss
  application/ui/src/features/inspect/media-actions/train-model-message/train-model-message.component.tsx
  application/ui/src/features/inspect/media-actions/train-model-message/train-model-message.module.scss
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.module.scss
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
  application/ui/src/features/inspect/stream/stream-container.module.scss
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/models-picker.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/index.ts
  application/ui/src/hooks/use-pipeline.hook.ts
  application/ui/src/routes/inspect/inspect.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

feat(model): add model size attribute and related database schema updates
  application/backend/src/alembic/versions/7bbe7699b43a_add_model_size_column.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fixed linter
  application/backend/src/alembic/versions/7bbe7699b43a_add_model_size_column.py
Labels: none

fix inference bug
  application/backend/src/workers/inference.py
Labels: none

Fixed linter
  application/backend/src/alembic/versions/7bbe7699b43a_add_model_size_column.py
Labels: none

feat(inspect): add endpoint to delete models and their artifacts
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/services/model_service.py
  application/backend/tests/unit/endpoints/test_models.py
Labels: none

Fixed linter
  application/backend/src/services/model_service.py
  application/backend/tests/unit/endpoints/test_models.py
Labels: none

Fixed comments
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fixed comments
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/alembic/versions/7bbe7699b43a_add_model_size_column.py
  application/backend/src/services/training_service.py
Labels: none

Update application/backend/src/services/model_service.py
  application/backend/src/services/model_service.py
Labels: none

apply suggestions
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/services/pipeline_service.py
Labels: none

feat(inspect): add stop pipeline endpoint (#3124)
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/exception_handlers.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/services/__init__.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

update api definitions
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.module.scss
  application/ui/src/features/inspect/main-content/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/main-content/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/main-content/inference.module.scss
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.module.scss
  application/ui/src/features/inspect/main-content/train-model-message/train-model-message.component.tsx
  application/ui/src/features/inspect/main-content/train-model-message/train-model-message.module.scss
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/src/features/utils.ts
  application/ui/src/hooks/use-pipeline.hook.ts
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

add unit tests
  application/ui/mocks/mock-media-item.ts
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/main-content/inference.module.scss
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/main-content/train-model-message/train-model-message.component.tsx
  application/ui/src/features/inspect/main-content/train-model-message/train-model-message.module.scss
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
Labels: none

switch component calls :stop pipeline
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

Fixed comments
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_model_service.py
Labels: none

feat(inspect): exported model size (#3126)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fixed linter
  application/backend/tests/unit/services/test_model_service.py
Labels: none

ci: enable new triggers - CodeQL & security checks
  .github/workflows/codeql.yml
  .github/workflows/security-checks.yaml
Labels: CI

Fixed comments
  application/backend/src/services/training_service.py
Labels: none

Fixed tests
  application/backend/tests/unit/endpoints/test_models.py
Labels: none

Update application/backend/src/services/training_service.py
  application/backend/src/services/training_service.py
Labels: none

Fixed merge
  application/backend/src/services/training_service.py
Labels: none

Fixed tests
  application/backend/tests/unit/services/test_training_service.py
Labels: none

feat(inspect): Fix backend job cancellation (#3122)
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

source sink message
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

update unit test description
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
Labels: none

Fixed tests
  application/backend/tests/unit/services/test_training_service.py
Labels: none

feat(inspect): Enable/Disable inference (#3127)
  application/ui/mocks/mock-media-item.ts
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/confirmation-dialog.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.component.tsx
  application/ui/src/features/inspect/main-content/enable-project/enable-project.module.scss
  application/ui/src/features/inspect/main-content/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/main-content/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/main-content/source-sink-message/source-sink-message.module.scss
  application/ui/src/features/inspect/media-actions/source-sink-message/source-sink-message.component.tsx
  application/ui/src/features/inspect/media-actions/train-model-message/train-model-message.module.scss
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/src/features/utils.ts
  application/ui/src/hooks/use-pipeline.hook.ts
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

dockerfile eof
  application/.packaging/docker/Dockerfile
Labels: none

Update application/.packaging/README.md
  application/.packaging/README.md
Labels: none

Update application/backend/src/geti_inspect/create_openapi.py
  application/backend/src/geti_inspect/create_openapi.py
Labels: none

Update application/backend/src/geti_inspect/cli.py
  application/backend/src/geti_inspect/cli.py
Labels: none

Update application/backend/src/geti_inspect/core/logging/setup.py
  application/backend/src/geti_inspect/core/logging/setup.py
Labels: Setup

feat(inspect): Model deletion endpoint (#3128)
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fix documentation link to openvino notebooks
  examples/notebooks/README.md
Labels: none

capture and upload video frame
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/stream/util.tsx
Labels: none

add delete media item button
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/alert-dialog-content.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-dataset-item.module.scss
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
Labels: none
