Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

docs: update installation guide with correct repository URL
  README.md
Labels: Docs

Created the trainer class for glass model
  src/anomalib/models/components/feature_extractors/network_feature_extractor.py
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/backbones.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/perlin.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Fix type-checking errors
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/ensemble_engine.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
Labels: none

Fix torch.Tensor usage
  tests/unit/pipelines/tiled_ensemble/conftest.py
  tests/unit/pipelines/tiled_ensemble/test_components.py
Labels: Tests

Add more details to docstrings.
  src/anomalib/pipelines/tiled_ensemble/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/__init__.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/__init__.py
Labels: none

Fix MVTecAD class in ens config
  tools/tiled_ensemble/ens_config.yaml
Labels: Tools

Update tiled ensemble docs
  docs/source/markdown/guides/how_to/pipelines/tiled_ensemble.md
Labels: Docs

update references to old github org
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/pull_request_template.md
  CHANGELOG.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  SECURITY.md
  docs/source/markdown/get_started/anomalib.md
  docs/source/markdown/guides/developer/contributing.md
  docs/source/markdown/guides/how_to/data/custom_data.md
  docs/source/markdown/guides/how_to/models/pre_processor.md
  docs/source/markdown/guides/reference/models/image/dsr.md
  docs/source/snippets/install/source.txt
  examples/cli/00_installation/source_install.sh
  examples/notebooks/000_getting_started/001_getting_started.ipynb
  examples/notebooks/000_getting_started/README.md
  examples/notebooks/100_datamodules/103_folder.ipynb
  examples/notebooks/100_datamodules/README.md
  examples/notebooks/200_models/201_fastflow.ipynb
  examples/notebooks/200_models/README.md
  examples/notebooks/400_openvino/401_nncf.ipynb
  examples/notebooks/400_openvino/README.md
  examples/notebooks/700_metrics/701a_aupimo.ipynb
  examples/notebooks/700_metrics/701b_aupimo_advanced_i.ipynb
  examples/notebooks/700_metrics/701c_aupimo_advanced_ii.ipynb
  examples/notebooks/README.md
  pyproject.toml
  src/anomalib/cli/utils/help_formatter.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/pimo/_validate.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/pipelines/benchmark/job.py
  tests/README.md
  tests/integration/model/test_models.py
Labels: CI, Docs, Setup, Tests

Added suggested changes
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/backbones.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/perlin.py
  src/anomalib/models/image/glass/torch_model.py
  third-party-programs.txt
Labels: none

Modified forward method for model
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Fixed backbone loading logic
  src/anomalib/models/image/glass/torch_model.py
Labels: none

security.md update
  .pre-commit-config.yaml
  SECURITY.md
Labels: Docs, Setup

bandit on pre-commit update
  .pre-commit-config.yaml
Labels: Setup

zizmor on pre-commit
  .pre-commit-config.yaml
Labels: Setup

zizmor findings fix
  .github/actions/security/clamav/action.yaml
  .github/actions/security/trivy/action.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/pre_merge.yml
Labels: CI

confidence as an input
  .github/actions/security/semgrep/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

confidence as an input
  .github/workflows/pr.yaml
  .github/workflows/security-checks.yaml
Labels: CI

confidence as an input
  .github/workflows/security-checks.yaml
Labels: CI

confidence as an input
  .github/workflows/security-checks.yaml
Labels: CI

test zizmor
  .github/actions/security/zizmor/action.yaml
  .github/workflows/zizmor-test-reuse.yaml
Labels: CI

fix zizmor
  .github/actions/security/zizmor/action.yaml
Labels: CI

fix zizmor cli
  .github/actions/security/zizmor/action.yaml
Labels: CI

zizmor output
  .github/actions/security/zizmor/action.yaml
Labels: CI

fix zizmor
  .github/actions/security/zizmor/action.yaml
Labels: CI

zizmor sarif
  .github/actions/security/zizmor/action.yaml
Labels: CI

move output logic
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
  .github/actions/security/zizmor/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

zizmor on pr and sched
  .github/actions/security/zizmor/action.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/pr.yaml
  .github/workflows/security-checks.yaml
  .github/workflows/zizmor-test-reuse.yaml
Labels: CI

readme update
  SECURITY.md
Labels: Docs

zizmor readme
  .github/actions/security/zizmor/README.md
Labels: CI

readme update
  .github/actions/security/zizmor/README.md
  README.md
Labels: CI, Docs

move upload to comp action
  .github/actions/security/clamav/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

contributing guide update
  CONTRIBUTING.md
Labels: Docs

fix semgrep findings
  .github/actions/security/trivy/action.yaml
Labels: CI

zizmor, add cache suffix
  .github/actions/security/zizmor/README.md
  .github/actions/security/zizmor/action.yaml
Labels: CI

zizmor delta scan fix
  .github/actions/security/zizmor/action.yaml
Labels: CI

bandit temporary suppression
  pyproject.toml
Labels: Setup

Added type for input shape
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Fixed bugs
  src/anomalib/models/components/feature_extractors/network_feature_extractor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Changed files as needed
  src/anomalib/models/components/__init__.py
  src/anomalib/models/components/feature_extractors/__init__.py
  src/anomalib/models/components/feature_extractors/network_feature_extractor.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/backbones.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/perlin.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

Return metrics from train
  src/anomalib/engine/engine.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
