Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

feat(ci): add auto-approval flow for Renovate "safe" PRs (#3528)
  .github/CODEOWNERS
  .github/renovate.json5
  .github/workflows/auto-approve.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
Labels: CI

chore(ci): exclude compiled workflow files from Renovate scope (#3549)
  .github/renovate.json5
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/scorecards.yml
Labels: CI

fix(UI): application default name (#3440) (#3536)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
Labels: none

chore(lib): prepare patch release (#3526)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

chore(UI): Bumped some ui packages (#3540)
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/api/utils.ts
Labels: none

fix(sampling): handle coreset_size == 0 in KCenterGreedy (#3546)
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(export): duplicated size parameter value in ExportableCenterCrop (#2203) (#3539)
  CHANGELOG.md
  src/anomalib/data/transforms/center_crop.py
Labels: Docs

feat(agent): add rest api skill (#3555)
  .agents/skills/fastapi-rest-api-design/REST_API_CHECKLIST.md
  .agents/skills/fastapi-rest-api-design/SKILL.md
  .github/copilot-instructions.md
Labels: CI

fix(tauri): open feedback issue link in system browser using shell plugin (#3425) (#3542)
  application/binary/tauri/src-tauri/capabilities/default.json
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/feedback/feedback-button.component.tsx
Labels: none

chore(ci): add checks to release branch (#3533)
  .github/workflows/codeql.yml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(security): upgrade loadash-es (#3525)
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  uv.lock
Labels: none

fix(sampling): include initial random point in PatchCore coreset selection (#3509)
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/__init__.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

feat(docker): cache sycl (#3552)
  application/docker/README.md
  application/docker/docker-compose.yml
Labels: none

fix(ci): address Zizmor findings (#3538)
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(training): ddp adaptive f1 score (#3569)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

ci: Add container dynamic scan in security scan workflow (#3571)
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/pr.yaml
  .github/workflows/security-checks.yaml
Labels: CI

chore(lib): increment to dev version (#3563)
  src/anomalib/__init__.py
Labels: none

fix(ci): add packages read option (#3577)
  .github/workflows/release-lib.yaml
Labels: CI

Update load_model_from_ckpt to use weights_only
  src/anomalib/models/image/cfm/components.py
Labels: none

chore(lib): bump to dev (#3600)
  src/anomalib/__init__.py
Labels: none

chore(lib): bump version (#3578)
  src/anomalib/__init__.py
Labels: none

docs(readme): fix broken link in readme (#3595)
  README.md
Labels: Docs

Rename test_cfm to test_cfm.py
  tests/unit/models/image/cfm/test_cfm.py
Labels: Tests

chore(ci): add secret scanners (#3579)
  .github/workflows/secret-scan.yml
  .github/workflows/security-checks.yaml
Labels: CI

feat(model): Half precision training for Dinomaly (#3593)
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

chore(ci): add `step-security/harden-runner` and cooldown period (#3575)
  .github/renovate.json5
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/auto-approve.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/issue-management.yaml
  .github/workflows/npm-audit-fix.yml
  .github/workflows/pr.yaml
  .github/workflows/promote-rc-app-release.yml
  .github/workflows/publish-rc-app.yml
  .github/workflows/release-lib.yaml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
Labels: CI

chore(lib): prepare for 2.4.1 release (#3576)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

ci(agent): use local llm for agentic workflow (#3585)
  .github/CODEOWNERS
  .github/actions/ollama-preflight/action.yaml
  .github/agents/agentic-workflows.agent.md
  .github/agents/agents-md-sync-opencode.md
  .github/agents/docs-sync-opencode.md
  .github/agents/issue-triage-opencode.md
  .github/aw/actions-lock.json
  .github/opencode.json
  .github/workflows/agents-md-sync.lock.yml
  .github/workflows/agents-md-sync.md
  .github/workflows/docs-sync.lock.yml
  .github/workflows/docs-sync.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

Update cfm.yaml to remove data configuration
  examples/configs/model/cfm.yaml
Labels: none

fix(deps): update dependencies (#3574)
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  pyproject.toml
  uv.lock
Labels: Setup

chore(release): prep minor release (#3599)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

fix(ci): add opencode path to workflow (#3591)
  .github/actions/ollama-preflight/action.yaml
  .github/agents/agents-md-sync-opencode.md
  AGENTS.md
Labels: CI, Docs

feat(ci): add agent audit skill (#3594)
  .agents/skills/agentic-actions-auditor/LICENSE
  .agents/skills/agentic-actions-auditor/README.md
  .agents/skills/agentic-actions-auditor/SKILL.md
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
  .agents/skills/agentic-actions-auditor/references/cross-file-resolution.md
  .agents/skills/agentic-actions-auditor/references/foundations.md
  .agents/skills/agentic-actions-auditor/references/vector-a-env-var-intermediary.md
  .agents/skills/agentic-actions-auditor/references/vector-b-direct-expression-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-c-cli-data-fetch.md
  .agents/skills/agentic-actions-auditor/references/vector-d-pr-target-checkout.md
  .agents/skills/agentic-actions-auditor/references/vector-e-error-log-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-f-subshell-expansion.md
  .agents/skills/agentic-actions-auditor/references/vector-g-eval-of-ai-output.md
  .agents/skills/agentic-actions-auditor/references/vector-h-dangerous-sandbox-configs.md
  .agents/skills/agentic-actions-auditor/references/vector-i-wildcard-allowlists.md
  .github/copilot-instructions.md
  third-party-programs.txt
Labels: CI

🚀 feat(model): Added AnomalyVFM (#3559) (#3590)
  CHANGELOG.md
  docs/source/images/anomalyvfm/anomalyvfm.png
  docs/source/markdown/guides/reference/models/image/anomalyvfm.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/anomalyvfm.yaml
  pyproject.toml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomalyvfm/LICENSE
  src/anomalib/models/image/anomalyvfm/README.md
  src/anomalib/models/image/anomalyvfm/__init__.py
  src/anomalib/models/image/anomalyvfm/components/__init__.py
  src/anomalib/models/image/anomalyvfm/components/decoder.py
  src/anomalib/models/image/anomalyvfm/components/dora.py
  src/anomalib/models/image/anomalyvfm/components/radio.py
  src/anomalib/models/image/anomalyvfm/lightning_model.py
  src/anomalib/models/image/anomalyvfm/torch_model.py
  third-party-programs.txt
Labels: Docs, Setup

Refactor lightning model initialization and pre-processing
  src/anomalib/models/image/cfm/lightning_model.py
Labels: none

Remove image_size parameter and use target_size
  src/anomalib/models/image/cfm/anomaly_map.py
Labels: none

Remove image_size parameter and adjust feature extraction
  src/anomalib/models/image/cfm/components.py
Labels: none

chore: Removed files
  .agents/skills/agentic-actions-auditor/LICENSE
  .agents/skills/agentic-actions-auditor/README.md
  .agents/skills/agentic-actions-auditor/SKILL.md
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
  .agents/skills/agentic-actions-auditor/references/cross-file-resolution.md
  .agents/skills/agentic-actions-auditor/references/foundations.md
  .agents/skills/agentic-actions-auditor/references/vector-a-env-var-intermediary.md
  .agents/skills/agentic-actions-auditor/references/vector-b-direct-expression-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-c-cli-data-fetch.md
  .agents/skills/agentic-actions-auditor/references/vector-d-pr-target-checkout.md
  .agents/skills/agentic-actions-auditor/references/vector-e-error-log-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-f-subshell-expansion.md
  .agents/skills/agentic-actions-auditor/references/vector-g-eval-of-ai-output.md
  .agents/skills/agentic-actions-auditor/references/vector-h-dangerous-sandbox-configs.md
  .agents/skills/agentic-actions-auditor/references/vector-i-wildcard-allowlists.md
  .agents/skills/benchmark-and-docs-refresh/SKILL.md
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/fastapi-rest-api-design/REST_API_CHECKLIST.md
  .agents/skills/fastapi-rest-api-design/SKILL.md
  .agents/skills/model-doc-sync/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
  .agents/skills/models-data/SKILL.md
  .agents/skills/pr-workflow/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
  .agents/skills/python-style/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/third-party-code/SKILL.md
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
Labels: none

Refactor constructor by removing image_size parameter
  src/anomalib/models/image/cfm/torch_model.py
Labels: none

feat(model): add GLASS model (#3589)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/glass.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/glass.yaml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/README.md
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
  tests/integration/model/test_models.py
  tests/unit/data/utils/test_perlin_generator.py
  tests/unit/deploy/test_inferencer.py
  third-party-programs.txt
Labels: Docs, Tests
