Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

fix
  .semgrep/path-traversal.yaml
  README.md
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: Docs

Apply suggestions from code review
  .semgrep/path-traversal.py
Labels: none

Potential fix for pull request finding
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
Labels: none

fix
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
Labels: none

Add workflow
  .github/scripts/benchmark/README.md
  .github/scripts/benchmark/matrix.yaml
  .github/scripts/benchmark/orchestrate.py
  .github/workflows/nightly-benchmark.yml
  src/anomalib/pipelines/benchmark/job.py
Labels: CI

Potential fix for pull request finding
  application/backend/src/repositories/binary_repo.py
Labels: none

fix
  pyproject.toml
Labels: Setup

address comments
  .github/scripts/benchmark/README.md
  .github/scripts/benchmark/orchestrate.py
  .github/workflows/nightly-benchmark.yml
  src/anomalib/pipelines/benchmark/job.py
Labels: CI

update changelog
  CHANGELOG.md
Labels: Docs

fix action
  .github/workflows/nightly-benchmark.yml
Labels: CI

limit number of epochs
  .github/scripts/benchmark/README.md
  .github/scripts/benchmark/matrix.yaml
  .github/scripts/benchmark/orchestrate.py
  src/anomalib/pipelines/benchmark/generator.py
  src/anomalib/pipelines/benchmark/job.py
  tests/integration/pipelines/test_benchmark.py
Labels: CI, Tests

fix: path traversal (#3686)
  .github/workflows/_reusable-security-scan.yaml
  .pre-commit-config.yaml
  .semgrep/path-traversal.py
  .semgrep/path-traversal.yaml
  .semgrepignore
  README.md
  application/backend/src/api/endpoints/video_endpoints.py
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/video_service.py
  application/backend/tests/unit/endpoints/test_video_path_traversal.py
  application/backend/tests/unit/repositories/__init__.py
  application/backend/tests/unit/repositories/test_binary_repo_path_traversal.py
  application/backend/tests/unit/services/test_video_service.py
  pyproject.toml
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: CI, Docs, Setup

remove deprecated API
  CHANGELOG.md
  README.md
  examples/configs/data/kaputt.yaml
  examples/configs/model/efficient_ad.yaml
  src/anomalib/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/metrics/aupro.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/utils/path.py
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Docs, Tests

chore(lib): remove deprecated APIs (#3693)
  CHANGELOG.md
  README.md
  examples/configs/data/kaputt.yaml
  examples/configs/model/efficient_ad.yaml
  src/anomalib/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/metrics/aupro.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/utils/path.py
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Docs, Tests

address comments
  src/anomalib/models/image/super_add/README.md
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

Apply suggestions from code review
  src/anomalib/models/image/super_add/lightning_model.py
Labels: none

Potential fix for pull request finding
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

bump to dev
  src/anomalib/__init__.py
Labels: none

Fix cleanup old app images scheduled dry run issue
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Address semgrep comment
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Potential fix for pull request finding
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Potential fix for pull request finding
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

ci: inline dry-run expression in cleanup-old-app-images workflow (#3699)
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Add group for workflow
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Queue next run instead of cancelling
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Potential fix for pull request finding
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

fix: Fix cleanup old app images scheduled dry run issue (#3698)
  .github/workflows/cleanup-old-app-images.yml
Labels: CI

Lock uv version for renovate bot
  .github/renovate.json5
  .github/workflows/tauri-build.yaml
Labels: CI

Potential fix for pull request finding
  .github/renovate.json5
Labels: CI

ci: Lock uv version for renovate bot (#3701)
  .github/renovate.json5
  .github/workflows/tauri-build.yaml
Labels: CI

Do not recreate uv.lock update PR when closed
  .github/renovate.json5
Labels: CI

Revert recreateWhen to default for uv.lock update
  .github/renovate.json5
Labels: CI

Update toml to exclude CVE-flagged torch 2.6.0+xpu
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

ci: Exclude CVE-flagged torch 2.6.0+xpu from project toml (#3703)
  .github/renovate.json5
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: CI

test(engine): cover full checkpoint loading
  tests/unit/engine/test_engine.py
Labels: Tests

bump deps
  application/backend/pyproject.toml
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

fix Lob
  .github/workflows/secret-scan.yml
Labels: CI

comments
  application/backend/pyproject.toml
  pyproject.toml
Labels: Setup

chore(deps): resolve some dependabot alerts (#3717)
  .github/workflows/secret-scan.yml
  application/backend/pyproject.toml
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: CI, Setup

Optimize binary classification curve metric with PyTorch
  src/anomalib/metrics/pimo/binary_classification_curve.py
  tests/unit/metrics/pimo/test_binary_classification_curve.py
Labels: Tests
