Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Update uv.lock
  application/backend/uv.lock
Labels: none

Implemented new status bar
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/adapters/connection-status.adapter.tsx
  application/ui/src/features/inspect/footer/adapters/index.ts
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/footer/adapters/use-export-status.ts
  application/ui/src/features/inspect/footer/adapters/use-upload-status.ts
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/footer/status-bar/index.ts
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.component.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.interface.ts
  application/ui/src/features/inspect/footer/status-bar/status-bar.module.scss
  application/ui/src/features/inspect/footer/training-status-item.component.tsx
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/providers.tsx
Labels: none

chore: update dependencies in pyproject.toml
  application/backend/pyproject.toml
  pyproject.toml
  uv.lock
Labels: Setup

Update prek references
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/pre_merge.yml
  CONTRIBUTING.md
  docs/source/markdown/guides/developer/contributing.md
  tests/README.md
  tox.ini
Labels: CI, Docs, Setup, Tests

Update uv.lock
  application/backend/uv.lock
Labels: none

update dockerfile
  application/.packaging/docker/Dockerfile
  application/.packaging/docker/docker-compose.yml
  application/backend/.pre-commit-config.yaml
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

Add pagination to all listing endpoints
  application/backend/src/api/dependencies/__init__.py
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/dependencies/pagination_limit.py
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/snapshot_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/pydantic_models/base.py
  application/backend/src/pydantic_models/dataset_snapshot.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/media.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/pydantic_models/project.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/repositories/base.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/dataset_snapshot_service.py
  application/backend/src/services/job_service.py
  application/backend/src/services/media_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/project_service.py
  application/backend/src/services/training_service.py
Labels: none

remove abc
  application/backend/src/pydantic_models/base.py
Labels: none

fix tests
  application/backend/src/services/dataset_snapshot_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/endpoints/test_projects.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_dataset_snapshot_service.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/tests/unit/services/test_job_service_pagination.py
  application/backend/tests/unit/services/test_media_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_project_service.py
Labels: none

update uv lock
  application/backend/uv.lock
Labels: none

UI: implements pagination on source and sink
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sinks.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sources.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
Labels: none

Revert formatting
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/pydantic_models/devices.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/repositories/binary_repo.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_media_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Revert formatting
  application/ui/src/assets/icons/index.ts
Labels: none

Update actions
  .github/workflows/geti-inspect.yaml
Labels: CI

fix typo
  application/backend/pyproject.toml
Labels: none

Add python docstrings cursor rule
  .cursor/rules/python_docstrings.mdc
Labels: none

Update .cursor/rules/python_docstrings.mdc
  .cursor/rules/python_docstrings.mdc
Labels: none

Added tests
  application/ui/src/features/inspect/footer/adapters/connection-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/footer/adapters/use-export-status.test.tsx
  application/ui/src/features/inspect/footer/adapters/use-upload-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.test.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.component.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.test.tsx
  application/ui/src/providers.tsx
Labels: none

downgrade mypy to 1.16.1 due to https://github.com/python/mypy/issues/20015
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

add mising imports
  application/ui/src/features/inspect/toolbar/models-list/models-list.test.tsx
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
Labels: none

select completed models
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/hooks/use-completed-models.hook.ts
  application/ui/src/hooks/use-project-trainingJobs.hook.ts
  application/ui/src/hooks/use-trained-models.ts
  application/ui/src/hooks/utils.ts
Labels: none

feat(model): add DINOv2 official implementation and AnomalyDINO (#3105)
  docs/source/markdown/guides/reference/models/image/anomaly_dino.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/README.md
  examples/configs/model/anomaly_dino.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/__init__.py
  src/anomalib/models/components/dinov2/layers/attention.py
  src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/components/dinov2/layers/layer_scale.py
  src/anomalib/models/components/dinov2/layers/mlp.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
  src/anomalib/models/image/dinomaly/components/__init__.py
  src/anomalib/models/image/dinomaly/components/dinov2_loader.py
  src/anomalib/models/image/dinomaly/components/layers.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
  tests/unit/models/components/dinov2/__init__.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
  tests/unit/models/components/dinov2/test_vit.py
  tests/unit/models/image/anomaly_dino/__init__.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Docs, Tests

fix tests
  application/backend/src/services/__init__.py
  application/backend/src/services/model_service.py
  application/backend/src/services/project_service.py
  application/backend/tests/unit/endpoints/test_projects.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_project_service.py
Labels: none

add project deletion
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/repositories/base.py
  application/backend/src/repositories/binary_repo.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/dataset_snapshot_service.py
  application/backend/src/services/job_service.py
  application/backend/src/services/media_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/services/project_service.py
Labels: none

return 409 if running jobs
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/services/job_service.py
Labels: none

fix(dinov2_loader): update semgrep skip
  src/anomalib/models/components/dinov2/dinov2_loader.py
Labels: none

fix(dinov2_loader): fixes comments
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Tests

fix(dinov2_loader): adjust comment placement for clarity in weight loading
  src/anomalib/models/components/dinov2/dinov2_loader.py
Labels: none

fix(model): resolve copilot comments
  src/anomalib/models/__init__.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/__init__.py
Labels: none

fix mypy
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/services/model_service.py
Labels: none

fix test
  application/backend/tests/unit/services/test_model_service_export.py
Labels: none

camera unique names and auto name completion
  application/backend/src/utils/devices.py
  application/backend/tests/unit/utils/test_devices.py
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

fix
  application/backend/src/utils/devices.py
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
Labels: none

Fixed timers
  application/ui/src/features/inspect/footer/adapters/use-export-status.ts
  application/ui/src/features/inspect/footer/adapters/use-upload-status.ts
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.component.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.interface.ts
Labels: none

fix name
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
Labels: none

Update application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

Update application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

Update application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

Update application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
Labels: none

use pascal case for trainable models
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
