Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

add patch test
  tests/unit/deploy/test_onnx_export.py
Labels: Tests

disable aa in timm.py
  src/anomalib/models/components/base/export_mixin.py
  src/anomalib/models/components/feature_extractors/timm.py
  tests/unit/deploy/test_onnx_export.py
Labels: Tests

fix timm extractor for all feature extraction models
  src/anomalib/models/components/feature_extractors/timm.py
Labels: none

perf(model): make dinomaly compatible with tensorrt conversion
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

Potential fix for pull request finding
  application/binary/tauri/src-tauri/Cargo.toml
Labels: none

use v2
  application/ui/package.json
Labels: none

use tiged
  application/ui/package.json
Labels: none

bump cli
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
Labels: none

chore(deps): package version fixes
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

chore(deps) update some package versions
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

docs for superadd
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

docs files
  docs/source/images/superadd/architecture.png
  patches_montage.png
  patches_overlay.png
  src/anomalib/models/image/super_add/README.md
Labels: Docs

Update src/anomalib/models/image/super_add/__init__.py
  src/anomalib/models/image/super_add/__init__.py
Labels: none

Update src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/lightning_model.py
Labels: none

Update src/anomalib/models/__init__.py
  src/anomalib/models/__init__.py
Labels: none

Update src/anomalib/models/image/super_add/torch_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

mvtecad2 docstring
  src/anomalib/models/image/super_add/__init__.py
Labels: none

update npm fix
  .github/workflows/npm-audit-fix.yml
Labels: CI

add check-path
  .github/workflows/anomalib-studio.yaml
  .github/workflows/pr.yaml
Labels: CI

permissions
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/issue-management.yaml
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
  .github/workflows/pr.yaml
  .github/workflows/release-lib.yaml
  .github/workflows/renovate-config-validator.yml
Labels: CI

zizmor
  .github/actions/ollama-preflight/action.yaml
Labels: CI

prek
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/issue-management.yaml
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
  .github/workflows/pr.yaml
  .github/workflows/renovate-config-validator.yml
Labels: CI

fix
  .github/workflows/anomalib-studio.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-lib.yaml
Labels: CI

Potential fix for pull request finding
  .github/workflows/pr.yaml
Labels: CI

Potential fix for pull request finding
  .github/workflows/pr.yaml
Labels: CI

permissions
  .github/workflows/opencode-issue-triage.yml
Labels: CI

fixes
  .github/workflows/anomalib-studio.yaml
  .github/workflows/npm-audit-fix.yml
  .github/workflows/pr.yaml
Labels: CI

Potential fix for pull request finding
  .github/workflows/pr.yaml
Labels: CI

fixes
  .github/workflows/anomalib-studio.yaml
Labels: CI

fix(k-center-greedy): remove CPU-GPU synchronization in coreset selection loop
  src/anomalib/models/components/sampling/k_center_greedy.py
Labels: none

remove cu118
  README.md
  application/backend/uv.lock
  examples/cli/00_installation/uv_install.sh
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
  uv.lock
Labels: Docs, Setup, Tests

remove cu118
  pyproject.toml
Labels: Setup

torchvision
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

fixes
  CHANGELOG.md
  src/anomalib/cli/utils/installation.py
Labels: Docs

first commit for added dataset autovi
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/autovi.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/autovi.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/autovi.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/autovi.py
Labels: Docs

layers to superadd model
  src/anomalib/models/image/super_add/lightning_model.py
  src/anomalib/models/image/super_add/torch_model.py
Labels: none

legacy modules
  src/anomalib/models/__init__.py
  src/anomalib/models/_legacy_compat.py
  src/anomalib/models/components/base/__init__.py
  src/anomalib/models/components/base/backward_compat.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/patchflow/lightning_model.py
Labels: none

Improve PatchCore backbone layer documentation
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

docs: fix markdown table formatting
  docs/source/markdown/guides/reference/models/image/patchcore.md
Labels: Docs

add deprecation
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
  src/anomalib/models/components/base/backward_compat.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
