Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

docs(changelog): link AUPR fix pull request
  CHANGELOG.md
Labels: Docs

implementing suggestions
  src/anomalib/models/components/cluster/kmeans.py
Labels: none

Add LIBAD dataset dataloader and config
  examples/configs/data/libad.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/libad.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/libad.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_libad.py
Labels: Tests

Add new design
  src/anomalib/engine/engine.py
  src/anomalib/engine/plugins/__init__.py
  src/anomalib/engine/plugins/checkpoint_io.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/image/dfkde/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/models/image/reverse_distillation/lightning_model.py
  src/anomalib/models/image/vlm_ad/lightning_model.py
  src/anomalib/utils/serialization.py
Labels: none

chore(ci): remove opencode actions to avoid GPU OOM
  .github/actions/ollama-preflight/action.yaml
  .github/agents/agents-md-sync-opencode.md
  .github/agents/docs-sync-opencode.md
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

chore(ci): remove opencode actions to avoid GPU OOM (#3802)
  .github/actions/ollama-preflight/action.yaml
  .github/agents/agents-md-sync-opencode.md
  .github/agents/docs-sync-opencode.md
  .github/agents/issue-triage-opencode.md
  .github/opencode.json
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
Labels: CI

update instructions
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/models-data/SKILL.md
  .github/copilot-instructions.md
Labels: CI

fix(callbacks): make MaxStepsProgressCallback picklable for checkpointing
  src/anomalib/callbacks/rich_progress_bar.py
  tests/unit/callbacks/__init__.py
  tests/unit/callbacks/test_rich_progress_bar.py
Labels: Tests

Potential fix for pull request finding
  .github/copilot-instructions.md
Labels: CI

adding early exit
  src/anomalib/models/components/cluster/kmeans.py
  tests/unit/models/components/clustering/test_kmeans.py
Labels: Tests

minor fix
  src/anomalib/data/datamodules/image/libad.py
  src/anomalib/data/datasets/image/libad.py
Labels: none

minor fix
  tests/unit/data/datamodule/image/test_libad.py
Labels: Tests

chore(copilot): update review instructions (#3803)
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
  .agents/skills/models-data/SKILL.md
  .github/copilot-instructions.md
Labels: CI

Fix thresholds_between_min_and_max device fallback
  src/anomalib/metrics/binning.py
  tests/unit/metrics/test_binning.py
Labels: Tests

docs: remove retired HPO references from README and how-to index
  README.md
  docs/source/index.md
  docs/source/markdown/guides/how_to/index.md
Labels: Docs

updating the header
  src/anomalib/metrics/binning.py
  tests/unit/metrics/test_binning.py
Labels: Tests

docs: remove retired HPO references from README and how-to index (#3808)
  README.md
  docs/source/index.md
  docs/source/markdown/guides/how_to/index.md
Labels: Docs

- add tests - fix pickle for some models - address tiling based models
  src/anomalib/engine/plugins/checkpoint_io.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/dfkde/lightning_model.py
  src/anomalib/models/image/reverse_distillation/lightning_model.py
  src/anomalib/models/image/vlm_ad/lightning_model.py
  src/anomalib/pre_processing/utils/spec.py
  src/anomalib/utils/serialization.py
  test_ckpt_load.py
  tests/unit/engine/test_checkpoint_io.py
  tests/unit/pre_processing/test_spec.py
  tests/unit/utils/test_serialization.py
Labels: Tests

remove file
  test_ckpt_load.py
Labels: none

address security bot
  src/anomalib/pre_processing/utils/spec.py
  tests/unit/engine/test_checkpoint_io.py
Labels: Tests

address copilot comments
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/pre_processing/utils/spec.py
  src/anomalib/utils/path.py
  tests/unit/engine/test_checkpoint_io.py
  tests/unit/pre_processing/test_spec.py
  tests/unit/utils/test_path.py
Labels: Tests

refactor
  CHANGELOG.md
  src/anomalib/pre_processing/utils/_transform_registry.py
  src/anomalib/pre_processing/utils/spec.py
  tests/unit/pre_processing/test_spec.py
  tests/unit/utils/test_serialization.py
Labels: Docs, Tests

more refactor
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/post_processing/mebin_post_processor.py
  src/anomalib/post_processing/post_processor.py
  src/anomalib/pre_processing/pre_processor.py
  tests/unit/engine/test_checkpoint_io.py
Labels: Tests

feat(model): add mh-patchcore embedding pipeline
  src/anomalib/models/image/mh_patchcore/LICENSE
  src/anomalib/models/image/mh_patchcore/__init__.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
  third-party-programs.txt
Labels: Tests

address copilot comments
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pre_processing/utils/spec.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
  tests/unit/pre_processing/test_spec.py
Labels: Tests

feat(model): add mh-patchcore pca projection
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_components.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): add mh-patchcore covariance whitening
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_components.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): add mh-patchcore merge-reduce memory bank
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_components.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): add mh-patchcore anomaly scoring
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): complete mh-patchcore torch inference
  src/anomalib/models/image/mh_patchcore/anomaly_map.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): integrate mh-patchcore training lifecycle
  src/anomalib/models/image/mh_patchcore/__init__.py
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

feat(model): persist mh-patchcore fitted state
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/lightning_model.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

feat(model): support mh-patchcore exports
  src/anomalib/models/image/mh_patchcore/torch_model.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
  tests/unit/models/image/mh_patchcore/test_torch_model.py
Labels: Tests

feat(model): expose mh-patchcore through public api
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  tests/integration/model/test_models.py
  tests/unit/models/image/mh_patchcore/test_lightning_model.py
Labels: Tests

test(model): isolate mh-patchcore test modules
  tests/unit/models/image/mh_patchcore/__init__.py
Labels: Tests

address copilot comments + refactor tests
  src/anomalib/models/image/super_add/post_processor.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pre_processing/pre_processor.py
  tests/unit/engine/test_checkpoint_io.py
  tests/unit/pipelines/tiled_ensemble/test_helper_functions.py
Labels: Tests

fix guide
  docs/source/markdown/guides/how_to/models/pre_processor.md
Labels: Docs

docs(model): add mh-patchcore result assets
  docs/source/images/mh_patchcore/architecture.png
  docs/source/images/mh_patchcore/results/0.png
  docs/source/images/mh_patchcore/results/1.png
  docs/source/images/mh_patchcore/results/2.png
Labels: Docs

docs(model): document mh-patchcore
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/mh_patchcore.md
  examples/configs/model/mh_patchcore.yaml
  src/anomalib/models/image/mh_patchcore/README.md
Labels: Docs

format fix
  tests/unit/models/components/clustering/test_kmeans.py
Labels: Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
