Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

🐞 fix(utils): revert `OptionalImport` class to handle missing optional dependencies (#2956)
  src/anomalib/data/utils/video.py
  src/anomalib/loggers/comet.py
  src/anomalib/loggers/mlflow.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/loggers/wandb.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
  src/anomalib/utils/imports.py
Labels: none

🚀 feat(model): Make coreset selection for patchcore faster (#2968)
  src/anomalib/models/components/sampling/k_center_greedy.py
Labels: none

🚀 feat(data): add backward compatibility methods and update docstring examples (#2950)
  src/anomalib/data/dataclasses/numpy/base.py
  src/anomalib/data/dataclasses/torch/base.py
  src/anomalib/visualization/image/item_visualizer.py
  src/anomalib/visualization/image/visualizer.py
Labels: none

🐛 fix(mebin): remove debug print statement for value range
  src/anomalib/metrics/threshold/mebin.py
Labels: none

Update src/anomalib/post_processing/mebin_post_processor.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

Update src/anomalib/metrics/threshold/mebin.py
  src/anomalib/metrics/threshold/mebin.py
Labels: none

📦 docs(post-processor): revert docs for MEBIN
  docs/source/markdown/guides/how_to/models/post_processor.md
Labels: Docs

🐛 fix(mebin): simplify max calculation for connected component counts
  src/anomalib/metrics/threshold/mebin.py
Labels: none

Update src/anomalib/post_processing/mebin_post_processor.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

pr-3030
  .pre-commit-config.yaml
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/models/image/dinomaly/components/layers.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Setup, Tests

🐛 fix(mebin): update threshold return types to float and remove debug print statement
  src/anomalib/metrics/threshold/mebin.py
Labels: none

🐛 fix(mebin): refactor MEBin post-processing . Works now. Need to re-check if implementation matches author's implementation
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

🐛 fix(mebin): update return types in MEBin methods to tuples for better clarity
  src/anomalib/metrics/threshold/mebin.py
Labels: none

✨ feat(post-processing): Make minor changes as per comments
  CHANGELOG.md
  docs/source/markdown/guides/how_to/models/post_processor.md
  docs/source/markdown/guides/reference/post_processing/index.md
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Docs, Tests

🐛 fix(mebin): update examples in MEBin and MEBinPostProcessor for clarity
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

🔧 chore(codeowners): Update owners (#3042)
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: CI, Docs

fix pipeline
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/services/dispatchers/base.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/base.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

Update application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/endpoints/test_pipelines.py
Labels: none

fix(inspect): fix pipeline conflict (#3090)
  application/backend/src/api/endpoints/pipeline_endpoints.py
  application/backend/src/services/dispatchers/base.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/base.py
  application/backend/src/workers/dispatching.py
  application/backend/src/workers/inference.py
  application/backend/src/workers/stream_loading.py
  application/backend/src/workers/training.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

improve openapi spec
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/base.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
Labels: none

refactor(data): Resolve mypy [misc] __replace__ inheritance conflicts
  src/anomalib/data/dataclasses/numpy/depth.py
Labels: none

fix eslint
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
Labels: none

fix test
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
Labels: none

fix style
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
Labels: none

fix prettier warnings
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
Labels: none

chore(inspect): improve openapi spec (#3100)
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/base.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
Labels: none

add alembic migration
  application/backend/.pre-commit-config.yaml
  application/backend/src/alembic.ini
  application/backend/src/alembic/README
  application/backend/src/alembic/env.py
  application/backend/src/alembic/script.py.mako
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/cli.py
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/db/__init__.py
  application/backend/src/db/engine.py
  application/backend/src/db/migration.py
  application/backend/src/settings.py
Labels: none

remove duplicated files
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields copy/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/header-key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
Labels: none

enable/disable pipelines
  application/ui/src/components/stream/stream.tsx
  application/ui/src/components/stream/web-rtc-connection.ts
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
Labels: none

fix component tests
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/tests/fixtures.ts
Labels: none

update inference provider
  application/ui/src/features/inspect/inference-provider.component.tsx
Labels: none

feat(inspect): Pipeline enable/disable (#3097)
  application/ui/src/components/stream/stream.tsx
  application/ui/src/components/stream/web-rtc-connection.ts
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/inference-result.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields copy/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/header-key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/tests/fixtures.ts
Labels: none

feat(inspect): implement device selection in training model dialog
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model.module.scss
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
  application/ui/tests/tsconfig.json
  application/ui/tsconfig.json
Labels: none

Update application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
Labels: none

Fixed tests
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
Labels: none

Fixed comments
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

feat(inspeect): add alembic migration (#3103)
  application/backend/.pre-commit-config.yaml
  application/backend/src/alembic.ini
  application/backend/src/alembic/README
  application/backend/src/alembic/env.py
  application/backend/src/alembic/script.py.mako
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/cli.py
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/db/__init__.py
  application/backend/src/db/engine.py
  application/backend/src/db/migration.py
  application/backend/src/settings.py
Labels: none

Added GitHub link
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
Labels: none

Update xpu.py regarind PR #3092
  src/anomalib/engine/accelerator/xpu.py
Labels: none

Update xpu.py
  src/anomalib/engine/accelerator/xpu.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
