Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

style fix
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
Labels: none

remove unused import
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

Fixed linter
  application/ui/src/features/inspect/footer/adapters/connection-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar-context.tsx
  application/ui/src/features/inspect/footer/status-bar/status-bar.test.tsx
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
Labels: none

3173 remove statistics tab
  application/ui/src/features/inspect/sidebar.component.tsx
Labels: none

dataset virtualization
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/util.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/utils.ts
Labels: none

eslint fixes
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
Labels: none

rename project
  application/ui/src/features/inspect/projects-management/add-project-button/add-project-button.component.tsx
  application/ui/src/features/inspect/projects-management/add-project-button/add-project-button.module.scss
  application/ui/src/features/inspect/projects-management/project-list-item/project-edition/project-edition.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-edition/project-edition.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.module.scss
Labels: none

dataset infinite scroll
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/hooks/use-get-media-items.hook.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

Fixed linter
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
Labels: none

adopt google style docstring
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/media_rest_validator.py
  application/backend/src/entities/images_folder_stream.py
  application/backend/src/exceptions.py
  application/backend/src/repositories/binary_repo.py
Labels: none

Minor fixes
  application/ui/mocks/mock-pagination.ts
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.test.tsx
Labels: none

fix ci
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

fix security checks on push
  .github/workflows/security-checks.yaml
Labels: CI

suppress finding
  src/anomalib/models/components/dinov2/vision_transformer.py
Labels: none

Serve UI from fastapi in prod
  application/.packaging/docker/Dockerfile
  application/.packaging/docker/docker-compose.yml
  application/backend/src/api/endpoints/webui_endpoints.py
  application/backend/src/main.py
  application/backend/src/settings.py
Labels: none

move dir
  application/docker/Dockerfile
  application/docker/README.md
  application/docker/docker-compose.yml
  application/docker/nginx.conf
Labels: none

dataset infinite scroll
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/dataset/hooks/use-get-media-items.hook.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

rename project
  application/ui/src/features/inspect/projects-management/add-project-button/add-project-button.component.tsx
  application/ui/src/features/inspect/projects-management/add-project-button/add-project-button.module.scss
  application/ui/src/features/inspect/projects-management/project-list-item/project-edition/project-edition.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-edition/project-edition.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.module.scss
Labels: none

3173 remove statistics tab
  application/ui/src/features/inspect/sidebar.component.tsx
Labels: none

dataset virtualization
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/util.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/utils.ts
Labels: none

ci: fix security scan push and on schedule
  .github/workflows/security-checks.yaml
Labels: CI

fix context path
  application/docker/docker-compose.yml
Labels: none

update hash
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

Fixed comment
  application/ui/mocks/mock-pagination.ts
Labels: none

fix: remove unnecessary nosempgrep comment in DinoVisionTransformer class
  src/anomalib/models/components/dinov2/vision_transformer.py
Labels: none

refactor: clean up logging and improve code readability in DINOv2 components
  src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
Labels: none

fix: replace AssertionError with ValueError for input dimension checks and improve error message formatting
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
Labels: none

eslint fixes
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
Labels: none

fix pipeline visualization
  application/backend/src/services/model_service.py
  application/backend/src/utils/visualization.py
  application/backend/src/workers/inference.py
Labels: none

Fixed comments
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/adapters/index.ts
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/connection-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/connection-status.adapter.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.ts
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.ts
  application/ui/src/features/inspect/footer/status-bar/index.ts
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/providers.tsx
Labels: none

Fixed linter
  application/ui/mocks/mock-pagination.ts
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.test.tsx
Labels: none

Fixed comment
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.ts
Labels: none

fix tests
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Fixed comments
  application/ui/mocks/mock-pagination.ts
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.ts
Labels: none

make max_epochs optional
  application/backend/src/pydantic_models/job.py
Labels: none

make max_epochs optional
  application/backend/src/pydantic_models/job.py
Labels: none

chore(ci): add python 3.13 compatibility
  .github/workflows/pr.yaml
  pyproject.toml
  src/anomalib/data/dataclasses/torch/base.py
  src/anomalib/data/datasets/image/datumaro.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/image/cfa/lightning_model.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/patchcore/lightning_model.py
  src/anomalib/models/image/supersimplenet/lightning_model.py
  src/anomalib/models/image/uflow/lightning_model.py
  src/anomalib/models/image/vlm_ad/lightning_model.py
  src/anomalib/models/image/winclip/lightning_model.py
  src/anomalib/models/video/ai_vad/clip/clip.py
  src/anomalib/models/video/ai_vad/clip/model.py
  src/anomalib/pipelines/benchmark/generator.py
  src/anomalib/pipelines/components/base/job.py
  src/anomalib/pipelines/components/base/pipeline.py
  src/anomalib/pipelines/components/utils/grid_search.py
  src/anomalib/pipelines/tiled_ensemble/components/merging.py
  src/anomalib/pipelines/tiled_ensemble/components/metrics_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/model_training.py
  src/anomalib/pipelines/tiled_ensemble/components/normalization.py
  src/anomalib/pipelines/tiled_ensemble/components/prediction.py
  src/anomalib/pipelines/tiled_ensemble/components/smoothing.py
  src/anomalib/pipelines/tiled_ensemble/components/stats_calculation.py
  src/anomalib/pipelines/tiled_ensemble/components/thresholding.py
  src/anomalib/pipelines/tiled_ensemble/components/utils/helper_functions.py
  src/anomalib/pipelines/tiled_ensemble/components/visualization.py
  tests/conftest.py
  tests/helpers/data.py
  tests/integration/model/test_models.py
  tests/unit/data/datamodule/image/test_tabular.py
  tests/unit/deploy/test_inferencer.py
  tox.ini
  uv.lock
Labels: CI, Setup, Tests

Moved export hook to a separate file
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/hooks/use-export-model.hook.ts
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
Labels: none

remove item from view modal
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/index.css
Labels: none

download button
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/download-dataset-item/download-dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/download-dataset-item/download-dataset-item.module.scss
  application/ui/src/features/inspect/dataset/download-dataset-item/download-dataset-item.test.tsx
  application/ui/src/features/inspect/dataset/download-dataset-item/utils.ts
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
