Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

feat(inspect): Train model dialog rework (#3225)
  application/backend/src/core/model_metadata.yaml
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
  application/ui/mocks/mock-trainable-models.ts
  application/ui/src/features/inspect/train-model/model-tag.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/features/inspect/train-model/train-model.module.scss
  application/ui/src/features/inspect/train-model/trainable-model-card.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.test.tsx
  application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/types.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.test.ts
Labels: none

feat(inspect): Renamed the "Webcam" source type to "USB Camera" (#3248)
  application/backend/src/entities/usb_camera_stream.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/services/video_stream_service.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/workers/test_stream_loading.py
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/usb-camera.svg
  application/ui/src/features/inspect/toolbar/sources/edit-source-form.component.tsx
  application/ui/src/features/inspect/toolbar/sources/hooks/use-source-mutation.test.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-icon/source-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.test.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/util.ts
  application/ui/src/features/inspect/toolbar/sources/webcam/utils.ts
Labels: none

feat(inspect): allow ephemeral inference (#3252)
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/workers/dispatching.py
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
Labels: none

feat(geti-inspect): Model view (#3256)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/training_service.py
  application/ui/mocks/mock-model.ts
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/model-detail/model-detail.component.tsx
  application/ui/src/features/inspect/models/model-detail/model-detail.module.scss
  application/ui/src/features/inspect/models/model-detail/model-detail.test.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/src/hooks/use-completed-models.hook.ts
  application/ui/src/hooks/utils.ts
Labels: none

fix uv.lock
  uv.lock
Labels: none

reduce lines
  application/backend/src/services/training_service.py
Labels: none

Update application/backend/src/webrtc/sdp_handler.py
  application/backend/src/webrtc/sdp_handler.py
Labels: none

Update application/ui/src/components/stream/web-rtc-connection.ts
  application/ui/src/components/stream/web-rtc-connection.ts
Labels: none

fix tests
  application/backend/tests/unit/endpoints/test_webrtc.py
Labels: none

chore(inspect): port webrtc improvements from Geti prompt/tune (#3242)
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/endpoints/webrtc.py
  application/backend/src/core/lifecycle.py
  application/backend/src/pydantic_models/webrtc.py
  application/backend/src/settings.py
  application/backend/src/webrtc/manager.py
  application/backend/src/webrtc/sdp_handler.py
  application/backend/src/workers/dispatching.py
  application/backend/tests/unit/endpoints/test_webrtc.py
  application/ui/src/components/stream/web-rtc-connection.ts
  uv.lock
Labels: none

refactor: rename project from "binary" to "geti_inspect" and update related configurations
  application/backend/src/main.py
  application/binary/README.md
  application/binary/sidecar/geti_inspect_cpu.spec
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
  application/binary/tauri/src-tauri/Cargo.lock
  application/binary/tauri/src-tauri/Cargo.toml
  application/binary/tauri/src-tauri/capabilities/default.json
  application/binary/tauri/src-tauri/src/main.rs
  application/binary/tauri/src-tauri/tauri.conf.json
Labels: none

Add linux build workflow
  .github/workflows/tauri-build.yaml
Labels: CI

Apply suggestions from code review
  application/backend/src/main.py
  application/backend/src/services/training_service.py
  application/binary/tauri/src-tauri/src/lib.rs
Labels: none

Minor fixes
  .github/workflows/tauri-build.yaml
  application/binary/sidecar/geti_inspect_cpu.spec
  application/binary/sidecar/hook-setup.py
Labels: CI

Reduce function complexity
  application/backend/src/services/training_service.py
Labels: none

fix(ci): install FFmpeg dependencies for av package build
  .github/workflows/geti-inspect.yaml
Labels: CI

Update pyproject.toml
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

fix fps, stream visualization
  application/backend/src/services/pipeline_service.py
  application/backend/src/utils/visualization.py
  application/backend/tests/unit/utils/test_visualization.py
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
Labels: none

fix(inspect): fixed export button status, fixed setState error, fixed gallery placeholder, removed some deadcode
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/dataset-item-placeholder.module.scss
  application/ui/src/features/inspect/dataset/dataset-item-placeholder/util.tsx
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-export-status.ts
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/hooks/use-export-model.hook.ts
  application/ui/src/features/inspect/models/model-detail/model-detail.component.tsx
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/types.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

revert changes to action
  .github/workflows/geti-inspect.yaml
Labels: CI

set default log level to INFO
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/setup.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/utils/test_visualization.py
Labels: Setup

add todo
  application/backend/src/utils/visualization.py
Labels: none

revert video req
  application/backend/pyproject.toml
Labels: none

update lockfile
  application/backend/uv.lock
Labels: none

Add deps to action yaml
  .github/workflows/geti-inspect.yaml
Labels: CI

remove ffmpeg
  .github/workflows/geti-inspect.yaml
Labels: CI

Add build-tools stage
  .github/workflows/geti-inspect.yaml
Labels: CI

run prettier
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
Labels: none

Revert actions
  .github/workflows/geti-inspect.yaml
Labels: CI

upgrade aiortc
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

Add --with ruff
  .github/workflows/geti-inspect.yaml
Labels: CI

update lockfiles
  application/backend/uv.lock
  uv.lock
Labels: none

upgrade aiotrc
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

Add with ruff
  .github/workflows/geti-inspect.yaml
Labels: CI

logs facelift
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
  application/ui/src/features/inspect/jobs/log-filters.component.tsx
  application/ui/src/features/inspect/jobs/log-types.ts
  application/ui/src/features/inspect/jobs/log-viewer.component.tsx
  application/ui/src/features/inspect/jobs/log-viewer.module.scss
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
Labels: none

Remove --with ruff
  .github/workflows/geti-inspect.yaml
Labels: CI

Revert --with ruff
  .github/workflows/geti-inspect.yaml
Labels: CI

fix colors
  application/ui/src/features/inspect/jobs/log-entry.component.tsx
  application/ui/src/features/inspect/jobs/log-filters.component.tsx
  application/ui/src/features/inspect/jobs/log-types.ts
  application/ui/src/features/inspect/jobs/log-viewer.component.tsx
  application/ui/src/features/inspect/jobs/log-viewer.module.scss
Labels: none

chore(lockfiles): Update lockfiles (#3260)
  .github/workflows/geti-inspect.yaml
  application/backend/pyproject.toml
  application/backend/uv.lock
  uv.lock
Labels: CI

clean pyproject.toml
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
