Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

address zizmor findings
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

limit permissions
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

limit permissions
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

limit permissions
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/pr.yaml
Labels: CI

fix permissions
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Labels: CI

fix permissions
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Labels: CI

fix permissions
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/release.yaml
Labels: CI

fix permissions
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/pre_merge.yml
Labels: CI

fix permissions
  .github/workflows/_reusable-rc-release-process.yaml
Labels: CI

added comments
  .github/actions/security/zizmor/action.yaml
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/release.yaml
  .github/workflows/security-checks.yaml
Labels: CI

added comments
  .github/actions/security/bandit/action.yaml
  .github/actions/security/trivy/action.yaml
Labels: CI

remove unnecessary ignore
  .github/actions/pytest/action.yaml
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
Labels: CI

remove unnecessary ignore
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

fix bandit
  .github/actions/security/bandit/action.yaml
  .github/actions/security/semgrep/action.yaml
  .github/actions/security/trivy/action.yaml
Labels: CI

added docstring example for Tabular.from_file constructor
  src/anomalib/data/datamodules/image/tabular.py
Labels: none

Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: CI

Update feature request template
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: CI

Add issue-management workflow
  .github/workflows/issue-management.yaml
Labels: CI

revert B614
  pyproject.toml
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/components/base/export_mixin.py
  src/anomalib/models/video/ai_vad/clip/clip.py
Labels: Setup

trivy action refactor
  .github/actions/security/trivy/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

trivy action refactor
  .github/actions/security/trivy/action.yaml
Labels: CI

format
  .github/actions/security/trivy/action.yaml
Labels: CI

test sbom
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

trivy action refactor
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

Trivy severity
  .github/actions/security/trivy/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

Trivy action readme
  .github/actions/security/trivy/README.md
  .github/actions/security/trivy/action.yaml
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

Action readme added
  .github/actions/security/bandit/README.md
  .github/actions/security/semgrep/README.md
Labels: CI

fix format
  .github/actions/security/trivy/action.yaml
Labels: CI

fix format
  .github/actions/security/trivy/action.yaml
Labels: CI

Fix the wrong variable to be printed on the warning message
  src/anomalib/data/datamodules/base/image.py
Labels: none

Update data docs
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/btech.md
  docs/source/markdown/guides/reference/data/datamodules/image/datumaro.md
  docs/source/markdown/guides/reference/data/datamodules/image/folder.md
  docs/source/markdown/guides/reference/data/datamodules/image/kolektor.md
  docs/source/markdown/guides/reference/data/datamodules/image/mvtecad.md
  docs/source/markdown/guides/reference/data/datamodules/image/mvtecad2.md
  docs/source/markdown/guides/reference/data/datamodules/image/mvtecloco.md
  docs/source/markdown/guides/reference/data/datamodules/image/realiad.md
  docs/source/markdown/guides/reference/data/datamodules/image/tabular.md
  docs/source/markdown/guides/reference/data/datamodules/image/vad.md
  docs/source/markdown/guides/reference/data/datamodules/image/visa.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
Labels: Docs

Update generate_output_filename
  src/anomalib/utils/path.py
  tests/unit/data/utils/test_path.py
Labels: Tests

Add NumPy array support to image visualization functions
  src/anomalib/visualization/image/functional.py
Labels: none

Enhance image visualization module to support NumpyImageItem
  src/anomalib/visualization/image/item_visualizer.py
Labels: none

Refactor OpenVINO inference script for improved image visualization
  tools/inference/openvino_inference.py
Labels: Inference, Tools

Update deprecation warnings in OpenVINO inference script to use FutureWarning instead of DeprecationWarning for the and arguments.
  tools/inference/openvino_inference.py
Labels: Inference, Tools

Refactor function to remove normalization parameter and streamline image conversion logic. Updated docstring and examples to reflect changes, ensuring clarity on handling different NumPy array types.
  src/anomalib/visualization/image/functional.py
Labels: none

Add unit tests for np_to_pil_image function
  tests/unit/visualization/image/test_functional.py
Labels: Tests

Refactor gradio_inference.py to support PIL images and enhance inference output
  tools/inference/gradio_inference.py
Labels: Inference, Tools

Refactor EfficientAdModel example and update output shapes
  src/anomalib/models/image/efficient_ad/torch_model.py
Labels: none
