Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Small fixes
  .github/actions/windows-build/action.yml
Labels: CI

Use pwsh in action
  .github/actions/windows-build/action.yml
Labels: CI

fix: recover corrupted dinov2 weight cache
  src/anomalib/models/components/dinov2/dinov2_loader.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
Labels: Tests

fix: recover corrupted dinov2 weight cache
  src/anomalib/models/components/dinov2/dinov2_loader.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
Labels: Tests

update file
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

fix(training): ddp adaptive f1 score (#3569)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

Use constructor instead of cert.Import
  .github/actions/windows-build/action.yml
Labels: CI

Fix extra spaces
  .github/actions/windows-build/action.yml
  .github/workflows/tauri-build.yaml
Labels: CI

add draft
  rfc/001-configurable-postprocessor.md
Labels: none

update computation
  rfc/001-configurable-postprocessor.md
Labels: none

remove overengineered metadata
  rfc/001-configurable-postprocessor.md
Labels: none

Add dast job in security scan workflow
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/security-checks.yaml
Labels: CI

Fix package read permission in pr workflow
  .github/workflows/pr.yaml
Labels: CI

ci: Add container dynamic scan in security scan workflow (#3571)
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/pr.yaml
  .github/workflows/security-checks.yaml
Labels: CI

fix: resolve PIL Image type annotation issues causing NameError
  CHANGELOG.md
  src/anomalib/visualization/image/functional.py
  src/anomalib/visualization/image/item_visualizer.py
  src/anomalib/visualization/image/visualizer.py
  tests/unit/data/utils/test_image.py
  tests/unit/visualization/image/test_functional.py
Labels: Docs, Tests

update dependencies
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  pyproject.toml
  uv.lock
Labels: Setup

fix(deps): update dependencies (#3574)
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  pyproject.toml
  uv.lock
Labels: Setup

add harden-runner in audit mode
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/auto-approve.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/issue-management.yaml
  .github/workflows/npm-audit-fix.yml
  .github/workflows/pr.yaml
  .github/workflows/promote-rc-app-release.yml
  .github/workflows/publish-rc-app.yml
  .github/workflows/release-lib.yaml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
Labels: CI

add exclude-newer
  application/backend/pyproject.toml
  pyproject.toml
Labels: Setup

add minimumReleaseAge
  .github/renovate.json5
Labels: CI

format
  .github/renovate.json5
Labels: CI

revert toml
  application/backend/pyproject.toml
  pyproject.toml
Labels: Setup

prep release
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

update changelog
  CHANGELOG.md
Labels: Docs

chore(lib): prepare for 2.4.1 release (#3576)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

chore(ci): add `step-security/harden-runner` and cooldown period (#3575)
  .github/renovate.json5
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/_reusable-version-check.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/auto-approve.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/issue-management.yaml
  .github/workflows/npm-audit-fix.yml
  .github/workflows/pr.yaml
  .github/workflows/promote-rc-app-release.yml
  .github/workflows/publish-rc-app.yml
  .github/workflows/release-lib.yaml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecards.yml
Labels: CI

add packages read option
  .github/workflows/release-lib.yaml
Labels: CI

address PR comments
  .github/workflows/release-lib.yaml
Labels: CI

fix(ci): add packages read option (#3577)
  .github/workflows/release-lib.yaml
Labels: CI

bump version
  src/anomalib/__init__.py
Labels: none

add secret scan
  .github/workflows/secret-scan.yml
  .github/workflows/security-checks.yaml
Labels: CI

format
  .github/workflows/security-checks.yaml
Labels: CI

add harden-runner
  .github/workflows/secret-scan.yml
Labels: CI

chore(lib): bump version (#3578)
  src/anomalib/__init__.py
Labels: none

fix runner
  .github/workflows/secret-scan.yml
Labels: CI

add timeout
  .github/workflows/secret-scan.yml
Labels: CI

refactor
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/anomaly_augmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

refactor
  examples/configs/model/glass.yaml
  src/anomalib/models/image/glass/README.md
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

address PR comments
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/torch_model.py
  tests/unit/data/utils/test_perlin_generator.py
Labels: Tests

address PR comments
  src/anomalib/models/image/glass/torch_model.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
