Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

update changelog
  CHANGELOG.md
Labels: Docs

chore(lib): replace deprecated APIs and fix resource leak (#3508)
  src/anomalib/cli/utils/installation.py
  src/anomalib/data/utils/download.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/uninet/torch_model.py
  tests/unit/cli/test_installation.py
Labels: Tests

update changelog
  CHANGELOG.md
Labels: Docs

Bumped some ui packages
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

test(visualization): add bounding box test
  src/anomalib/visualization/image/functional.py
Labels: none

Address PR comments
  src/anomalib/data/transforms/center_crop.py
Labels: none

fix(export): duplicated size parameter value in ExportableCenterCrop (#2203) (#3539)
  CHANGELOG.md
  src/anomalib/data/transforms/center_crop.py
Labels: Docs

Apply suggestions from code review
  tests/unit/models/components/sampling/__init__.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(sampling): include initial random point in PatchCore coreset selection (#3509)
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/__init__.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(tauri): use shell plugin to open feedback URL in system browser (#3425)
  application/binary/tauri/src-tauri/capabilities/default.json
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/feedback/feedback-button.component.tsx
Labels: none

fix(sampling): return empty coreset when coreset_size == 0
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(data): reject str size in ExportableCenterCrop
  src/anomalib/data/transforms/center_crop.py
  tests/unit/data/transforms/__init__.py
  tests/unit/data/transforms/test_center_crop.py
Labels: Tests

ignore lock
  .github/renovate.json5
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/renovate-config-validator.yml
Labels: CI

refactor(data): simplify ExportableCenterCrop size dispatch
  src/anomalib/data/transforms/center_crop.py
  tests/unit/data/transforms/test_center_crop.py
Labels: Tests

comment
  .github/workflows/scorecards.yml
Labels: CI

prek
  .github/renovate.json5
Labels: CI

refactor(sampling): validate coreset_size in KCenterGreedy.__init__
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

refactor(data): delegate ExportableCenterCrop size parsing to _setup_size
  src/anomalib/data/transforms/center_crop.py
  tests/unit/data/transforms/test_center_crop.py
Labels: Tests

chore(ci): exclude compiled workflow files from Renovate scope (#3549)
  .github/renovate.json5
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/scorecards.yml
Labels: CI

style: run npm run format
  application/ui/src/features/inspect/feedback/feedback-button.component.tsx
Labels: none

cache sycl
  application/docker/README.md
  application/docker/docker-compose.yml
Labels: none

Add license provider
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/system_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/system.py
  application/backend/src/services/__init__.py
  application/backend/src/services/system_service.py
  application/backend/tests/unit/endpoints/test_system.py
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
  application/ui/src/providers.tsx
  application/ui/src/setup-tests.ts
  application/ui/tests/fixtures.ts
  third-party-programs.txt
Labels: none

remove close button
  application/ui/src/features/license/license-gate.component.tsx
Labels: none

run format checks
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
  application/ui/tests/fixtures.ts
Labels: none

address github-advanced-security issue
  application/backend/tests/unit/services/test_system_service.py
Labels: none

Address copilot comments
  application/backend/tests/unit/services/test_system_service.py
  application/ui/src/features/license/license-gate.component.test.tsx
  application/ui/src/features/license/license-gate.component.tsx
Labels: none

feat(docker): cache sycl (#3552)
  application/docker/README.md
  application/docker/docker-compose.yml
Labels: none

feat(callbacks): Moveprogressbarcall to common directory instead of being in dinomaly
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/rich_progress_bar.py
  src/anomalib/engine/engine.py
  src/anomalib/models/image/dinomaly/lightning_model.py
Labels: none

fix(tauri): open feedback issue link in system browser using shell plugin (#3425) (#3542)
  application/binary/tauri/src-tauri/capabilities/default.json
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/feedback/feedback-button.component.tsx
Labels: none

fix(sampling): handle coreset_size == 0 in KCenterGreedy (#3546)
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(data): reject str size in ExportableCenterCrop (#3547)
  src/anomalib/data/transforms/center_crop.py
  tests/unit/data/transforms/__init__.py
  tests/unit/data/transforms/test_center_crop.py
Labels: Tests

@mswjs/source -> @msw/source
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/api/utils.ts
Labels: none

chore(UI): Bumped some ui packages (#3540)
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/api/utils.ts
Labels: none

fix(application): make startup project fallback deterministic
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/services/test_project_selection_service.py
Labels: none

address review issues
  application/backend/data-local/anomalib_studio.db
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/repositories/__init__.py
  application/backend/src/services/__init__.py
  application/backend/tests/unit/services/test_project_selection_service.py
  application/ui/src/hooks/use-project-selection.hook.test.tsx
Labels: none

Fix startup project restoration
  application/backend/src/alembic/versions/1f4f5b1d9f6f_add_app_state_table.py
  application/backend/src/api/dependencies/__init__.py
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/endpoints/project_selection_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/repositories/__init__.py
  application/backend/src/repositories/app_state_repo.py
  application/backend/src/services/__init__.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/endpoints/test_project_selection.py
  application/backend/tests/unit/services/test_project_selection_service.py
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/hooks/index.ts
  application/ui/src/hooks/use-project-selection.hook.test.tsx
  application/ui/src/hooks/use-project-selection.hook.ts
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/paths.ts
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

test(application): mock startup project selection in Playwright
  application/ui/tests/fixtures.ts
Labels: none

Address PR comments
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/services/project_selection_service.py
  application/ui/src/hooks/use-project-selection.hook.ts
  application/ui/src/routes/paths.ts
Labels: none

minor fixes
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/hooks/use-project-selection.hook.ts
  application/ui/src/routes/paths.ts
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

Fix tests + import
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/endpoints/test_project_selection.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
