Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

half precision training and refactoring
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

list default args
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

default layers
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

docstring
  src/anomalib/models/image/dinomaly/lightning_model.py
Labels: none

update workflow
  .github/agents/agents-md-sync-opencode.md
  AGENTS.md
Labels: CI, Docs

remove managed section prompt
  .github/agents/agents-md-sync-opencode.md
Labels: CI

feat(model): add GLASS model (#3589)
  CHANGELOG.md
  docs/source/markdown/guides/reference/models/image/glass.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/model/glass.yaml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/glass/README.md
  src/anomalib/models/image/glass/__init__.py
  src/anomalib/models/image/glass/components/__init__.py
  src/anomalib/models/image/glass/components/aggregator.py
  src/anomalib/models/image/glass/components/discriminator.py
  src/anomalib/models/image/glass/components/init_weight.py
  src/anomalib/models/image/glass/components/patch_maker.py
  src/anomalib/models/image/glass/components/preprocessing.py
  src/anomalib/models/image/glass/components/projection.py
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
  tests/integration/model/test_models.py
  tests/unit/data/utils/test_perlin_generator.py
  tests/unit/deploy/test_inferencer.py
  third-party-programs.txt
Labels: Docs, Tests

add agent audit skill
  .agents/skills/agentic-actions-auditor/README.md
  .agents/skills/agentic-actions-auditor/SKILL.md
  .agents/skills/agentic-actions-auditor/references/action-profiles.md
  .agents/skills/agentic-actions-auditor/references/cross-file-resolution.md
  .agents/skills/agentic-actions-auditor/references/foundations.md
  .agents/skills/agentic-actions-auditor/references/vector-a-env-var-intermediary.md
  .agents/skills/agentic-actions-auditor/references/vector-b-direct-expression-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-c-cli-data-fetch.md
  .agents/skills/agentic-actions-auditor/references/vector-d-pr-target-checkout.md
  .agents/skills/agentic-actions-auditor/references/vector-e-error-log-injection.md
  .agents/skills/agentic-actions-auditor/references/vector-f-subshell-expansion.md
  .agents/skills/agentic-actions-auditor/references/vector-g-eval-of-ai-output.md
  .agents/skills/agentic-actions-auditor/references/vector-h-dangerous-sandbox-configs.md
  .agents/skills/agentic-actions-auditor/references/vector-i-wildcard-allowlists.md
  .github/copilot-instructions.md
Labels: CI

address PR comments
  .agents/skills/agentic-actions-auditor/README.md
  .agents/skills/agentic-actions-auditor/SKILL.md
Labels: none

address PR comments
  .agents/skills/agentic-actions-auditor/LICENSE
  .agents/skills/agentic-actions-auditor/SKILL.md
  third-party-programs.txt
Labels: none

fix broken link
  README.md
Labels: Docs

Potential fix for pull request finding
  README.md
Labels: Docs

first draft
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/deploy/metadata/__init__.py
  src/anomalib/deploy/metadata/_core.py
  src/anomalib/deploy/metadata/migration.py
  src/anomalib/models/components/base/anomalib_module.py
  src/anomalib/models/components/base/export_mixin.py
  src/anomalib/post_processing/mebin_post_processor.py
  src/anomalib/post_processing/post_processor.py
  tests/unit/deploy/test_metadata.py
  tests/unit/post_processing/test_post_processor.py
Labels: Tests

minor fixes
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/components/base/export_mixin.py
  tests/unit/deploy/test_metadata.py
Labels: Tests

address copilot comments
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/deploy/metadata/migration.py
  src/anomalib/models/components/base/export_mixin.py
  src/anomalib/post_processing/one_class.py
  src/anomalib/post_processing/post_processor.py
Labels: none

address zizmor findings
  .github/workflows/opencode-agents-md-sync.yml
  .github/workflows/opencode-docs-sync.yml
  .github/workflows/opencode-issue-triage.yml
  .github/workflows/release-lib.yaml
Labels: CI

add required-check
  .github/workflows/tauri-build.yaml
Labels: CI

remove step
  .github/workflows/tauri-build.yaml
Labels: CI

prep release
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Potential fix for pull request finding
  CHANGELOG.md
Labels: Docs

bump to dev
  src/anomalib/__init__.py
Labels: none

Potential fix for pull request finding
  src/anomalib/__init__.py
Labels: none

update dependencies
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

update pins
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

fix versions
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

chore(release): prep for patch release (#3499)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

ci(precommit): add gitleaks (#3521)
  .pre-commit-config.yaml
  application/backend/.pre-commit-config.yaml
Labels: Setup

fix(github-actions): Sidecar dependacies installation fix (#3495)
  .github/workflows/tauri-build.yaml
Labels: CI

fix(path): use cache dir for dataset and pre-trained models (#3461)
  pyproject.toml
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/utils/path.py
  tests/unit/utils/test_path.py
Labels: Setup, Tests

🚀 feat(model): add CFM anomaly detection model
  examples/configs/model/cfm.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/cfm/README.md
  src/anomalib/models/image/cfm/__init__.py
  src/anomalib/models/image/cfm/anomaly_map.py
  src/anomalib/models/image/cfm/components.py
  src/anomalib/models/image/cfm/lightning_model.py
  src/anomalib/models/image/cfm/torch_model.py
  src/anomalib/models/image/cfm/utils.py
  tests/unit/models/image/cfm/test_cfm
Labels: Tests

fix(data): use enum .value for pandas >= 3.0 DataFrame compatibility (#3512)
  pyproject.toml
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/tabular.py
  tests/unit/data/utils/test_enum_compat.py
Labels: Setup, Tests

chore(lib): update version and fix release workflow (#3507)
  .github/workflows/release-lib.yaml
  src/anomalib/__init__.py
Labels: CI

chore(ci): pin dependencies and remove unused workflow (#3519)
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/pre_merge.yml
Labels: CI

fix(CI): update uv lock (#3518)
  application/backend/uv.lock
  uv.lock
Labels: none

fix(data): reject str size in ExportableCenterCrop (#3547)
  src/anomalib/data/transforms/center_crop.py
  tests/unit/data/transforms/__init__.py
  tests/unit/data/transforms/test_center_crop.py
Labels: Tests

fix(binary): remove amd and nvidia backend from pyinstaller build (#3557)
  .github/workflows/tauri-build.yaml
  application/binary/README.md
  application/binary/sidecar/anomalib_studio.spec
  application/binary/tauri/scripts/prepare-tauri-dev.mjs
Labels: CI

chore(lib): increment to dev version (#3527)
  src/anomalib/__init__.py
Labels: none

chore(lib): replace deprecated APIs and fix resource leak (#3508)
  src/anomalib/cli/utils/installation.py
  src/anomalib/data/utils/download.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/uninet/torch_model.py
  tests/unit/cli/test_installation.py
Labels: Tests

feat(agents): add skills and copilot instructions (#3524)
  .agents/skills/benchmark-and-docs-refresh/SKILL.md
  .agents/skills/docs-changelog/SKILL.md
  .agents/skills/model-doc-sync/SKILL.md
  .agents/skills/model-sample-image-export/SKILL.md
  .agents/skills/models-data/SKILL.md
  .agents/skills/pr-workflow/SKILL.md
  .agents/skills/python-docstrings/SKILL.md
  .agents/skills/python-style/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/third-party-code/SKILL.md
  .cursor/rules/python_docstrings.mdc
  .github/copilot-instructions.md
Labels: CI

feat(ci): add agentic workflow (#3537)
  .gitattributes
  .github/agents/agentic-workflows.agent.md
  .github/aw/actions-lock.json
  .github/copilot-instructions.md
  .github/workflows/agents-md-sync.lock.yml
  .github/workflows/agents-md-sync.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docs-sync.lock.yml
  .github/workflows/docs-sync.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Labels: CI, Setup
