Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix(job_service): Record end_time on terminal job statuses
  application/backend/src/services/job_service.py
Labels: none

feat(jobs): Show training logs using SSE
  application/backend/src/services/job_service.py
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
Labels: none

feat(inspect): Use URLSearchParams to decide the tab that's opened
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

perf(inspect/dataset-item): Use thumbnail for dataset item media URL
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
Labels: none

feat(train-model): Add Train model UI and dataset training trigger
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model.module.scss
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

feat(inference): Auto-trigger inference on model select
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

feat(models): Add Models view and refactor training UI
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
Labels: none

fix(inspect): Improve SSE parse logs and model duration handling
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

refactor(job_service): Use set membership for status checks
  application/backend/src/services/job_service.py
Labels: none

cv1.0.0i: migrate PyPI publishing to OIDC authentication
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/release.yaml
Labels: CI

Specify cuda version in the test
  .github/actions/pytest/action.yaml
  CHANGELOG.md
Labels: CI, Docs

Update uv.lock
  uv.lock
Labels: none

Remove uv run
  .github/actions/pytest/action.yaml
Labels: CI

Activate venv
  .github/actions/pytest/action.yaml
Labels: CI

fix style
  application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/core/logging/setup.py
  application/backend/src/services/model_service.py
  application/backend/src/utils/devices.py
Labels: Setup

add training device selection
  application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/devices.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/devices.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
  uv.lock
Labels: none

improve error handling
  application/backend/src/services/training_service.py
Labels: none

Apply code review feedback
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
Labels: none

reset uv lock
  uv.lock
Labels: none

Fixed Folder dataset to use upper case file extension
  src/anomalib/data/utils/path.py
Labels: none

Convert provided extensions to lower case
  src/anomalib/data/utils/path.py
Labels: none

refactor device names
  application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/devices.py
  application/backend/src/workers/inference.py
Labels: none

feat(inspect): add training device selection (#3056)
  application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/core/logging/setup.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/devices.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/devices.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: Setup

feat(inspect): Add train model dialog, job logs and models dataset (#3053)
  application/backend/src/services/job_service.py
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model.module.scss
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

use ServerSentEvent from sse_starlette
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/services/job_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_job_service.py
Labels: none

fix test
  application/backend/pyproject.toml
  application/backend/tests/unit/services/test_job_service.py
  application/backend/uv.lock
Labels: none

chore(inspect): improve SSE generator (#3060)
  application/backend/pyproject.toml
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/services/job_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/uv.lock
Labels: none

add missing commit for db deletion
  application/backend/src/repositories/base.py
  application/backend/src/workers/base.py
Labels: none

bug(inspect): add missing db commit (#3075)
  application/backend/src/repositories/base.py
  application/backend/src/workers/base.py
Labels: none

Merge fixes
  application/ui/package-lock.json
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

Fix progress bar
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
  application/ui/src/features/inspect/statusbar/items/progressbar.component.tsx
Labels: none

Update application/backend/src/services/job_service.py
  application/backend/src/services/job_service.py
Labels: none

make source and sink endpoints project based
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/repositories/mappers/sink_mapper.py
  application/backend/src/repositories/mappers/source_mapper.py
  application/backend/src/repositories/sink_repo.py
  application/backend/src/repositories/source_repo.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

Update application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/job.py
Labels: none

Use finally block
  application/backend/src/services/training_service.py
Labels: none

refactor and add delete media endpoint
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/media.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/media_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

Refactor(inspect): sources and sinks under project (#3079)
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/repositories/mappers/sink_mapper.py
  application/backend/src/repositories/mappers/source_mapper.py
  application/backend/src/repositories/sink_repo.py
  application/backend/src/repositories/source_repo.py
  application/backend/src/services/configuration_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
Labels: none

use semgrep action from geti-ci
  .github/workflows/_reusable-security-scan.yaml
  .semgrepignore
Labels: CI

fix pre-commit
  .semgrepignore
Labels: none

update sha
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
