Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

mebin
  docs/source/markdown/guides/reference/post_processing/index.md
  pyproject.toml
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin_post_processor.py
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Docs, Setup, Tests

Fix linting, typing issues and copyright headers
  .pre-commit-config.yaml
  pyproject.toml
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/tabular.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/models/image/dinomaly/components/layers.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/pipelines/benchmark/generator.py
  src/anomalib/post_processing/mebin_post_processor.py
  src/anomalib/utils/logging.py
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Setup, Tests

mebin
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: none

fix(accelerator): Adding name method in XPUAccelerator (#3108)
  src/anomalib/engine/accelerator/xpu.py
Labels: none

🚀 feat(data): BMAD dataset (#3000)
  CHANGELOG.md
  src/anomalib/data/datamodules/image/__init__.py
Labels: Docs

Resolve merge conflicts
  CHANGELOG.md
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
Labels: Docs

docs: fix typos in some files (#3119)
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/engine/accelerator/xpu.py
  src/anomalib/models/image/dsr/torch_model.py
Labels: none

ci: update renovate config (#3130)
  .github/renovate.json5
Labels: CI

fix(dataset): Update outdated MVTec AD dataset download URL (#3138)
  src/anomalib/data/datamodules/image/mvtecad.py
Labels: none

ci: enable new triggers - CodeQL & security checks (#3123)
  .github/workflows/codeql.yml
  .github/workflows/security-checks.yaml
Labels: CI

fix(export): Fix export to INT8_PTQ and INT8_ACQ (#3155)
  pyproject.toml
  src/anomalib/engine/engine.py
  src/anomalib/models/components/base/export_mixin.py
  tests/unit/deploy/test_ov_export.py
Labels: Setup, Tests

ci: enable security checks on push (#3151)
  .github/workflows/security-checks.yaml
Labels: CI

📚 docs: fix documentation link to openvino notebooks (#3120) (#3132)
  examples/notebooks/README.md
Labels: none

refactor(metric): Speedup AUPRO (#3115)
  src/anomalib/metrics/aupro.py
  tests/unit/metrics/aupro/test_aupro.py
Labels: Tests

fix: align REAL-IAD dataset categories with HuggingFace structure (#3139)
  src/anomalib/data/datasets/image/realiad.py
Labels: none

🧪 fix(tests): CLI unit test (#3161)
  src/anomalib/cli/cli.py
  src/anomalib/cli/utils/help_formatter.py
  src/anomalib/engine/engine.py
Labels: none

fix(doc): Update documentation with last added models and datasets (#3181)
  docs/source/markdown/guides/reference/data/datamodules/depth/adam_3d.md
  docs/source/markdown/guides/reference/data/datamodules/depth/index.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/mpdd.md
  docs/source/markdown/guides/reference/metrics/index.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/video/fuvas.md
  docs/source/markdown/guides/reference/models/video/index.md
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/video/__init__.py
Labels: Docs

fix(dependencies): Update Lightning, torch+xpu, and add requests. (#3180)
  pyproject.toml
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/models/video/ai_vad/clip/clip.py
  uv.lock
Labels: Setup

🤖 feat(cursor): Add docstring rules (#3187)
  .cursor/rules/python_docstrings.mdc
Labels: none

ci: fix security scan push and on schedule (#3199)
  .github/workflows/security-checks.yaml
Labels: CI

chore: update codeowners (#3218)
  .github/CODEOWNERS
Labels: CI

feat(ci): add `javascript-typescript` into CodeQL config (#3227)
  .github/workflows/codeql.yml
Labels: CI

feat(anomalydino): Introduces anomalydino with semgrep fixes (#3193)
  .github/workflows/_reusable-security-scan.yaml
  docs/source/markdown/guides/reference/models/image/anomaly_dino.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/README.md
  examples/configs/model/anomaly_dino.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/__init__.py
  src/anomalib/models/components/dinov2/layers/attention.py
  src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/components/dinov2/layers/layer_scale.py
  src/anomalib/models/components/dinov2/layers/mlp.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
  src/anomalib/models/image/dinomaly/components/__init__.py
  src/anomalib/models/image/dinomaly/components/dinov2_loader.py
  src/anomalib/models/image/dinomaly/components/layers.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
  src/anomalib/models/image/patchcore/lightning_model.py
  tests/unit/models/components/dinov2/__init__.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
  tests/unit/models/components/dinov2/test_vit.py
  tests/unit/models/image/anomaly_dino/__init__.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: CI, Docs, Tests

fix(export): Handle rare cases during INT8_ACQ export (#3208)
  src/anomalib/models/components/base/export_mixin.py
Labels: none

fix(docs): update model initialization arguments in get_model's docstring (#3234)
  src/anomalib/models/__init__.py
Labels: none

docs(data): fix typo in augmentation docstring (#3239)
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/folder_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/datumaro.py
  src/anomalib/data/datamodules/image/folder.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
Labels: none

fix(model): Fix AnomalyDINO aspect-ratio preserving resize preprocessing (#3241)
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

feat(engine): Support barebones Mode for Engine (#3189)
  docs/source/markdown/guides/reference/callbacks/index.md
  examples/api/04_advanced/training_modes.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/evaluator.py
  tests/unit/engine/test_engine.py
Labels: Docs, Tests

fix(model): Support non-square input images in Dinomaly Model (#3113) (#3245)
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

docs(benchmarking): Updating outdated doc string benchmarking pipeline (#3230)
  docs/source/markdown/guides/reference/data/datamodules/image.md
  src/anomalib/pipelines/benchmark/pipeline.py
  uv.lock
Labels: Docs

update cv2-enumerate-cameras
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

fix main.py
  application/backend/src/main.py
Labels: none

refactor get_webcam_devices
  application/backend/src/utils/devices.py
Labels: none

rename webcam to camera
  application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/utils/devices.py
  application/backend/tests/unit/utils/test_devices.py
Labels: none

simply camera name, add index
  application/backend/src/utils/devices.py
Labels: none

fix test
  application/backend/tests/unit/utils/test_devices.py
Labels: none

update docstring
  application/backend/src/utils/devices.py
Labels: none

Update application/backend/src/utils/devices.py
  application/backend/src/utils/devices.py
Labels: none

Update application/backend/src/api/endpoints/devices_endpoints.py
  application/backend/src/api/endpoints/devices_endpoints.py
Labels: none

fix(inspect): streamline upload progress handling and fixed setStatus issue
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/use-upload-status.ts
Labels: none
