Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

chore(inspect): Improve error and suspense handling in router (#2991)
  application/ui/src/router.tsx
Labels: none

🔧 chore(inspect): Add more models to be used for training (#2994)
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

🐛 fix(inspect): Use null pool for async engine (#2998)
  application/backend/src/db/engine.py
  application/backend/src/settings.py
Labels: none

🚀 feat(geti-inspect): add trainable models (#3005)
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

🔧 chore(inspect): Update uv.lock (#2995)
  application/backend/uv.lock
Labels: none

🚀 feat(geti-inspect): add thumbnails media endpoint (#3004)
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/services/media_service.py
  application/backend/tests/unit/endpoints/conftest.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

chore(gitattributes): Remove uv.lock LFS entry
  .gitattributes
Labels: Setup

Remove duplicate entry
  CHANGELOG.md
Labels: Docs

Add missing entry
  CHANGELOG.md
Labels: Docs

ci(pre-commit): Exclude application/ for geti-inspect
  .pre-commit-config.yaml
Labels: Setup

Update version
  src/anomalib/__init__.py
Labels: none

add auto inference device selection
  application/backend/src/services/model_service.py
Labels: none

chore(inspect): Add dev command to run server and ui concurrently
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

chore(dataset): Use thumnbail suffix to get the dataset items
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
Labels: none

chore(gitattributes): Remove uv.lock LFS entry (#3007)
  .gitattributes
Labels: Setup

🔧 chore(dataset): Use thumnbail suffix to get the dataset items (#3013)
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
Labels: none

🔧 chore(inspect): Add dev command to run server and ui concurrently (#2996)
  application/ui/package-lock.json
  application/ui/package.json
Labels: none

refactor(trainable models): Use trainable models from the server
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

🔄refactor(trainable models): Use trainable models from the server (#3015)
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

ci(inspect): Exclude application/ for geti-inspect (#3009)
  .pre-commit-config.yaml
Labels: Setup

fix daemon error training worker
  application/backend/src/core/scheduler.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/training.py
Labels: none

remove num_workers param
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Update application/backend/src/workers/training.py
  application/backend/src/workers/training.py
Labels: none

Update application/backend/src/core/scheduler.py
  application/backend/src/core/scheduler.py
Labels: none

Update application/backend/src/core/scheduler.py
  application/backend/src/core/scheduler.py
Labels: none

fix scheduler
  application/backend/src/core/scheduler.py
Labels: none

clean up shm_metrics
  application/backend/src/core/scheduler.py
Labels: none

🐛 fix(geti-inspect): daemon worker error (#3016)
  application/backend/src/core/scheduler.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/training.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

align shape of precision/recall to thresholds
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

move to cpu when device is mps
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

🐛 fix(metrics): disable mps for torch metrics (#3018)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

🐛 fix(metrics): disable mps for torch metrics (#3018)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

add auto inference device selection
  application/backend/src/services/model_service.py
Labels: none

add device param to predict endpoint
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/services/exceptions.py
  application/backend/src/services/model_service.py
Labels: none

add /models:supported-devices endpoint
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/model_service.py
Labels: none

add device manament in pipeline through pipeline update endpoints
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/pipeline.py
  application/backend/src/repositories/mappers/pipeline_mapper.py
  application/backend/src/services/model_service.py
  application/backend/src/services/pipeline_service.py
  application/backend/src/workers/inference.py
Labels: none

hadle device not found
  application/backend/src/workers/inference.py
Labels: none

Update application/backend/src/services/model_service.py
  application/backend/src/services/model_service.py
Labels: none

Update application/backend/src/services/model_service.py
  application/backend/src/services/model_service.py
Labels: none
