Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Fixed pre-commit checks
  src/anomalib/metrics/pg_pb.py
Labels: none

Remove empty file
  tools/geti_inspect/backend/src/training.py
Labels: Tools

fix style backend
  app/backend/src/cli.py
  app/backend/src/create_openapi.py
  app/backend/src/db/__init__.py
  app/backend/src/db/engine.py
  app/backend/src/db/schema.py
  app/backend/src/main.py
  app/backend/src/models/__init__.py
  app/backend/src/models/base.py
  app/backend/src/models/job.py
  app/backend/src/models/media.py
  app/backend/src/models/model.py
  app/backend/src/models/project.py
  app/backend/src/repositories/__init__.py
  app/backend/src/repositories/base.py
  app/backend/src/repositories/binary_repo.py
  app/backend/src/repositories/job_repo.py
  app/backend/src/repositories/mappers/__init__.py
  app/backend/src/repositories/mappers/base_mapper_interface.py
  app/backend/src/repositories/mappers/media_mapper.py
  app/backend/src/repositories/media_repo.py
  app/backend/src/repositories/model_repo.py
  app/backend/src/repositories/project_repo.py
  app/backend/src/rest_api/dependencies.py
  app/backend/src/rest_api/endpoints/__init__.py
  app/backend/src/rest_api/endpoints/job_endpoints.py
  app/backend/src/rest_api/endpoints/media_endpoints.py
  app/backend/src/rest_api/endpoints/model_endpoints.py
  app/backend/src/rest_api/endpoints/project_endpoints.py
  app/backend/src/rest_api/media_rest_validator.py
  app/backend/src/services/__init__.py
  app/backend/src/services/job_service.py
  app/backend/src/services/media_service.py
  app/backend/src/services/model_service.py
  app/backend/src/services/project_service.py
  app/backend/src/settings.py
  docs/source/geti-inspect/ui-architecture.md
Labels: Docs

Fix synthetic masks + incorrect F1 score
  pyproject.toml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/winclip/torch_model.py
  uv.lock
Labels: Setup

Renormalize instead of retry
  src/anomalib/data/utils/generators/perlin.py
Labels: none

added ground truth masks to VAD dataset
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datasets/image/vad.py
  tests/helpers/data.py
Labels: Tests

added license
  src/anomalib/models/image/mmr/LICENSE
Labels: none

rename media endpoint
  app/backend/src/rest_api/endpoints/media_endpoints.py
Labels: none

add unit tests for endpoints
  app/backend/pyproject.toml
  app/backend/tests/__init__.py
  app/backend/tests/unit/__init__.py
  app/backend/tests/unit/conftest.py
  app/backend/tests/unit/endpoints/conftest.py
  app/backend/tests/unit/endpoints/test_jobs.py
  app/backend/tests/unit/endpoints/test_media.py
  app/backend/tests/unit/endpoints/test_models.py
  app/backend/tests/unit/endpoints/test_projects.py
Labels: none

🧪 test(get-inspect): add unit tests for endpoints (#2942)
  app/backend/pyproject.toml
  app/backend/tests/__init__.py
  app/backend/tests/unit/__init__.py
  app/backend/tests/unit/conftest.py
  app/backend/tests/unit/endpoints/conftest.py
  app/backend/tests/unit/endpoints/test_jobs.py
  app/backend/tests/unit/endpoints/test_media.py
  app/backend/tests/unit/endpoints/test_models.py
  app/backend/tests/unit/endpoints/test_projects.py
Labels: none

Add openapi spec to gitignore
  app/ui/.gitignore
  app/ui/src/api/openapi-spec.d.ts
  app/ui/src/api/openapi-spec.json
Labels: none

Delete nginx and Dockerfile
  app/ui/Dockerfile
  app/ui/nginx.conf
Labels: none

Use error page
  app/ui/src/router.tsx
Labels: none

Apply suggestion from @Copilot
  src/anomalib/utils/path.py
Labels: none

remove model api
  app/backend/pyproject.toml
  app/backend/uv.lock
Labels: none

cleanup code
  app/backend/pyproject.toml
  app/backend/src/utils/visualization.py
  app/backend/uv.lock
Labels: none

update async execution
  app/backend/src/services/job_service.py
  app/backend/src/services/training_service.py
  app/backend/src/utils/asyncio_helpers.py
  app/backend/src/utils/sync_helpers.py
Labels: none

Use src folder inside run.sh
  app/backend/run.sh
  app/backend/src/main.py
Labels: none

Set openapi_url path
  app/backend/src/main.py
Labels: none

Update to react 19
  app/ui/package-lock.json
  app/ui/package.json
Labels: none

Specify bash language in readme
  app/ui/README.md
Labels: none

🐛 fix(path): replace subprocess call with Path.symlink_to for creating directory junctions on Windows. Yet to be tested.
  src/anomalib/utils/path.py
Labels: none

🔧 chore(geti-inspect): Update Geti Inspect to react 19 (#2948)
  app/backend/run.sh
  app/backend/src/main.py
  app/ui/README.md
  app/ui/package-lock.json
  app/ui/package.json
Labels: none

improve training worker loop and predict endpoint
  app/backend/src/api/endpoints/model_endpoints.py
  app/backend/src/models/__init__.py
  app/backend/src/models/model.py
  app/backend/src/services/model_service.py
  app/backend/src/services/training_service.py
  app/backend/src/workers/training.py
Labels: none

fix style
  app/backend/src/api/endpoints/job_endpoints.py
  app/backend/src/api/endpoints/media_endpoints.py
  app/backend/src/api/endpoints/model_endpoints.py
  app/backend/src/api/endpoints/project_endpoints.py
  app/backend/src/cli.py
  app/backend/src/core/scheduler.py
  app/backend/src/db/engine.py
  app/backend/src/main.py
  app/backend/src/models/__init__.py
  app/backend/src/models/base.py
  app/backend/src/models/job.py
  app/backend/src/models/model.py
  app/backend/src/repositories/base.py
  app/backend/src/repositories/binary_repo.py
  app/backend/src/services/job_service.py
  app/backend/src/services/media_service.py
  app/backend/src/services/model_service.py
  app/backend/src/services/project_service.py
  app/backend/src/services/training_service.py
  app/backend/src/utils/__init__.py
  app/backend/src/utils/asyncio_helpers.py
  app/backend/src/workers/training.py
Labels: none

🔧 chore: update copyright year and add keys method to NumpyBatch and Batch classes
  src/anomalib/data/dataclasses/numpy/base.py
  src/anomalib/data/dataclasses/torch/base.py
Labels: none

fix mypy
  src/anomalib/visualization/image/item_visualizer.py
  src/anomalib/visualization/image/visualizer.py
Labels: none

🚀 feat(workflow): add CodeQL analysis workflow for security scanning
  .github/workflows/codeql.yml
Labels: CI

fix(workflow): remove whitespaces
  .github/workflows/codeql.yml
Labels: CI

fix(workflow): correct action name for CodeQL analysis step
  .github/workflows/codeql.yml
Labels: CI

refactor(workflow): update CodeQL workflow for clarity and efficiency
  .github/workflows/codeql.yml
Labels: CI

format codeql.yml with prettier
  .github/workflows/codeql.yml
Labels: CI

fix(workflow): remove unnecessary whitespace in CodeQL job permissions
  .github/workflows/codeql.yml
Labels: CI

refactor: improve dataset name and category handling in ImageVisualizer
  src/anomalib/visualization/image/visualizer.py
Labels: none

Made some changes to the workflow of GLASS Model
  src/anomalib/models/image/glass/components/rescale_segmentor.py
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/loss.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

fix style to use python3.10 generics
  app/backend/pyproject.toml
  app/backend/src/repositories/base.py
  app/backend/src/repositories/mappers/base_mapper_interface.py
Labels: none

refactor: unify visualization method naming in ImageVisualizer
  src/anomalib/visualization/image/visualizer.py
Labels: none

🐛 fix(graph): Corrected isinstance check for logger types in GraphLogger class
  src/anomalib/callbacks/graph.py
Labels: none

🐛 fix(comet): Improve CometLogger import handling and provide a dummy class for missing dependency
  src/anomalib/loggers/comet.py
Labels: none

🐛 fix(mlflow): Add dummy MLFlowLogger class for missing MLFlow dependency and improve import handling
  src/anomalib/loggers/mlflow.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
