Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix(docs): resolve prettier and markdownlint conflict
  CONTRIBUTING.md
  SECURITY.md
  docs/source/markdown/guides/developer/contributing.md
  docs/source/markdown/guides/how_to/pipelines/custom_pipeline.md
  examples/notebooks/500_use_cases/501_dobot/README.md
  src/anomalib/models/image/supersimplenet/README.md
  src/anomalib/models/image/uflow/README.md
Labels: Docs

refactor: standardize variable naming conventions across the codebase
  src/anomalib/cli/utils/installation.py
  src/anomalib/data/__init__.py
Labels: none

refactor: update class variable annotations for consistency
  src/anomalib/data/dataclasses/numpy/image.py
  src/anomalib/data/dataclasses/numpy/video.py
  src/anomalib/data/dataclasses/torch/depth.py
  src/anomalib/data/dataclasses/torch/image.py
  src/anomalib/data/dataclasses/torch/video.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/btech.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
  src/anomalib/data/transforms/center_crop.py
  src/anomalib/data/utils/boxes.py
  src/anomalib/data/utils/image.py
  src/anomalib/loggers/mlflow.py
  tests/unit/data/dataclasses/test_collate.py
Labels: Tests

refactor: simplify class variable annotations in video data classes
  src/anomalib/data/dataclasses/numpy/video.py
  src/anomalib/data/dataclasses/torch/video.py
Labels: none

fix(imports): update OpenVINO import paths in inferencer and post-processor
  docs/source/markdown/guides/how_to/models/post_processor.md
  src/anomalib/deploy/inferencers/openvino_inferencer.py
Labels: Docs

chore: update pre-commit configuration and contribution guidelines
  .github/workflows/_reusable-commit-message-check.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/source/markdown/guides/developer/contributing.md
Labels: CI, Docs, Setup

style: apply prettier changes
  MAINTAINERS.md
  docs/source/markdown/guides/how_to/data/dataclasses.md
  docs/source/markdown/guides/how_to/data/datamodules.md
  docs/source/markdown/guides/how_to/data/datasets.md
Labels: Docs

chore: migrate to PR title validation and enhance contribution guidelines
  .github/pull_request_template.md
  .github/workflows/_reusable-pr-title-check.yaml
  CONTRIBUTING.md
  PR_DESCRIPTION.md
  docs/source/markdown/guides/developer/contributing.md
Labels: CI, Docs

chore: update PR title validation and workflow conditions
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/pr.yaml
Labels: CI

fix(ci): use Python for emoji stripping instead of sed
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

chore(ci): enhance PR title validation workflow
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

chore(ci): revert pr name back
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

chore(ci): revert pr name back.
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

fix: semgrep update DataLoader initialization and tensor creation for consistency
  src/anomalib/cli/cli.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/data/datasets/video/ucsd_ped.py
  src/anomalib/data/utils/boxes.py
  src/anomalib/engine/engine.py
  src/anomalib/models/video/ai_vad/features.py
  tests/unit/utils/test_visualizer.py
Labels: Tests

fix: correct regex patterns in validation tests for shape error messages
  tests/unit/data/validators/numpy/test_video.py
  tests/unit/data/validators/torch/test_video.py
Labels: Tests

fix: enable pin_memory in DataLoader initialization for improved performance
  src/anomalib/cli/cli.py
  src/anomalib/engine/engine.py
  tests/unit/utils/test_visualizer.py
Labels: Tests

fix: update validation logic for predicted scores in VideoBatchValidator
  src/anomalib/data/validators/torch/video.py
  tests/unit/data/validators/torch/test_video.py
Labels: Tests

fix(model): update reference images initialization to use empty tensor
  src/anomalib/models/image/winclip/lightning_model.py
Labels: none

stash changes
  src/anomalib/models/image/uninet/LICENSE
  src/anomalib/models/image/uninet/__init__.py
  src/anomalib/models/image/uninet/anomaly_map.py
  src/anomalib/models/image/uninet/dfs.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/loss.py
  src/anomalib/models/image/uninet/torch_model.py
  third-party-programs.txt
Labels: none

chore(build): switch to hatchling for build system in pyproject.toml
  pyproject.toml
Labels: Setup

docs: Update installation instructions and scripts for Anomalib
  README.md
  docs/source/conf.py
  docs/source/examples
  docs/source/markdown/get_started/anomalib.md
  examples/cli/00_installation/anomalib_install.sh
  examples/cli/00_installation/source_install.sh
  examples/cli/00_installation/uv_install.sh
Labels: Docs

feat(dependencies): enhance dependency management and installation instructions
  README.md
  pyproject.toml
  src/anomalib/models/components/dimensionality_reduction/random_projection.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/filters/blur.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/image/cfa/anomaly_map.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/cflow/lightning_model.py
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/cflow/utils.py
  src/anomalib/models/image/csflow/torch_model.py
  src/anomalib/models/image/draem/loss.py
  src/anomalib/models/image/dsr/loss.py
  src/anomalib/models/image/fastflow/torch_model.py
  src/anomalib/models/image/uflow/feature_extraction.py
  src/anomalib/models/image/uflow/torch_model.py
  src/anomalib/models/image/winclip/torch_model.py
Labels: Docs, Setup

feat(dependencies): enhance dependency management and installation instructions
  README.md
  pyproject.toml
  src/anomalib/models/image/cfa/anomaly_map.py
Labels: Docs, Setup

Add initial code
  src/anomalib/models/components/backbone/__init__.py
  src/anomalib/models/components/backbone/de_resnet.py
  src/anomalib/models/image/reverse_distillation/components/__init__.py
  src/anomalib/models/image/reverse_distillation/torch_model.py
  src/anomalib/models/image/uninet/anomaly_map.py
  src/anomalib/models/image/uninet/components/__init__.py
  src/anomalib/models/image/uninet/components/attention_bottleneck.py
  src/anomalib/models/image/uninet/components/dfs.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

add unit tests for patchcore with new flags, asserts that we can initialize and embeddigns are stored on correct device
  tests/unit/models/image/patchcore/__init__.py
  tests/unit/models/image/patchcore/test_compute_coreset_cpu.py
Labels: Tests

run with pre-commit
  tests/unit/models/image/patchcore/test_compute_coreset_cpu.py
Labels: Tests

delete embeddings after use, add option to compute on cpu
  src/anomalib/models/image/patchcore/lightning_model.py
Labels: none

feat(dependencies): enhance PyTorch dependency management and configuration
  pyproject.toml
Labels: Setup

docs: update installation instructions for Anomalib
  README.md
  docs/source/markdown/get_started/anomalib.md
  examples/cli/00_installation/pip_install.sh
  examples/cli/00_installation/uv_install.sh
Labels: Docs

feat(dependencies): add new uv.lock file for dependency management
  .gitattributes
  uv.lock
Labels: Setup

feat(dependencies): reorganize and update core and optional dependencies in pyproject.toml
  pyproject.toml
Labels: Setup

docs: update README and installation scripts for clarity on optional dependencies
  README.md
  examples/cli/00_installation/pip_install.sh
  examples/cli/00_installation/uv_install.sh
Labels: Docs

feat(dependencies): improve error handling for missing optional modules
  src/anomalib/callbacks/nncf/callback.py
  src/anomalib/callbacks/nncf/utils.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/models/components/base/export_mixin.py
  src/anomalib/models/components/dimensionality_reduction/random_projection.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/filters/blur.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/image/cfa/anomaly_map.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/cflow/utils.py
  src/anomalib/models/image/csflow/torch_model.py
  src/anomalib/models/image/draem/loss.py
  src/anomalib/models/image/dsr/loss.py
  src/anomalib/models/image/fastflow/torch_model.py
  src/anomalib/models/image/uflow/anomaly_map.py
  src/anomalib/models/image/uflow/torch_model.py
  tools/inference/gradio_inference.py
Labels: Inference, Tools

📝 chore: overhaul issue management process with new templates and enhanced workflow
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/task.yaml
  .github/ISSUE_TEMPLATE/user_story.yaml
  .github/workflows/issue-management.yaml
Labels: CI

Working model
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/uninet/anomaly_map.py
  src/anomalib/models/image/uninet/components/attention_bottleneck.py
  src/anomalib/models/image/uninet/components/dfs.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/loss.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

Refactored code from lightning model to torch model
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

GPU bug fixed
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

used image device in torch model
  src/anomalib/models/image/glass/lightning_model.py
  src/anomalib/models/image/glass/torch_model.py
Labels: none

fixed bug
  src/anomalib/models/image/glass/lightning_model.py
Labels: none

Fixed bug where MVTecLOCO GT Masks were not loaded
  src/anomalib/data/utils/image.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
