Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

using math as import for isclose
  src/anomalib/engine/engine.py
Labels: none

docs(skill): expand anomalib-adding-a-datamodule with a few missed points (#3830)
  .agents/skills/anomalib-adding-a-datamodule/SKILL.md
Labels: none

fix(model): clip grd-net generator manually
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

feat(data): add grd-net roi folder pipeline
  src/anomalib/data/datamodules/image/grdnet.py
  src/anomalib/data/datasets/image/grdnet.py
  src/anomalib/models/image/grdnet/pre_processor.py
  tests/unit/data/dataclasses/test_grdnet.py
  tests/unit/data/datamodule/image/test_grdnet.py
  tests/unit/models/image/grdnet/test_pre_processor.py
Labels: Tests

feat(model): add grd-net residual networks
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

feat(model): add grd-net training objectives
  src/anomalib/models/image/grdnet/loss.py
  tests/unit/models/image/grdnet/test_loss.py
Labels: Tests

feat(data): add grd-net roi batches
  src/anomalib/data/dataclasses/torch/grdnet.py
  src/anomalib/data/validators/torch/grdnet.py
  tests/unit/data/dataclasses/test_grdnet.py
Labels: Tests

feat(model): compose grd-net segmentator
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

feat(model): integrate grd-net training lifecycle
  src/anomalib/models/image/grdnet/__init__.py
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

feat(model): add grd-net input synthesis
  src/anomalib/models/image/grdnet/LICENSE
  src/anomalib/models/image/grdnet/__init__.py
  src/anomalib/models/image/grdnet/anomaly_generator.py
  src/anomalib/models/image/grdnet/tiling.py
  tests/unit/models/image/grdnet/__init__.py
  tests/unit/models/image/grdnet/test_input_synthesis.py
  third-party-programs.txt
Labels: Tests

test(model): cover grd-net lifecycle
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

feat(model): add grd-net patch inference
  src/anomalib/models/image/grdnet/torch_model.py
  tests/unit/models/image/grdnet/test_inference.py
  tests/unit/models/image/grdnet/test_networks.py
Labels: Tests

feat(model): expose grd-net through public api
  src/anomalib/data/__init__.py
  src/anomalib/data/dataclasses/__init__.py
  src/anomalib/data/dataclasses/torch/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  tests/unit/models/image/grdnet/test_public_api.py
Labels: Tests

test(model): cover grd-net shared workflows
  tests/integration/model/test_models.py
Labels: Tests

fix(model): align grd-net training geometry
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

fix(model): correct grd-net denoising training
  src/anomalib/models/image/grdnet/lightning_model.py
  src/anomalib/models/image/grdnet/loss.py
  src/anomalib/models/image/grdnet/pre_processor.py
  src/anomalib/models/image/grdnet/tiling.py
  tests/unit/models/image/grdnet/test_input_synthesis.py
  tests/unit/models/image/grdnet/test_lightning_model.py
  tests/unit/models/image/grdnet/test_loss.py
  tests/unit/models/image/grdnet/test_pre_processor.py
Labels: Tests

docs(model): add grd-net result assets
  docs/source/images/grdnet/architecture.svg
  docs/source/images/grdnet/results/0.png
  docs/source/images/grdnet/results/1.png
  docs/source/images/grdnet/results/2.png
  docs/source/images/grdnet/results/LICENSE
  results/GRDNet/selected_categories.json
  third-party-programs.txt
Labels: Docs

docs(model): document grd-net
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/dataclasses/torch.md
  docs/source/markdown/guides/reference/data/datamodules/image/grdnet.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/models/image/grdnet.md
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/grdnet/README.md
  src/anomalib/models/image/grdnet/__init__.py
  src/anomalib/models/image/grdnet/lightning_model.py
Labels: Docs

implementing suggestions
  application/backend/src/services/dispatch_service.py
  application/backend/tests/unit/services/test_dispatch_service.py
Labels: none

Update error handling in dispatch_service.py
  application/backend/src/services/dispatch_service.py
Labels: none

Updated dataset download extraction logic to handle top-level nested LIBAD/ folder
  src/anomalib/data/datamodules/image/libad.py
  src/anomalib/data/datasets/image/libad.py
  src/anomalib/data/validators/torch/image.py
  src/anomalib/models/image/rad/torch_model.py
  tests/unit/data/datamodule/image/test_libad.py
  tests/unit/data/utils/test_image.py
Labels: Tests

Refactor imports
  src/anomalib/data/datamodules/image/libad.py
Labels: none

fix(data): wire normal_split_ratio into the Folder and Tabular datamodules
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/folder.py
  src/anomalib/data/datamodules/image/tabular.py
  tests/unit/data/datamodule/image/test_normal_split_ratio.py
Labels: Tests

test(dispatch): update failed dispatcher regression test
  application/backend/tests/unit/services/test_dispatch_service.py
Labels: none

fix(model): clip grd-net gradients after unscaling
  src/anomalib/models/image/grdnet/lightning_model.py
  tests/unit/models/image/grdnet/test_lightning_model.py
Labels: Tests

fix(patchcore): write embeddings through a preallocated staging tensor
  docs/source/markdown/guides/reference/models/image/patchcore.md
  src/anomalib/models/image/patchcore/embedding_store.py
  src/anomalib/models/image/patchcore/lightning_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  tests/unit/models/image/patchcore/__init__.py
  tests/unit/models/image/patchcore/test_embedding_store.py
  tests/unit/models/image/patchcore/test_lightning_model.py
  tests/unit/models/image/patchcore/test_torch_model.py
Labels: Docs, Tests
