Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Set font family for sonner
  application/ui/src/index.css
Labels: none

Improve query client
  application/ui/src/providers.tsx
  application/ui/src/query-client/query-client.interface.ts
  application/ui/src/query-client/query-client.ts
Labels: none

Fix lint
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

Render toast messages
  application/ui/src/components/notification/notification.component.tsx
  application/ui/src/components/notification/notification.module.scss
  application/ui/src/providers.tsx
Labels: none

Move toast into router provider
  application/ui/src/providers.tsx
  application/ui/src/router.tsx
Labels: none

Add a welcome screen
  application/ui/src/assets/icons/fire-works.svg
  application/ui/src/assets/icons/index.ts
  application/ui/src/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

Fix grid spacing
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
Labels: none

Invalidate projects after creating a new project
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
Labels: none

Fix cyclic dependencies
  application/ui/src/components/error-page/error-page.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/openapi/openapi.tsx
  application/ui/src/routes/paths.ts
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

fix logs endpoint and tests
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/model_endpoints.py
  application/backend/src/services/job_service.py
  application/backend/src/services/model_service.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/tests/unit/services/test_model_service.py
Labels: none

address comments
  application/backend/src/core/logging.py
  application/backend/src/repositories/base.py
Labels: none

address copilot comments
  application/backend/src/core/logging.py
  application/backend/src/core/scheduler.py
  application/backend/src/services/dispatchers/filesystem.py
  application/backend/src/services/job_service.py
  application/backend/src/services/metrics_service.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/src/workers/inference.py
Labels: none

fix ruff
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_job_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/workers/test_stream_loading.py
  application/backend/tests/unit/workers/test_training.py
Labels: none

Update application/backend/src/services/training_service.py
  application/backend/src/services/training_service.py
Labels: none

Update application/backend/src/api/dependencies.py
  application/backend/src/api/dependencies.py
Labels: none

Update application/backend/src/core/scheduler.py
  application/backend/src/core/scheduler.py
Labels: none

Update application/backend/src/services/job_service.py
  application/backend/src/services/job_service.py
Labels: none

Update application/backend/src/services/training_service.py
  application/backend/src/services/training_service.py
Labels: none

use text/event-stream
  application/backend/src/api/endpoints/job_endpoints.py
Labels: none

chore(inspect): minor UI improvements (#3040)
  application/ui/src/assets/icons/fire-works.svg
  application/ui/src/assets/icons/index.ts
  application/ui/src/components/error-page/error-page.tsx
  application/ui/src/components/notification/notification.component.tsx
  application/ui/src/components/notification/notification.module.scss
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  application/ui/src/index.css
  application/ui/src/providers.tsx
  application/ui/src/query-client/query-client.interface.ts
  application/ui/src/query-client/query-client.ts
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/openapi/openapi.tsx
  application/ui/src/routes/paths.ts
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: CI, Docs

improve logs (add uvicorn handler) and add job_id to model
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging.py
  application/backend/src/core/logging/__init__.py
  application/backend/src/core/logging/handlers.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/setup.py
  application/backend/src/core/logging/utils.py
  application/backend/src/core/scheduler.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_job_service.py
Labels: Setup

Update application/backend/src/core/logging/setup.py
  application/backend/src/core/logging/setup.py
Labels: Setup

Update application/backend/src/core/logging/setup.py
  application/backend/src/core/logging/setup.py
Labels: Setup

Update application/backend/src/services/training_service.py
  application/backend/src/services/training_service.py
Labels: none

train_job_id not nullable
  application/backend/src/pydantic_models/model.py
Labels: none

address copilot
  application/backend/src/core/logging/setup.py
Labels: Setup

chore (inspect): improve logs (add uvicorn handler) and add job_id to model (#3044)
  application/backend/src/core/lifecycle.py
  application/backend/src/core/logging.py
  application/backend/src/core/logging/__init__.py
  application/backend/src/core/logging/handlers.py
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/setup.py
  application/backend/src/core/logging/utils.py
  application/backend/src/core/scheduler.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_job_service.py
Labels: Setup

Add progress
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
  application/ui/src/features/inspect/statusbar/items/progressbar.component.tsx
  application/ui/src/features/inspect/statusbar/statusbar.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

chore: add code owners for GitHub workflows and security policy
  .github/CODEOWNERS
Labels: CI

lock
  uv.lock
Labels: none

pre-commits
  pyproject.toml
  src/anomalib/__init__.py
  src/anomalib/models/image/patchcore/lightning_model.py
Labels: Setup

fix lockfil
  uv.lock
Labels: none

fix lockfile
  uv.lock
Labels: none

Rename vars and update metrics in readme
  src/anomalib/models/image/supersimplenet/README.md
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/torch_model.py
Labels: none

Fix uv.lock
  uv.lock
Labels: none

Limit torch version for cuda versions less than 13
  pyproject.toml
  uv.lock
Labels: Setup

🚀 feat(model): REFACTOR Enable Patchcore Training Half Precision (#3047)
  pyproject.toml
  src/anomalib/__init__.py
  src/anomalib/models/image/patchcore/lightning_model.py
  uv.lock
Labels: Setup

Specify cuda version in the test
  .github/actions/pytest/action.yaml
  CHANGELOG.md
Labels: CI, Docs

Update uv.lock
  uv.lock
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
