Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

fix style
  application/backend/pyproject.toml
  application/backend/src/core/logging/log_config.py
  application/backend/src/core/logging/utils.py
  application/backend/src/create_openapi.py
  application/backend/src/entities/images_folder_stream.py
  application/backend/src/entities/video_stream.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/repositories/base.py
  application/backend/src/repositories/mappers/base_mapper_interface.py
  application/backend/src/repositories/mappers/sink_mapper.py
  application/backend/src/repositories/mappers/source_mapper.py
  application/backend/src/services/dispatchers/filesystem.py
  application/backend/src/services/job_service.py
  application/backend/src/services/metrics_service.py
  application/backend/src/services/model_service.py
  application/backend/src/webrtc/manager.py
  application/backend/src/workers/inference.py
  application/backend/tests/unit/endpoints/test_trainable_models.py
  application/backend/tests/unit/services/test_job_service.py
Labels: none

add backend unit tests GHA
  .github/workflows/geti-inspect.yaml
Labels: CI

Update application/backend/src/entities/video_stream.py
  application/backend/src/entities/video_stream.py
Labels: none

Fix conflicts
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

Fix prek issues
  application/backend/src/services/job_service.py
  application/backend/src/utils/callbacks.py
Labels: none

Fix mypy issues
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

feat(inspect): add, remove list and connect sinks (#3087)
  application/ui/src/components/required-text-field/required-text-field.component.tsx
  application/ui/src/components/required-text-field/required-text-field.test.tsx
  application/ui/src/components/status-tag/status-tag.component.tsx
  application/ui/src/components/status-tag/status-tag.module.scss
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/add-sink/add-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink-form.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink/edit-sink.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/edit-sink/edit-sink.module.scss
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-action.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.module.scss
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields copy/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/output-formats/output-formats.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/output-formats/output-formats.module.scss
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/ros-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/ros-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/sink-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-icon/sink-icon.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-list.module.scss
  application/ui/src/features/inspect/toolbar/sinks/sink-list/sink-menu/sink-menu.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/sink-options.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/utils.test.ts
  application/ui/src/features/inspect/toolbar/sinks/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/key-value-builder.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source-form.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-actions.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-list/source-list.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/utils.ts
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

Fix tests
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Cosmetics
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

Update playwright in action
  .github/workflows/geti-inspect.yaml
Labels: CI

update renovate config
  .github/renovate.json5
Labels: CI

Revert playwright changes
  .github/workflows/geti-inspect.yaml
  application/ui/package-lock.json
Labels: CI

Target package-lock to feature branch
  application/ui/package-lock.json
Labels: none

🚀 feat(inspect): Add progressbar (#3045)
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/services/job_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
  application/backend/tests/unit/services/test_training_service.py
  application/ui/src/api/fetch-sse.ts
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

📦 docs(README): Update ReadMe for V2.2.0 release (#3017)
  README.md
Labels: Docs

test mebin postprocessor
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Tests

🐛 fix(pr.yaml): Increase unit test timeout from 15 to 30 seconds (#2988)
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/pr.yaml
Labels: CI

🚀 feat(metric): added PGn, PBn metrics (#2889)
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/pg_pb.py
  tests/unit/metrics/test_pg_pb.py
Labels: Tests

🚧 ci(tests): Use uv commands (#2999)
  .github/actions/pytest/action.yaml
Labels: CI

🚀 feat(workflow): add CodeQL analysis workflow for security scanning (#2951)
  .github/workflows/codeql.yml
Labels: CI

🐛 fix(docs): Update documentation and log messages to reflect recent changes (#2931)
  src/anomalib/callbacks/nncf/callback.py
  src/anomalib/callbacks/nncf/utils.py
  src/anomalib/data/utils/video.py
  src/anomalib/engine/__init__.py
  src/anomalib/engine/engine.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/vlm_ad/backends/huggingface.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
  src/anomalib/models/image/winclip/torch_model.py
Labels: none

🔧 chore(release): prepare v2.2.0 release (#2960)
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

🐞 fix(utils): Run CS Flow model in eval() so the weights of the model itself will not be modified (#2966)
  src/anomalib/models/components/feature_extractors/utils.py
Labels: none

🐛 fix(path): Remove filter to remove hidden files (#2955)
  src/anomalib/data/utils/path.py
Labels: none

🐛 fix(ovinferencer): Fix openvino cache directory (#2979)
  .gitignore
  src/anomalib/deploy/inferencers/openvino_inferencer.py
Labels: Setup

🚀 feat(dataset): add 3D-ADAM dataset to Anomalib (#3003)
  CHANGELOG.md
  examples/configs/data/adam_3d.yaml
  pyproject.toml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/depth/__init__.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/depth/__init__.py
  src/anomalib/data/datasets/depth/adam_3d.py
  tests/helpers/data.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Docs, Setup, Tests

🔧 chore(version): Update main version to dev (#3010)
  src/anomalib/__init__.py
Labels: none

test mebin postprocessor
  tests/unit/post_processing/test_mebin_post_processor.py
Labels: Tests

🐛 fix(bandit): Suppress Bandit NoSec incorrectly flagging HuggingFace model loading (#2947)
  src/anomalib/models/image/vlm_ad/backends/huggingface.py
Labels: none

🐛 fix(huggingface): Fix Bandit security issue B615 - HF Models (#2937)
  src/anomalib/models/image/vlm_ad/__init__.py
  src/anomalib/models/image/vlm_ad/backends/huggingface.py
  src/anomalib/models/image/vlm_ad/lightning_model.py
Labels: none

add mebin postprocessor
  CHANGELOG.md
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/mebin.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/mebin_post_processor.py
Labels: Docs

🔨 fix(semgrep): ignore uv.lock in semgrep (#2972)
  .github/actions/security/semgrep/action.yaml
Labels: CI

🔄 refactor(utils): improve optional import handling across loggers and model backends (#2954)
  src/anomalib/callbacks/graph.py
  src/anomalib/data/utils/video.py
  src/anomalib/loggers/comet.py
  src/anomalib/loggers/mlflow.py
  src/anomalib/loggers/tensorboard.py
  src/anomalib/loggers/wandb.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/vlm_ad/backends/ollama.py
  src/anomalib/models/image/winclip/torch_model.py
  src/anomalib/utils/imports.py
Labels: none

🚀 feat(data): BMAD dataset (#3000)
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/bmad.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/bmad.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_bmad.py
Labels: Docs, Tests

🚀 feat(data): added ground truth masks to VAD dataset (#2940)
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datasets/image/vad.py
  tests/helpers/data.py
Labels: Tests

🐞 fix(data): Perlin noise generator masks (#2936)
  pyproject.toml
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/models/image/dsr/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
  src/anomalib/models/image/winclip/torch_model.py
  uv.lock
Labels: Setup

🐛 fix(metrics): disable mps for torch metrics (#3019)
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
Labels: none

🐛 fix(model): Reduce memory reserved for memory bank based models PatchCore, Padim, Dfkde (#2913)
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

🔧 docs(changelog): Fix entries (#3008)
  CHANGELOG.md
Labels: Docs

🚀 feat(metric): added histogram of anomaly scores (#2920)
  src/anomalib/metrics/anomaly_score_distribution.py
  src/anomalib/metrics/utils.py
Labels: none
