Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

fix media selection
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/util.ts
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
Labels: none

fix: handle string input for precision parameter in AnomalyDINO and Patchcore
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/patchcore/lightning_model.py
Labels: none

fix: improve error message for invalid encoder name in AnomalyDINO model test
  src/anomalib/models/components/dinov2/vision_transformer.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Tests

Update application/backend/src/api/endpoints/webui_endpoints.py
  application/backend/src/api/endpoints/webui_endpoints.py
Labels: none

stash changes
  application/docker/Dockerfile
  application/docker/docker-compose.yml
Labels: none

feat(inspect): Delete model training job (#3206)
  application/backend/src/services/model_service.py
  application/backend/tests/unit/services/test_model_service.py
Labels: none

Address PR comments
  application/backend/src/main.py
  application/backend/src/services/training_service.py
  application/docker/Dockerfile
  application/docker/README.md
  application/docker/docker-compose.cuda.yaml
Labels: none

Fix test
  application/backend/tests/unit/services/test_training_service.py
Labels: none

fix(export): Fix exporting to INT8_PTQ and INT8_ACQ (#3209)
  application/backend/src/services/model_service.py
Labels: none

Add scaffold
  application/binary/.gitignore
  application/binary/README.md
  application/binary/index.html
  application/binary/package-lock.json
  application/binary/package.json
  application/binary/public/tauri.svg
  application/binary/public/vite.svg
  application/binary/src-tauri/.gitignore
  application/binary/src-tauri/Cargo.lock
  application/binary/src-tauri/Cargo.toml
  application/binary/src-tauri/build.rs
  application/binary/src-tauri/capabilities/default.json
  application/binary/src-tauri/icons/128x128.png
  application/binary/src-tauri/icons/128x128@2x.png
  application/binary/src-tauri/icons/32x32.png
  application/binary/src-tauri/icons/Square107x107Logo.png
  application/binary/src-tauri/icons/Square142x142Logo.png
  application/binary/src-tauri/icons/Square150x150Logo.png
  application/binary/src-tauri/icons/Square284x284Logo.png
  application/binary/src-tauri/icons/Square30x30Logo.png
  application/binary/src-tauri/icons/Square310x310Logo.png
  application/binary/src-tauri/icons/Square44x44Logo.png
  application/binary/src-tauri/icons/Square71x71Logo.png
  application/binary/src-tauri/icons/Square89x89Logo.png
  application/binary/src-tauri/icons/StoreLogo.png
  application/binary/src-tauri/icons/icon.icns
  application/binary/src-tauri/icons/icon.ico
  application/binary/src-tauri/icons/icon.png
  application/binary/src-tauri/src/lib.rs
  application/binary/src-tauri/src/main.rs
  application/binary/src-tauri/tauri.conf.json
  application/binary/src/App.css
  application/binary/src/App.tsx
  application/binary/src/assets/react.svg
  application/binary/src/main.tsx
  application/binary/src/vite-env.d.ts
  application/binary/tsconfig.json
  application/binary/tsconfig.node.json
  application/binary/vite.config.ts
Labels: none

Move `set_start_method` to main block
  application/backend/src/main.py
Labels: none

feat(inspect): Updated trainable model endpoint with metadata
  application/backend/src/api/endpoints/trainable_models_endpoints.py
  application/backend/src/core/model_metadata.yaml
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/trainable_model.py
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

fix(inspect): Enable training on XPU using SingleXPUStrategy (#3210)
  application/backend/src/main.py
  application/backend/src/services/training_service.py
Labels: none

feat(inspect): Rework train model dialog with new model metadata and improved UI
  application/ui/mocks/mock-trainable-models.ts
  application/ui/src/features/inspect/train-model/model-metrics-display.component.tsx
  application/ui/src/features/inspect/train-model/model-tag.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/features/inspect/train-model/train-model.module.scss
  application/ui/src/features/inspect/train-model/trainable-model-card.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.test.tsx
  application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/types.ts
  application/ui/src/features/inspect/train-model/utils/device-metadata.test.ts
Labels: none

fix(inspect): Remove alpha channel before inference
  application/backend/src/services/model_service.py
Labels: none

Update application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/training-device-picker.component.tsx
Labels: none

feat(inspect): SSE training progress (#3211)
  application/ui/src/api/fetch-sse.ts
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.tsx
  application/ui/src/features/inspect/jobs/show-job-logs.component.tsx
  application/ui/src/hooks/use-project-trainingJobs.hook.ts
Labels: none

fix(inspect): Remove alpha channel before inference (#3224)
  application/backend/src/services/model_service.py
Labels: none

codeql config update
  .github/workflows/codeql.yml
Labels: CI

stash changes
  application/backend/src/main.py
  application/binary/sidecar/geti_inspect_cpu.spec
  application/binary/sidecar/hook-matplotlib.py
  application/binary/sidecar/hook-multiprocessing.py
Labels: none

add condition
  .github/workflows/codeql.yml
Labels: CI

add javascript-typescript
  .github/workflows/codeql.yml
Labels: CI

feat(inspect): Implement project deletion and thumbnail display functionality
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.test.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
Labels: none

update comment
  .github/workflows/codeql.yml
  uv.lock
Labels: CI

restore lock
  uv.lock
Labels: none

Fixed comments
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-thumbnail/project-thumbnail.component.tsx
Labels: none

Add first build
  application/backend/src/main.py
  application/binary/sidecar/geti_inspect_cpu.spec
  application/binary/sidecar/hook-setup.py
Labels: none

feat(ci): add javascript-typescript into CodeQL config - feature branch (#3228)
  .github/workflows/codeql.yml
Labels: CI

Single file
  application/binary/sidecar/geti_inspect_cpu.spec
Labels: none

Fixed comments
  application/ui/src/features/inspect/train-model/model-metrics-display.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/trainable-model-card.component.tsx
Labels: none

Fixed tests
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
Labels: none

Updated doc string
  src/anomalib/pipelines/benchmark/pipeline.py
Labels: none

Fixed comment
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
Labels: none

Add tauri build
  application/binary/tauri/package-lock.json
  application/binary/tauri/src-tauri/.gitignore
  application/binary/tauri/src-tauri/.tauriignore
  application/binary/tauri/src-tauri/Cargo.lock
  application/binary/tauri/src-tauri/Cargo.toml
  application/binary/tauri/src-tauri/capabilities/default.json
  application/binary/tauri/src-tauri/src/main.rs
  application/binary/tauri/src-tauri/tauri.conf.json
  uv.lock
Labels: none

Fixed linter
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

feat(inspect): Imporve training job update progress (#3213)
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

Remove default code + rustfmt
  application/binary/tauri/src-tauri/.gitignore
  application/binary/tauri/src-tauri/.tauriignore
  application/binary/tauri/src-tauri/src/lib.rs
  application/binary/tauri/src-tauri/src/main.rs
Labels: none

Update Cargo.toml
  application/binary/tauri/src-tauri/Cargo.toml
Labels: none

Updated documentation
  src/anomalib/pipelines/benchmark/pipeline.py
  uv.lock
Labels: none

Updated documentation
  src/anomalib/pipelines/benchmark/pipeline.py
Labels: none
