Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Add changelog + fix dataset location
  CHANGELOG.md
  src/anomalib/data/datamodules/depth/adam_3d.py
Labels: Docs

revert changes to example
  docs/source/examples
Labels: Docs

revert file permissions
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/fre/README.md
  src/anomalib/models/image/fre/__init__.py
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/models/image/fre/torch_model.py
Labels: none

revert changes to example
  docs/source/examples
Labels: Docs

revert file permissions
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/fre/README.md
  src/anomalib/models/image/fre/__init__.py
  src/anomalib/models/image/fre/lightning_model.py
  src/anomalib/models/image/fre/torch_model.py
Labels: none

Fix tests
  examples/configs/data/adam_3d.yaml
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/image/__init__.py
  tests/helpers/data.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Tests

🔧 refactor(data): Polish 3dAdam dataset (#3002)
  CHANGELOG.md
  examples/configs/data/adam_3d.yaml
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/image/__init__.py
  tests/helpers/data.py
  tests/unit/data/datamodule/depth/test_adam_3d.py
Labels: Docs, Tests

revert examples
  docs/source/examples
Labels: Docs

revert file permissions
  examples/configs/model/fre.yaml
Labels: none

add thumbnails endpoint
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/services/media_service.py
Labels: none

add tests
  application/backend/tests/unit/endpoints/conftest.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

Add imagecodecs dependency
  pyproject.toml
Labels: Setup

Update changelog
  CHANGELOG.md
Labels: Docs

Apply suggestion from @samet-akcay
  src/anomalib/data/datasets/depth/adam_3d.py
Labels: none

generate thumbnails as background task
  application/backend/src/api/endpoints/media_endpoints.py
  application/backend/src/services/media_service.py
  application/backend/tests/unit/services/test_media_service.py
Labels: none

fix
  application/backend/src/main.py
Labels: none

Use full PR links
  CHANGELOG.md
Labels: Docs

update docstring
  application/backend/src/services/media_service.py
Labels: none

add test
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

add copyright
  application/backend/tests/unit/endpoints/test_trainable_models.py
Labels: none

Add authors in changelog
  CHANGELOG.md
Labels: Docs

Add openapi spec to gitignore
  app/ui/.gitignore
  app/ui/src/api/openapi-spec.d.ts
  app/ui/src/api/openapi-spec.json
Labels: none

Use error page
  app/ui/src/router.tsx
Labels: none

🧪 test(get-inspect): add unit tests for endpoints (#2942)
  app/backend/pyproject.toml
  app/backend/tests/__init__.py
  app/backend/tests/unit/__init__.py
  app/backend/tests/unit/conftest.py
  app/backend/tests/unit/endpoints/conftest.py
  app/backend/tests/unit/endpoints/test_jobs.py
  app/backend/tests/unit/endpoints/test_media.py
  app/backend/tests/unit/endpoints/test_models.py
  app/backend/tests/unit/endpoints/test_projects.py
Labels: none

Delete nginx and Dockerfile
  app/ui/Dockerfile
  app/ui/nginx.conf
Labels: none

🔧 chore(geti-inspect): Update Geti Inspect to react 19 (#2948)
  app/backend/run.sh
  app/backend/src/main.py
  app/ui/README.md
  app/ui/package-lock.json
  app/ui/package.json
Labels: none

🔧 chore(inspect): Add Githbu Action workflows for geti inspect (#2961)
  .github/workflows/geti-inspect.yaml
  .pre-commit-config.yaml
  app/backend/src/cli.py
  app/ui/.prettierignore
  app/ui/playwright.config.ts
  app/ui/src/components/error-page/error-page.tsx
  app/ui/src/components/stream/web-rtc-connection-provider.tsx
  app/ui/src/components/stream/web-rtc-connection.ts
  app/ui/src/components/zoom/use-container-size.ts
  app/ui/src/features/inference/aside.tsx
  app/ui/src/features/inference/source/source-form.tsx
  app/ui/src/features/inference/source/source-modal.tsx
  app/ui/src/features/inference/toolbar.tsx
  app/ui/src/msw-browser-setup.ts
  app/ui/tests/fixtures.ts
Labels: CI, Setup

🔧 chore(inspect): Update route structure and add openapi route (#2963)
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/public/mockServiceWorker.js
  app/ui/rsbuild.config.ts
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/inference.module.scss
  app/ui/src/features/inspect/stream/stream-container.tsx
  app/ui/src/features/inspect/stream/stream.tsx
  app/ui/src/features/inspect/toolbar.tsx
  app/ui/src/index.tsx
  app/ui/src/layout.tsx
  app/ui/src/msw-browser-setup.ts
  app/ui/src/router.tsx
  app/ui/src/routes/inspect/inspect.tsx
  app/ui/src/routes/openapi/openapi.module.scss
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

chore: Update package lock (#2967)
  app/ui/package-lock.json
Labels: none

🚀 feat(inspect): Add dataset list (#2971)
  app/ui/src/assets/icons/image.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/index.css
  app/ui/src/layout.tsx
Labels: none

feat: Add sidebar with dataset, models and stats (#2970)
  app/ui/src/assets/icons/dataset.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/assets/icons/models.svg
  app/ui/src/assets/icons/stats.svg
  app/ui/src/components/notification/notification.component.tsx
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/features/inspect/sidebar.module.scss
  app/ui/src/routes/inspect/inspect.tsx
  app/ui/tsconfig.json
Labels: none

🔧 chore(inspect): Update UI scripts (#2974)
  .github/workflows/geti-inspect.yaml
  app/ui/package.json
  app/ui/rsbuild.config.ts
  app/ui/src/api/utils.ts
  app/ui/src/setup-tests.ts
Labels: CI

🔧 chore(inspect): Configure project(s) mocks for playwright tests (#2978)
  app/ui/eslint.config.js
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/tests/fixtures.ts
  app/ui/tests/main.spec.ts
  app/ui/tests/tsconfig.json
  app/ui/tsconfig.json
Labels: none

🚀 feat(inspect): Add project management (#2977)
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.module.scss
  app/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.module.scss
  app/ui/src/hooks/index.ts
  app/ui/src/hooks/use-project-identifier.hook.ts
  app/ui/src/layout.tsx
  app/ui/src/router.tsx
  app/ui/tsconfig.json
Labels: none

🔧 chore(inspect): Update allowed origins so server can receive requests from the UI (#2980)
  app/backend/.gitignore
  app/backend/src/main.py
Labels: none

🔧 chore(inspect): Update openapi page (#2985)
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

🚀 feat(inspect): Allow user to upload images, train model and display training progress (#2984)
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset-list.component.tsx
  app/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/dataset/types.ts
  app/ui/src/features/inspect/dataset/utils.ts
  app/ui/src/index.css
Labels: none

refactor(inspect): Update photo placeholder to use indicator instead of email (#2990)
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
Labels: none

Fix path (#2993)
  application/backend/src/db/migration.py
Labels: none

🔄 refactor(inspect): Improvements to the jobs management and training (#2992)
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
