Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Added tests for the read_mask function
  tests/unit/data/utils/test_image.py
Labels: Tests

inital commit: Don't re-init buffer, inplace fill
  src/anomalib/models/components/base/memory_bank_module.py
Labels: none

implement patchcore memory savings
  src/anomalib/models/image/patchcore/lightning_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

fix: remove in-place operations causing errors during ONNX export with dynamic_axes
  src/anomalib/models/video/ai_vad/density.py
Labels: none

fix(model): remove in-place ops in CombinedDensityEstimator.predict for ONNX dynamic_axes export
  src/anomalib/models/video/ai_vad/density.py
Labels: none

deprecation warning for internal subsample_embedding of patchcore
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

PaDiM gpu memory usage reduction
  src/anomalib/models/image/padim/lightning_model.py
  src/anomalib/models/image/padim/torch_model.py
Labels: none

refactor memory bank tensor assignment for readability. dfkdde refactor
  src/anomalib/models/image/dfkde/lightning_model.py
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

unify memory bank models trainer arguments. refactor dfm to fit new memory bank framework
  src/anomalib/models/image/dfkde/lightning_model.py
  src/anomalib/models/image/dfm/lightning_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/lightning_model.py
  src/anomalib/models/image/patchcore/lightning_model.py
Labels: none

bugfix: padim device count set to zero
  src/anomalib/models/image/padim/lightning_model.py
Labels: none

fix(docs): replace problematic emojis with working alternatives
  .github/pull_request_template.md
  CONTRIBUTING.md
  PR_DESCRIPTION.md
  docs/source/markdown/guides/developer/contributing.md
Labels: CI, Docs

fix(ci): remove PR title check as prerequisite for other jobs
  .github/workflows/pr.yaml
Labels: CI

ensure buffer is not replaced but instead resized and filled
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

give memory bank type
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

revert memory bank mixin back
  src/anomalib/models/components/base/memory_bank_module.py
Labels: none

fix: update tensor initialization in CflowModel and correct image tensor handling in CaitFeatureExtractor
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/uflow/feature_extraction.py
Labels: none

to memory bank type and device
  src/anomalib/models/image/patchcore/torch_model.py
Labels: none

feat(dependencies): add video processing support and improve error handling
  pyproject.toml
  src/anomalib/data/utils/video.py
Labels: Setup

chore: remove PR_DESCRIPTION.md as part of CI workflow migration
  PR_DESCRIPTION.md
Labels: Docs

fix: update tensor initialization in CflowModel to use empty tensor
  src/anomalib/models/image/cflow/torch_model.py
Labels: none

fix: update tensor handling in PostProcessor for threshold and normalization metrics
  src/anomalib/post_processing/post_processor.py
Labels: none

Update src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mpdd.py
Labels: none

Update src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mpdd.py
Labels: none

Update tests/unit/data/datamodule/image/test_mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

update sample.yaml to match in docs
  tools/experimental/benchmarking/sample.yaml
Labels: Tools

update README to be runnable command on benchmarking
  README.md
Labels: Docs

🚀 feat(data): add MPDD dataset (#2785)
  examples/configs/data/mpdd.yaml
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/mpdd.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

fix(data): update sample list construction in MPDD dataset and refactor test datamodule variable names
  src/anomalib/data/datasets/image/mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

chore(license): update copyright and SPDX identifiers in MPDD files
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datasets/image/mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

🚀 feat(data): add MPDD dataset (#2815)
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datasets/image/mpdd.py
  tests/unit/data/datamodule/image/test_mpdd.py
Labels: Tests

docs: update README to clarify purpose of optional dependency groups
  README.md
Labels: Docs

refactor: simplify import statements by removing conditional checks for optional dependencies
  src/anomalib/models/components/dimensionality_reduction/random_projection.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/filters/blur.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/image/cfa/anomaly_map.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/cflow/lightning_model.py
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/cflow/utils.py
  src/anomalib/models/image/csflow/torch_model.py
  src/anomalib/models/image/draem/loss.py
  src/anomalib/models/image/dsr/loss.py
  src/anomalib/models/image/fastflow/torch_model.py
  src/anomalib/models/image/uflow/anomaly_map.py
  src/anomalib/models/image/uflow/feature_extraction.py
  src/anomalib/models/image/uflow/torch_model.py
Labels: none

upate __init__ defaults for mvtecad so cli works
  src/anomalib/data/datamodules/image/mvtecad2.py
Labels: none

change default type instead of changing default value
  src/anomalib/data/datamodules/image/mvtecad2.py
Labels: none

🔧 chore: add math import and update docstring in anomaly_map.py; enhance test file with a descriptive docstring
  src/anomalib/models/image/uflow/anomaly_map.py
  tests/unit/metrics/pimo/test_binary_classification_curve.py
Labels: Tests

🔧 chore: add math import and update docstring in anomaly_map.py; enhance test file with a descriptive docstring
  src/anomalib/models/image/vlm_ad/backends/huggingface.py
Labels: none

🔧 refactor: standardize tensor initialization across the codebase
  src/anomalib/data/datasets/base/video.py
  src/anomalib/metrics/pro.py
  src/anomalib/models/components/cluster/gmm.py
  src/anomalib/models/components/dimensionality_reduction/pca.py
  src/anomalib/models/components/stats/kde.py
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/models/image/uflow/feature_extraction.py
  src/anomalib/models/video/ai_vad/density.py
  src/anomalib/models/video/ai_vad/regions.py
  tests/unit/metrics/test_adaptive_threshold.py
  tests/unit/metrics/test_binning.py
  tests/unit/metrics/test_pro.py
  tests/unit/utils/callbacks/visualizer_callback/dummy_lightning_model.py
Labels: Tests

fix(tensor): replace Tensor with tensor for consistent tensor initialization
  src/anomalib/data/datasets/base/video.py
  src/anomalib/metrics/pro.py
  src/anomalib/models/components/cluster/gmm.py
  src/anomalib/models/components/dimensionality_reduction/pca.py
  src/anomalib/models/components/stats/kde.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/models/video/ai_vad/density.py
  src/anomalib/models/video/ai_vad/regions.py
  tests/unit/metrics/test_adaptive_threshold.py
  tests/unit/metrics/test_binning.py
  tests/unit/metrics/test_pro.py
  tests/unit/utils/callbacks/visualizer_callback/dummy_lightning_model.py
Labels: Tests

Working model
  examples/configs/model/uninet.yaml
  src/anomalib/models/image/uninet/anomaly_map.py
  src/anomalib/models/image/uninet/components/__init__.py
  src/anomalib/models/image/uninet/components/dfs.py
  src/anomalib/models/image/uninet/lightning_model.py
  src/anomalib/models/image/uninet/loss.py
  src/anomalib/models/image/uninet/torch_model.py
Labels: none

Fix pre-commit
  src/anomalib/models/image/uninet/LICENSE
  src/anomalib/models/image/uninet/__init__.py
  third-party-programs.txt
Labels: none
