Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

pass pytest
  tests/unit/models/image/patchflow/test_lightning_model.py
Labels: Tests

add test,config of patchflow. mod CHANGELOG.md
  CHANGELOG.md
  docs/source/images/patchflow/architecture.png
  examples/configs/model/patchflow.yaml
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/__init__.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_loss.py
  tests/unit/models/image/patchflow/test_torch_model.py
Labels: Docs, Tests

add patchflow
  .gitignore
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/patchflow/__init__.py
  src/anomalib/models/image/patchflow/anomaly_map.py
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: Setup

test(patchflow-dino): add new test and passed
  CHANGELOG.md
  examples/configs/model/patchflow.yaml
  examples/configs/model/patchflow_efficientnet.yaml
  src/anomalib/models/image/patchflow/lightning_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Docs, Tests

chore(lockfile): update uv lock (#3432)
  application/backend/uv.lock
  uv.lock
Labels: none

feat(dinomaly): add context-aware recentering option from dinomaly2
  examples/configs/model/dinomaly.yaml
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

fix(dinomaly): improve compatibility with Lightning's RichProgressBar for accurate epoch display
  src/anomalib/models/image/dinomaly/lightning_model.py
Labels: none

Removed train notification fix
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/train-model/train-model-button.component.tsx
Labels: none

Fixed copilot
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.module.scss
Labels: none

Fix startup project restoration
  application/backend/src/alembic/versions/1f4f5b1d9f6f_add_app_state_table.py
  application/backend/src/api/dependencies/__init__.py
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/api/endpoints/project_selection_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/project_selection.py
  application/backend/src/repositories/__init__.py
  application/backend/src/repositories/app_state_repo.py
  application/backend/src/services/__init__.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/endpoints/test_project_selection.py
  application/backend/tests/unit/services/test_project_selection_service.py
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/hooks/index.ts
  application/ui/src/hooks/use-project-selection.hook.test.tsx
  application/ui/src/hooks/use-project-selection.hook.ts
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/paths.ts
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

address review issues
  application/backend/data-local/anomalib_studio.db
  application/backend/src/api/dependencies/dependencies.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/repositories/__init__.py
  application/backend/src/services/__init__.py
  application/backend/tests/unit/services/test_project_selection_service.py
  application/ui/package-lock.json
  application/ui/src/hooks/use-project-selection.hook.test.tsx
Labels: none

test(application): mock startup project selection in Playwright
  application/ui/tests/fixtures.ts
Labels: none

fix(application): make startup project fallback deterministic
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/project_selection_service.py
  application/backend/tests/unit/services/test_project_selection_service.py
Labels: none

fix: Remove required attribute from name fields and update default names for sinks and sources configurations
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
Labels: none

style(patchflow-config-and-lightning_model,-test_torch_model): remove trailing-whitespace
  examples/configs/model/patchflow.yaml
  examples/configs/model/patchflow_efficientnet.yaml
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_torch_model.py
Labels: Tests

enable Rust in CodeQL
  .github/workflows/codeql.yml
Labels: CI

update Renovate config
  .github/renovate.json5
Labels: CI

chore(ci): enable Rust in CodeQL scan (#3442)
  .github/workflows/codeql.yml
Labels: CI

chore(ci): update Renovate config - add `cargo` support (#3443)
  .github/renovate.json5
Labels: CI

uninstall pip
  application/docker/Dockerfile
Labels: none

fix(config): add openvino to mypy skip-imports overrides
  pyproject.toml
Labels: Setup

update readme + changelog
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

address PR comments
  CHANGELOG.md
  README.md
Labels: Docs

chore(release): version bump (#3444)
  CHANGELOG.md
  README.md
  pyproject.toml
  src/anomalib/__init__.py
Labels: Docs, Setup

exclude setuptools/wheel
  application/docker/Dockerfile
Labels: none

chore: bump version to 2.4.0dev
  src/anomalib/__init__.py
Labels: none

address review
  application/docker/Dockerfile
Labels: none

chore: bump version to 2.4.0dev (#3445)
  src/anomalib/__init__.py
Labels: none

feat: finalize L2BT integration with CLI usage and config support
  examples/configs/model/l2bt.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/unit/models/image/l2bt/test_l2bt.py
Labels: Tests

refactor(data): expose synthetic blend factor and centralize perlin behavior
  docs/source/snippets/config/data/image/folder/classification/cli/normal_and_synthetic.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal_and_synthetic.yaml
  examples/configs/data/folder.yaml
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/datumaro.py
  src/anomalib/data/datamodules/image/folder.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/tabular.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/generators/__init__.py
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/models/image/dsr/anomaly_generator.py
  src/anomalib/models/image/supersimplenet/anomaly_generator.py
  tests/unit/data/datamodule/image/test_folder.py
  tests/unit/data/utils/test_perlin.py
  tests/unit/data/utils/test_synthetic.py
Labels: Docs, Tests

fixed lint errors
  application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/services/configuration_service.py
  application/docker/Dockerfile
Labels: none

Update application/backend/src/api/endpoints/source_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
Labels: none

added the tests
  application/backend/tests/unit/services/test_configuration_service.py
Labels: none

chore: remove pip from the base image (#3446)
  application/docker/Dockerfile
Labels: none

Update tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
Labels: Tests

Update src/anomalib/models/image/patchflow/torch_model.py
  src/anomalib/models/image/patchflow/torch_model.py
Labels: none

Update src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/lightning_model.py
Labels: none

Initial commit
  src/anomalib/models/image/inp_former/LICENSE
  src/anomalib/models/image/inp_former/README.md
  src/anomalib/models/image/inp_former/__init__.py
Labels: none

Add content read
  .github/workflows/release.yaml
Labels: CI

expose item material
  examples/configs/data/kaputt.yaml
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
