Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"

Zizmor remediation with archived prettier repo
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

Revert zizmor downgrade
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Labels: CI, Setup

fix(model): make models exportable with the dynamo ONNX exporter
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  src/anomalib/models/image/efficient_ad/torch_model.py
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  src/anomalib/models/image/rad/torch_model.py
  src/anomalib/models/image/uninet/components/anomaly_map.py
  src/anomalib/models/image/winclip/torch_model.py
  src/anomalib/models/image/winclip/utils.py
  src/anomalib/post_processing/post_processor.py
  tests/unit/deploy/test_export_mixin.py
  tests/unit/models/image/uninet/__init__.py
  tests/unit/models/image/uninet/test_anomaly_map.py
  tests/unit/models/image/winclip/test_utils.py
  tests/unit/post_processing/test_post_processor.py
Labels: Tests

test(model): use generated DTD textures for DRAEM integration tests
  tests/integration/model/test_models.py
Labels: Tests

test(model): cover real dynamo capture of export fixes
  tests/unit/deploy/test_export_mixin.py
  tests/unit/models/image/uninet/test_anomaly_map.py
  tests/unit/models/image/winclip/test_utils.py
Labels: Tests

Potential fix for pull request finding 'Update inaccurate Prettier hook suppression rationale'
  .pre-commit-config.yaml
Labels: Setup

Potential fix for pull request finding
  .github/renovate.json5
Labels: CI

test(model): use generated DTD textures for DRAEM integration tests (#3835)
  tests/integration/model/test_models.py
Labels: Tests

Fix zizmor self-repository findings
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/pr.yaml
  .github/workflows/publish-rc-app.yml
  .github/workflows/release-lib.yaml
  .github/workflows/security-checks.yaml
Labels: CI

test(model): share a torch.export helper instead of local wrapper classes
  tests/helpers/export.py
  tests/unit/models/image/uninet/test_anomaly_map.py
  tests/unit/models/image/winclip/test_utils.py
Labels: Tests

fix(model): make models exportable with the dynamo ONNX exporter (#3834)
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  src/anomalib/models/image/efficient_ad/torch_model.py
  src/anomalib/models/image/mh_patchcore/components.py
  src/anomalib/models/image/mh_patchcore/torch_model.py
  src/anomalib/models/image/rad/torch_model.py
  src/anomalib/models/image/uninet/components/anomaly_map.py
  src/anomalib/models/image/winclip/torch_model.py
  src/anomalib/models/image/winclip/utils.py
  src/anomalib/post_processing/post_processor.py
  tests/helpers/export.py
  tests/unit/deploy/test_export_mixin.py
  tests/unit/models/image/uninet/__init__.py
  tests/unit/models/image/uninet/test_anomaly_map.py
  tests/unit/models/image/winclip/test_utils.py
  tests/unit/post_processing/test_post_processor.py
Labels: Tests

Address semgrep issue
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/publish-rc-app.yml
Labels: CI

chore(model)!: remove deprecated APIs
  CHANGELOG.md
  README.md
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  src/anomalib/models/_legacy_compat.py
  src/anomalib/models/components/base/__init__.py
  src/anomalib/models/components/base/backward_compat.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/patchflow/lightning_model.py
  tests/unit/cli/test_installation.py
  tests/unit/deploy/test_export_mixin.py
  uv.lock
Labels: Docs, Setup, Tests

fix(cli): pick a built CUDA version and reject dynamo=False early
  application/backend/pyproject.toml
  src/anomalib/cli/utils/installation.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  tests/unit/cli/test_installation.py
  tests/unit/deploy/test_export_mixin.py
Labels: Tests

Bump up zizmor-pre-commit version
  .pre-commit-config.yaml
Labels: Setup

test(model): reuse ONNX exports in OpenVINO integration tests
  tests/integration/model/test_models.py
Labels: Tests

fix(model): decode CFlow rows in one pass when exporting
  src/anomalib/models/image/cflow/torch_model.py
  tests/unit/models/image/cflow/__init__.py
  tests/unit/models/image/cflow/test_torch_model.py
Labels: Tests

fix(model): use non-unit example sizes for dynamic export axes
  src/anomalib/models/components/base/export_mixin/mixin.py
  tests/unit/deploy/test_export_mixin.py
Labels: Tests

add support for binding
  src/anomalib/engine/engine.py
Labels: none

fix(sampling): avoid duplicate coreset indices for repeated features
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(model): decode CFlow rows in one pass when exporting (#3836)
  src/anomalib/models/image/cflow/torch_model.py
  tests/unit/models/image/cflow/__init__.py
  tests/unit/models/image/cflow/test_torch_model.py
Labels: Tests

fix(deps): require transformers>=4.40 to avoid backtracking to 4.12
  pyproject.toml
  uv.lock
Labels: Setup

fix(model): keep batch 1 for static exports; match to_openvino in cached test
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  tests/integration/model/test_models.py
  tests/unit/deploy/test_export_mixin.py
Labels: Tests

fix(deps): require transformers>=4.40 to avoid backtracking to 4.12 (#3840)
  pyproject.toml
  uv.lock
Labels: Setup

fix(engine): honor export shape and CI requirements
  application/backend/pyproject.toml
  application/backend/uv.lock
  src/anomalib/cli/utils/installation.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  tests/integration/model/test_models.py
  tests/unit/deploy/test_export_mixin.py
Labels: Tests

Revert $ syntax for local actions
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/publish-rc-app.yml
Labels: CI

fix(export): normalize custom dynamo shape specs
  src/anomalib/models/components/base/export_mixin/utils.py
Labels: none

Use absolute repo path for local actions
  .github/workflows/_reusable-test-suite.yaml
  .github/workflows/daily-docker-publish.yml
  .github/workflows/publish-rc-app.yml
Labels: CI

fix(studio): return pagination in projects mock
  application/ui/tests/fixtures.ts
Labels: none

Update copyright year in video_file_stream.py
  application/backend/src/entities/video_file_stream.py
Labels: none

Fix transformers low bound version in CI
  pyproject.toml
Labels: Setup

chore(model)!: remove deprecated APIs (#3826)
  CHANGELOG.md
  README.md
  application/backend/pyproject.toml
  application/backend/uv.lock
  application/ui/tests/fixtures.ts
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  src/anomalib/models/_legacy_compat.py
  src/anomalib/models/components/base/__init__.py
  src/anomalib/models/components/base/backward_compat.py
  src/anomalib/models/components/base/export_mixin/mixin.py
  src/anomalib/models/components/base/export_mixin/utils.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/dinomaly/lightning_model.py
  src/anomalib/models/image/inp_former/lightning_model.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/patchflow/lightning_model.py
  tests/integration/model/test_models.py
  tests/unit/cli/test_installation.py
  tests/unit/deploy/test_export_mixin.py
  uv.lock
Labels: Docs, Setup, Tests

Update uv.lock to match current dependencies
  application/backend/uv.lock
Labels: none

Update root uv.lock to match current dependencies
  uv.lock
Labels: none

update changelog and readme
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Apply batched suggestions from code review
  src/anomalib/models/__init__.py
  third-party-programs.txt
Labels: none

address PR comments
  CHANGELOG.md
  tests/integration/model/test_models.py
Labels: Docs, Tests

bump version
  src/anomalib/__init__.py
Labels: none

fix cargo deps
  application/binary/tauri/src-tauri/Cargo.lock
  application/binary/tauri/src-tauri/Cargo.toml
Labels: none

fix(studio): align Tauri npm versions
  application/binary/tauri/package-lock.json
  application/binary/tauri/package.json
Labels: none
