Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Update xpu.py
  src/anomalib/engine/accelerator/xpu.py
Labels: none

Fixed comments
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
  application/ui/src/features/inspect/train-model/utils/device-metadata.ts
Labels: none

Update application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/edit-source/edit-source.test.tsx
Labels: none

Update xpu.py with docstring
  src/anomalib/engine/accelerator/xpu.py
Labels: none

unselect dataset item
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/models/inference-devices.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
Labels: none

enable pipeline and webrtc
  application/ui/src/components/stream/web-rtc-connection-status.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

list inference devices and update pipeline
  application/ui/src/features/inspect/models/inference-devices.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
Labels: none

Use the selected device in the inference mutation
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/models/inference-devices.component.tsx
Labels: none

feat(inspect): Inference devices (#3106)
  application/ui/src/components/stream/web-rtc-connection-status.component.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/models/inference-devices.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/models/models.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

Update xpu.py with correct docstring
  src/anomalib/engine/accelerator/xpu.py
Labels: none

combine webRtc status and pipeline switch
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.module.scss
  application/ui/src/features/inspect/toolbar/pipeline-switch/web-rtc-connection-status.component.tsx
  application/ui/src/features/inspect/toolbar/sources/source-options.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

stream play enables the pipeline before starting the WebRTC
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/web-rtc-connection-status.component.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

Added hover effects
  application/ui/src/features/inspect/train-model/train-model.module.scss
Labels: none

Fixed linter
  application/ui/src/features/inspect/train-model/train-model.module.scss
Labels: none

autoplay stream
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/web-rtc-connection-status.component.tsx
  application/ui/src/setup-tests.ts
Labels: none

added name method for XPUAccelerator
  src/anomalib/engine/accelerator/xpu.py
Labels: none

Reworked effect hook
  application/ui/src/features/inspect/train-model/train-model-device-picker.component.tsx
Labels: none

Set validation spilt to synthetic
  application/backend/src/services/training_service.py
Labels: none

🐞 fix(application): set validation split to synthetic (#3111)
  application/backend/src/services/training_service.py
Labels: none

fix: support non-square input images in DinomalyModel
  src/anomalib/models/image/dinomaly/torch_model.py.bak
  uv.lock
Labels: none

fix: support non-square input images in DinomalyModel
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

Remove bak file
  src/anomalib/models/image/dinomaly/torch_model.py.bak
Labels: none

docs: fix docstring parameters in _process_features_for_spatial_output
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

update docstrings
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/__init__.py
Labels: none

change licesning with meta. Tensor is torch.Tensor. remove __future__.
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/attention.py
  src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/components/dinov2/layers/layer_scale.py
  src/anomalib/models/components/dinov2/layers/mlp.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
  tests/unit/models/components/dinov2/test_vit.py
Labels: Tests

add cdist instead of euclidean distance, divide by 2 for cosine and improve comments
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

add unit tests for anomalydino. change distance computation from cdist to matmul, work with half tensors
  src/anomalib/models/image/anomaly_dino/torch_model.py
  tests/unit/models/image/anomaly_dino/__init__.py
  tests/unit/models/image/anomaly_dino/test_torch_model.py
Labels: Tests

remove redundant euclidean distance
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

add tests for vit and dinov2loader
  tests/unit/models/components/dinov2/__init__.py
  tests/unit/models/components/dinov2/test_dinov2loader.py
  tests/unit/models/components/dinov2/test_vit.py
Labels: Tests

update docs for anomaly dino
  docs/source/markdown/guides/reference/models/image/anomaly_dino.md
  docs/source/markdown/guides/reference/models/image/index.md
  examples/configs/README.md
  examples/configs/model/anomaly_dino.yaml
Labels: Docs

add vit/dino implementation (no xformers). implement factory class for generating dinov2. update anomaly_dino to use factory method
  src/anomalib/models/components/dinov2/__init__.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/components/dinov2/layers/__init__.py
  src/anomalib/models/components/dinov2/layers/attention.py
  src/anomalib/models/components/dinov2/layers/block.py
  src/anomalib/models/components/dinov2/layers/dino_head.py
  src/anomalib/models/components/dinov2/layers/drop_path.py
  src/anomalib/models/components/dinov2/layers/layer_scale.py
  src/anomalib/models/components/dinov2/layers/mlp.py
  src/anomalib/models/components/dinov2/layers/patch_embed.py
  src/anomalib/models/components/dinov2/layers/swiglu_ffn.py
  src/anomalib/models/components/dinov2/vision_transformer.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

Add AnomalyDINO to model list. Also alphabetically re-order some models
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
Labels: none

add precision modifier
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

cleanup docstrings
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

remove fit comments. small typo of shape dimensions
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

fix(accelerator): Adding name method in XPUAccelerator (#3108)
  src/anomalib/engine/accelerator/xpu.py
Labels: none

init commit
  src/anomalib/models/image/anomaly_dino/__init__.py
  src/anomalib/models/image/anomaly_dino/lightning_model.py
  src/anomalib/models/image/anomaly_dino/torch_model.py
Labels: none

change dinov2loader to factory method, remove duplicated components from dinomaly
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/dinomaly/components/__init__.py
  src/anomalib/models/image/dinomaly/components/dinov2_loader.py
  src/anomalib/models/image/dinomaly/components/layers.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

add from_name back
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/dinomaly/components/vision_transformer.py
  src/anomalib/models/image/dinomaly/torch_model.py
Labels: none

update aupro for speedup, remove binning test case (we do not bin anymore
  src/anomalib/metrics/aupro.py
  tests/unit/metrics/aupro/test_aupro.py
Labels: Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
