Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

preview sidebar component
  application/ui/src/components/media-thumbnail/media-thumbnail.component.tsx
  application/ui/src/components/media-thumbnail/media-thumbnail.module.scss
  application/ui/src/components/media-thumbnail/media-thumbnail.test.tsx
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.component.tsx
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.module.scss
  application/ui/src/components/virtualizer-grid-layout/use-get-target-position.hook.test.tsx
  application/ui/src/components/virtualizer-grid-layout/use-get-target-position.hook.tsx
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.component.tsx
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.module.scss
  application/ui/src/components/virtualizer-grid-layout/virtualizer-grid-layout.test.tsx
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/dataset/media-preview/inference-result/label-score.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
Labels: none

shows inference result
  application/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.module.scss
Labels: none

update capture styles
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.component.tsx
  application/ui/src/components/virtualizer-grid-layout/grid-media-item/grid-media-item.module.scss
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/stream/stream.module.scss
  application/ui/src/features/inspect/stream/stream.tsx
Labels: none

Fixed comments
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/utils.ts
Labels: none

install nuqs
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/selected-media-item-provider.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

update unit tests
  application/ui/src/features/inspect/main-content/main-content.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/toolbar/pipeline-switch/pipeline-switch.test.tsx
Labels: none

avoid duplicate snapshot based on dataset timestamp
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/db/engine.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/repositories/dataset_snapshot_repo.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/dataset_snapshot_service.py
  application/backend/src/services/media_service.py
  application/backend/src/services/training_service.py
  application/backend/src/utils/callbacks.py
Labels: none

fix tests
  application/backend/src/services/training_service.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

Add XPU build
  application/.packaging/docker/Dockerfile
  application/.packaging/docker/README.md
  application/.packaging/docker/docker-compose.yml
  application/backend/.pre-commit-config.yaml
Labels: none

Fix conflicts
  application/.packaging/docker/docker-compose.yml
  application/ui/src/features/inspect/main-content/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/main-content/inference-result/inference-result.module.scss
  application/ui/src/features/inspect/models/inference-devices.component.tsx
  application/ui/src/features/inspect/selected-media-item-provider.component.tsx
  application/ui/src/features/inspect/toolbar/inference-opacity.tsx
Labels: none

Comment XPU settings
  application/.packaging/docker/docker-compose.yml
Labels: none

fix camera enum on macos
  application/backend/src/utils/devices.py
  application/backend/tests/unit/utils/test_devices.py
Labels: none

address comment
  application/backend/src/utils/devices.py
Labels: none

stash changes
  application/.packaging/binary/README.md
Labels: none

fix project name not updated
  application/backend/src/api/endpoints/project_endpoints.py
  application/backend/src/pydantic_models/__init__.py
  application/backend/src/pydantic_models/project.py
  application/backend/src/services/project_service.py
  application/ui/src/features/inspect/projects-management/projects-list.component.tsx
Labels: none

Apply suggestions from code review
  application/backend/src/pydantic_models/project.py
Labels: none

Use right parent class for registering the usage
  src/anomalib/cli/utils/help_formatter.py
Labels: none

add unit tests
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/util.tsx
Labels: none

add a new useMediaItemInference hook
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-opacity/inference-opacity.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/media-preview.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/providers/inference-opacity-provider.component.tsx
  application/ui/src/features/inspect/inference-provider.component.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/utils.ts
  application/ui/src/routes/inspect/inspect.tsx
Labels: none

reorder query
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/inference-result/inference-result.component.tsx
Labels: none

Updated dialog
  application/ui/src/assets/icons/index.ts
  application/ui/src/assets/icons/onnx.svg
  application/ui/src/assets/icons/openvino.svg
  application/ui/src/assets/icons/pytorch.svg
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
  application/ui/src/features/inspect/models/export-model-dialog.module.scss
Labels: none

Used mutation for model export
  application/ui/src/features/inspect/models/export-model-dialog.component.tsx
Labels: none

Add weights_only kwarg
  src/anomalib/cli/cli.py
  src/anomalib/engine/engine.py
Labels: none

Add missing weights_only kwarg
  src/anomalib/engine/engine.py
Labels: none

add snapshot download endpoint
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/snapshot_endpoints.py
  application/backend/src/db/schema.py
  application/backend/src/main.py
  application/backend/src/pydantic_models/dataset_snapshot.py
  application/backend/src/repositories/mappers/dataset_snapshot_mapper.py
  application/backend/src/services/active_pipeline_service.py
  application/backend/src/services/dataset_snapshot_service.py
Labels: none

fix snapshot timestamp and test
  application/backend/src/pydantic_models/dataset_snapshot.py
  application/backend/src/repositories/project_repo.py
  application/backend/src/services/dataset_snapshot_service.py
  application/backend/tests/unit/services/test_dataset_snapshot_service.py
Labels: none

remove camera macos workaround
  application/backend/pyproject.toml
  application/backend/src/utils/devices.py
  application/backend/uv.lock
Labels: none

use radio option for model list
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
Labels: none

displays fps
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.test.tsx
  application/ui/src/features/inspect/stream/stream.tsx
Labels: none

moves model picker to the pipeline config
  application/ui/mocks/mock-model.ts
  application/ui/src/features/inspect/dataset/dataset-list.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.test.tsx
  application/ui/src/features/inspect/toolbar/models-picker.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
  application/ui/src/features/inspect/toolbar/sources/webcam/webcam-fields.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
  application/ui/src/index.css
Labels: none

play and run inference hook
  application/ui/mocks/mock-metrics.ts
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.hook.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/stream/stream-container.tsx
  application/ui/src/features/inspect/stream/stream.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

set default model
  application/ui/src/features/inspect/footer/footer.component.tsx
Labels: none

address comments
  application/backend/src/api/dependencies.py
  application/backend/src/api/endpoints/snapshot_endpoints.py
  application/backend/src/services/dataset_snapshot_service.py
Labels: none

Update application/backend/src/api/dependencies.py
  application/backend/src/api/dependencies.py
Labels: none

rename to item
  application/backend/src/services/dataset_snapshot_service.py
Labels: none

fix test
  application/backend/tests/unit/utils/test_devices.py
Labels: none

model tab new look and feel
  application/ui/src/features/inspect/toolbar/models-list/model-list.module.scss
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/pipeline-configuration.component.tsx
Labels: none

3171 Add the active model to the model menu
  application/ui/src/features/inspect/footer/footer.component.tsx
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
  application/ui/src/features/inspect/models/models-view.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.component.tsx
  application/ui/src/features/inspect/toolbar/models-list/model-list.module.scss
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/hooks/use-pipeline.hook.ts
Labels: none

chore: update dependencies in pyproject.toml
  application/backend/pyproject.toml
  pyproject.toml
  uv.lock
Labels: Setup

Update prek references
  .github/workflows/_reusable-code-quality.yaml
  .github/workflows/pre_merge.yml
  CONTRIBUTING.md
  docs/source/markdown/guides/developer/contributing.md
  tests/README.md
  tox.ini
Labels: CI, Docs, Setup, Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
