Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

feat(ui): add warnings for active training jobs and device conflicts in TrainModelDialog
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
Labels: none

Pinned version
  .github/workflows/tauri-build.yaml
Labels: CI

Update .github/workflows/release-lib.yaml
  .github/workflows/release-lib.yaml
Labels: CI

fix(ci): increase severity level (#3502)
  .github/workflows/release-lib.yaml
Labels: CI

chore(release): prep for patch release (#3499)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

update version + fix release workflow
  .github/workflows/release-lib.yaml
  src/anomalib/__init__.py
Labels: CI

address PR comments
  .github/workflows/release-lib.yaml
Labels: CI

chore(lib): update version and fix release workflow (#3507)
  .github/workflows/release-lib.yaml
  src/anomalib/__init__.py
Labels: CI

fix(github-actions): Sidecar dependacies installation fix (#3495)
  .github/workflows/tauri-build.yaml
Labels: CI

chore(lib): replace deprecated APIs and fix resource leak
  src/anomalib/cli/utils/installation.py
  src/anomalib/data/utils/download.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/uninet/torch_model.py
  tests/unit/cli/test_installation.py
Labels: Tests

fix(sampling): include initial random point in PatchCore coreset selection
  src/anomalib/models/components/sampling/k_center_greedy.py
  tests/unit/models/components/sampling/__init__.py
  tests/unit/models/components/sampling/test_k_center_greedy.py
Labels: Tests

fix(data): handle SSL certificate verification failures in dataset download
  src/anomalib/data/utils/download.py
  tests/unit/data/utils/test_download.py
Labels: Tests

fix(data): use enum .value for pandas >= 3.0 DataFrame compatibility
  pyproject.toml
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/tabular.py
  tests/unit/data/utils/test_enum_compat.py
Labels: Setup, Tests

Add GeneralAD model integration
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/general_ad/LICENSE
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/__init__.py
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
Labels: Tests

Refine GeneralAD backbone and argument validation
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Fix GeneralAD lint issues
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

fix(general_ad): tighten backbone, layer, and parameter validation
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Align GeneralAD defaults with upstream setup
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
Labels: Tests

Keep frozen GeneralAD backbones in eval mode
  src/anomalib/models/image/general_ad/torch_model.py
Labels: none

Address PR comments
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/utils/path.py
  tests/unit/utils/test_path.py
Labels: Tests

feat(model): Make chnages to PatchFlow to make it ready for merging to main
  .gitignore
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/patchflow.md
  examples/configs/model/patchflow/dino.yaml
  examples/configs/model/patchflow/efficientnet.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/patchflow/README.md
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Docs, Setup, Tests

chore(changelog): revert changelog
  CHANGELOG.md
Labels: Docs

fix(data): use enum .value for pandas >= 3.0 DataFrame compatibility (#3512)
  pyproject.toml
  src/anomalib/data/datasets/depth/folder_3d.py
  src/anomalib/data/datasets/image/folder.py
  src/anomalib/data/datasets/image/tabular.py
  tests/unit/data/utils/test_enum_compat.py
Labels: Setup, Tests

fix(patchflow): address Copilot PR review comments
  src/anomalib/models/image/patchflow/README.md
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_torch_model.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Tests

Add uv.lock
  application/backend/uv.lock
  uv.lock
Labels: none

PR comments
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/unit/data/transforms/__init__.py
  tests/unit/data/transforms/test_square_pad.py
Labels: Tests

pin versions
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-version-bump.yaml
Labels: CI

remove workflow
  .github/workflows/pre_merge.yml
Labels: CI

fix(CI): update uv lock (#3518)
  application/backend/uv.lock
  uv.lock
Labels: none

Add metric numbers
  src/anomalib/models/image/l2bt/README.md
Labels: none

Apply suggestions from code review
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/lightning_model.py
  tests/unit/models/image/l2bt/test_l2bt.py
Labels: Tests

Remove dead code
  src/anomalib/models/image/l2bt/torch_model.py
Labels: none

address review
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-version-bump.yaml
Labels: CI

Address PR comments + cleanup
  src/anomalib/models/image/l2bt/anomaly_map.py
Labels: none

chore(ci): pin dependencies and remove unused workflow (#3519)
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/_reusable-pr-title-check.yaml
  .github/workflows/_reusable-version-bump.yaml
  .github/workflows/pre_merge.yml
Labels: CI

Move to more generic .agents folder
  .agents/skills/python-docstrings/SKILL.md
  .cursor/rules/python_docstrings.mdc
Labels: none

fix(benchmark): restore throughput and add inference microbench
  src/anomalib/pipelines/benchmark/job.py
  tests/integration/pipelines/pipeline.yaml
  tests/integration/pipelines/test_benchmark.py
  tools/experimental/benchmarking/sample.yaml
Labels: Tests, Tools

fix(benchmark): satisfy ruff in inference bench
  src/anomalib/pipelines/benchmark/job.py
Labels: none

Add gitleaks
  .pre-commit-config.yaml
  application/backend/.pre-commit-config.yaml
Labels: Setup

ci(precommit): add gitleaks (#3521)
  .pre-commit-config.yaml
  application/backend/.pre-commit-config.yaml
Labels: Setup

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
