Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

fix in dryrun_find_featuremap_dims: run the model in eval() so the weights of the model itself will not be modified
  src/anomalib/models/components/feature_extractors/utils.py
Labels: none

fix workers: stream loading + inference + dispatcher
  app/backend/src/api/dependencies.py
  app/backend/src/core/scheduler.py
  app/backend/src/main.py
  app/backend/src/pydantic_models/pipeline.py
  app/backend/src/repositories/base.py
  app/backend/src/services/active_pipeline_service.py
  app/backend/src/services/model_service.py
  app/backend/src/services/pipeline_service.py
  app/backend/src/webrtc/manager.py
  app/backend/src/workers/__init__.py
  app/backend/src/workers/dispatching.py
  app/backend/src/workers/inference.py
  app/backend/src/workers/stream_loading.py
Labels: none

chore: Update package lock
  app/ui/package-lock.json
Labels: none

fix sinks
  app/backend/src/core/scheduler.py
  app/backend/src/entities/stream_data.py
  app/backend/src/services/dispatchers/base.py
  app/backend/src/services/dispatchers/filesystem.py
  app/backend/src/services/dispatchers/mqtt.py
  app/backend/src/services/dispatchers/webhook.py
  app/backend/src/utils/visualization.py
  app/backend/src/workers/dispatching.py
  app/backend/src/workers/inference.py
  app/backend/src/workers/stream_loading.py
Labels: none

chore: Update package lock (#2967)
  app/ui/package-lock.json
Labels: none

chore: Add path alias to icons
  app/ui/src/assets/icons/dataset.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/assets/icons/models.svg
  app/ui/src/assets/icons/stats.svg
  app/ui/src/components/notification/notification.component.tsx
  app/ui/tsconfig.json
Labels: none

feat: Add sidebar with dataset, models and stats
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/features/inspect/sidebar.module.scss
  app/ui/src/routes/inspect/inspect.tsx
Labels: none

style
  app/backend/src/workers/inference.py
Labels: none

Fix imports
  src/anomalib/loggers/tensorboard.py
  src/anomalib/models/image/vlm_ad/backends/chat_gpt.py
Labels: none

ignore uv.lock in semgrep
  .github/actions/security/semgrep/action.yaml
Labels: CI

add unit tests and address comments
  app/backend/pyproject.toml
  app/backend/src/services/parent_process_guard.py
  app/backend/src/services/pipeline_service.py
  app/backend/src/webrtc/manager.py
  app/backend/src/workers/training.py
  app/backend/tests/unit/endpoints/test_pipelines.py
  app/backend/tests/unit/endpoints/test_sources_sinks.py
  app/backend/tests/unit/endpoints/test_webrtc.py
  app/backend/tests/unit/services/test_job_service.py
  app/backend/tests/unit/services/test_model_service.py
  app/backend/tests/unit/services/test_training_service.py
  app/backend/tests/unit/workers/test_stream_loading.py
  app/backend/uv.lock
Labels: none

add tests
  app/backend/tests/unit/endpoints/test_pipelines.py
  app/backend/tests/unit/services/test_configuration_service.py
  app/backend/tests/unit/services/test_pipeline_service.py
  app/backend/tests/unit/workers/test_training.py
Labels: none

fix example schema
  app/backend/src/pydantic_models/model.py
  app/backend/src/pydantic_models/pipeline.py
Labels: none

add todo
  app/backend/src/pydantic_models/source.py
Labels: none

Add test UI
  app/backend/test_ui/api.js
  app/backend/test_ui/index.html
  app/backend/test_ui/pipeline-control.js
  app/backend/test_ui/state.js
  app/backend/test_ui/ui.js
  app/backend/test_ui/webrtc.js
Labels: none

feat: Add sidebar with dataset, models and stats (#2970)
  app/ui/src/assets/icons/dataset.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/assets/icons/models.svg
  app/ui/src/assets/icons/stats.svg
  app/ui/src/components/notification/notification.component.tsx
  app/ui/src/features/inspect/aside.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/features/inspect/sidebar.module.scss
  app/ui/src/routes/inspect/inspect.tsx
  app/ui/tsconfig.json
Labels: none

chore: Remove learn more
  app/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

refactor: Fix scrollbar
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/layout.tsx
Labels: none

feat: Display placeholders for images
  app/ui/src/assets/icons/image.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/index.css
Labels: none

chore(inspect): Update UI scripts
  app/ui/package.json
Labels: none

🚀 feat(inspect): Add dataset list (#2971)
  app/ui/src/assets/icons/image.svg
  app/ui/src/assets/icons/index.ts
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/sidebar.component.tsx
  app/ui/src/index.css
  app/ui/src/layout.tsx
Labels: none

chore: Update github actions
  .github/workflows/geti-inspect.yaml
Labels: CI

chore: Update port to 8000
  app/ui/rsbuild.config.ts
  app/ui/src/api/utils.ts
  app/ui/src/setup-tests.ts
Labels: none

🔧 chore(inspect): Update UI scripts (#2974)
  .github/workflows/geti-inspect.yaml
  app/ui/package.json
  app/ui/rsbuild.config.ts
  app/ui/src/api/utils.ts
  app/ui/src/setup-tests.ts
Labels: CI

chore(inspect): Configure project(s) mocks for playwright
  app/ui/eslint.config.js
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/tests/fixtures.ts
  app/ui/tests/main.spec.ts
  app/ui/tests/tsconfig.json
  app/ui/tsconfig.json
Labels: none

🔧 chore(inspect): Configure project(s) mocks for playwright tests (#2978)
  app/ui/eslint.config.js
  app/ui/package-lock.json
  app/ui/package.json
  app/ui/tests/fixtures.ts
  app/ui/tests/main.spec.ts
  app/ui/tests/tsconfig.json
  app/ui/tsconfig.json
Labels: none

🚀 feat(dataset): add BMAD dataset to Anomalib (#2900)
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/__init__.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
Labels: none

chore: Add project route
  app/ui/src/router.tsx
Labels: none

revert ui lock change
  app/backend/uv.lock
Labels: none

feat: Add project management
  app/backend/uv.lock
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.module.scss
  app/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.module.scss
  app/ui/src/hooks/index.ts
  app/ui/src/hooks/use-project-identifier.hook.ts
  app/ui/src/layout.tsx
  app/ui/tsconfig.json
Labels: none

chore: Remove not needed code for project management
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.component.tsx
Labels: none

🚀 feat(inspect): Add project management (#2977)
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  app/ui/src/features/inspect/projects-management/project-list-item/project-list-item.module.scss
  app/ui/src/features/inspect/projects-management/projects-list-panel.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.component.tsx
  app/ui/src/features/inspect/projects-management/projects-list.module.scss
  app/ui/src/hooks/index.ts
  app/ui/src/hooks/use-project-identifier.hook.ts
  app/ui/src/layout.tsx
  app/ui/src/router.tsx
  app/ui/tsconfig.json
Labels: none

chore(inspect): Update allowed origins
  app/backend/.gitignore
  app/backend/src/main.py
Labels: none

🔧 chore(inspect): Update allowed origins so server can receive requests from the UI (#2980)
  app/backend/.gitignore
  app/backend/src/main.py
Labels: none

🧹 Polish dataset
  CHANGELOG.md
  docs/source/markdown/guides/reference/data/datamodules/image.md
  docs/source/markdown/guides/reference/data/datamodules/image/bmad.md
  docs/source/markdown/guides/reference/data/datamodules/image/index.md
  docs/source/markdown/guides/reference/data/datamodules/index.md
  examples/configs/README.md
  examples/configs/data/bmad.yaml
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/bmad.py
  tests/helpers/data.py
  tests/unit/data/datamodule/image/test_bmad.py
Labels: Docs, Tests

feat: List uploaded images
  app/backend/uv.lock
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.module.scss
  app/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

feat: Allow user to upload images
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset.component.tsx
Labels: none

chore: Extract components to separate files and add ready to train and training progress
  app/backend/uv.lock
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
  app/ui/src/features/inspect/dataset/dataset-list.component.tsx
  app/ui/src/features/inspect/dataset/dataset-status-panel.component.tsx
  app/ui/src/features/inspect/dataset/dataset.component.tsx
  app/ui/src/features/inspect/dataset/types.ts
  app/ui/src/features/inspect/dataset/utils.ts
  app/ui/src/index.css
Labels: none

chore: comment thumbnail url generation
  app/ui/src/features/inspect/dataset/dataset-item/dataset-item.component.tsx
Labels: none

chore(inspect): Update openapi page title
  app/ui/src/routes/openapi/openapi.tsx
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
