Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

remove deprecated items
  src/anomalib/callbacks/visualizer.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/metrics/aupro.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/base.py
  src/anomalib/metrics/utils.py
  src/anomalib/utils/visualization/__init__.py
  src/anomalib/utils/visualization/base.py
  src/anomalib/utils/visualization/explanation.py
  src/anomalib/utils/visualization/image.py
  src/anomalib/utils/visualization/metrics.py
  tests/unit/metrics/threshold/test_threshold.py
Labels: Tests

update(docs): restructure contributing guidelines for readability
  CONTRIBUTING.md
Labels: Docs

missing import
  src/anomalib/data/__init__.py
Labels: none

fix(feat): Source path overflow fix (#3436)
  application/ui/src/features/inspect/toolbar/sinks/sink-list/settings-list/settings-list.module.scss
  application/ui/src/features/inspect/toolbar/sources/source-list/settings-list/settings-list.module.scss
Labels: none

ci: add Docker tag pre-check and force input to RC app promotion workflow (#3468)
  .github/workflows/promote-rc-app-release.yml
Labels: CI

chore(library): remove deprecated MVTec dataset and dataloader, BaseThreshold, and BaseVisualizer (#3469)
  src/anomalib/callbacks/visualizer.py
  src/anomalib/data/__init__.py
  src/anomalib/data/datamodules/__init__.py
  src/anomalib/data/datamodules/image/__init__.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datasets/image/__init__.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/metrics/aupro.py
  src/anomalib/metrics/threshold/__init__.py
  src/anomalib/metrics/threshold/base.py
  src/anomalib/metrics/utils.py
  src/anomalib/utils/visualization/__init__.py
  src/anomalib/utils/visualization/base.py
  src/anomalib/utils/visualization/explanation.py
  src/anomalib/utils/visualization/image.py
  src/anomalib/utils/visualization/metrics.py
  tests/unit/metrics/threshold/test_threshold.py
Labels: Tests

Update .github/workflows/promote-rc-app-release.yml
  .github/workflows/promote-rc-app-release.yml
Labels: CI

Update src/anomalib/data/utils/synthetic.py
  src/anomalib/data/utils/synthetic.py
Labels: none

Fix prek check
  .github/workflows/promote-rc-app-release.yml
Labels: CI

add shortuuid to frontend + update tests
  application/backend/src/pydantic_models/base.py
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/services/metrics_service.py
  application/backend/src/utils/__init__.py
  application/backend/src/utils/short_uuid.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_media.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/endpoints/test_projects.py
  application/backend/tests/unit/endpoints/test_sources_sinks.py
  application/backend/tests/unit/services/test_configuration_service.py
  application/backend/tests/unit/services/test_dataset_snapshot_service.py
  application/backend/tests/unit/services/test_media_service.py
  application/backend/tests/unit/services/test_model_service.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/backend/tests/unit/services/test_video_service.py
  application/backend/uv.lock
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/projects-management/add-project-button/add-project-button.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/routes/welcome.tsx
  application/ui/src/utils/short-uuid.ts
Labels: none

fix checks
  application/backend/src/pydantic_models/base.py
  application/backend/src/utils/short_uuid.py
Labels: none

add changes
  pyproject.toml
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/mvtec_3d.py
  src/anomalib/data/datasets/image/kaputt.py
  src/anomalib/data/datasets/image/kolektor.py
  src/anomalib/data/datasets/image/mpdd.py
  src/anomalib/data/datasets/image/mvtec_loco.py
  src/anomalib/data/datasets/image/mvtecad.py
  src/anomalib/data/datasets/image/mvtecad2.py
  src/anomalib/data/datasets/image/realiad.py
  src/anomalib/data/datasets/image/vad.py
  src/anomalib/data/datasets/video/avenue.py
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/models/components/dinov2/dinov2_loader.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/utils/path.py
Labels: Setup

ci: Application RC promotion workflow (#3456)
  .github/workflows/promote-rc-app-release.yml
Labels: CI

add changes
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Update .github/workflows/release-lib.yaml
  .github/workflows/release-lib.yaml
Labels: CI

address PR comments
  .github/workflows/release-lib.yaml
  application/backend/src/settings.py
Labels: CI

chore(release): bump version and update changelogs (#3473)
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

Upload MSIX when RC App is published
  .github/workflows/publish-rc-app.yml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(model): use pooled features in Descriptor multi-scale fusion.
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

Upload MSIX when RC App is published
  .github/workflows/publish-rc-app.yml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(ci): fix release process (#3453)
  .github/workflows/_reusable-docker-build.yaml
  .github/workflows/_reusable-production-release-process.yaml
  .github/workflows/_reusable-rc-release-process.yaml
  .github/workflows/_reusable-release-publisher.yaml
  .github/workflows/_reusable-release-status.yaml
  .github/workflows/_reusable-release-validation.yaml
  .github/workflows/release-lib.yaml
  .github/workflows/release.yaml
  .github/workflows/tauri-build.yaml
  application/backend/src/pydantic_models/sink.py
  application/backend/src/pydantic_models/source.py
  application/backend/src/settings.py
  src/anomalib/models/components/classification/kde_classifier.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/utils/path.py
Labels: CI

remove cu124
  .github/actions/pytest/action.yaml
  .github/workflows/tauri-build.yaml
  README.md
  application/backend/pyproject.toml
  application/backend/uv.lock
  application/docker/Dockerfile
  examples/cli/00_installation/pip_install.sh
  examples/cli/00_installation/uv_install.sh
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
  uv.lock
Labels: CI, Docs, Setup, Tests

fix torch version
  application/backend/uv.lock
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
  uv.lock
Labels: Setup, Tests

remove comment + add torchcodec
  pyproject.toml
  uv.lock
Labels: Setup

update uv.lock
  application/backend/uv.lock
  uv.lock
Labels: none

Fix matrix job call
  .github/workflows/publish-rc-app.yml
Labels: CI

Update .github/workflows/tauri-build.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(model): use pooled features in Descriptor multi-scale fusion. (#3474)
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

Added job deleting
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/exceptions.py
  application/backend/src/services/job_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
Labels: none

Fixed comments
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_job_service.py
Labels: none

fix installation.py + set CI version to 12.6
  .github/actions/pytest/action.yaml
  src/anomalib/cli/utils/installation.py
Labels: CI

Add notebook + update dataset
  .pre-commit-config.yaml
  examples/configs/data/kaputt.yaml
  examples/notebooks/02_data/README.md
  examples/notebooks/02_data/datamodules/kaputt.ipynb
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
Labels: Setup

fix(deps): remove cu124 (#3476)
  .github/actions/pytest/action.yaml
  .github/workflows/tauri-build.yaml
  README.md
  application/backend/pyproject.toml
  application/backend/uv.lock
  application/docker/Dockerfile
  examples/cli/00_installation/pip_install.sh
  examples/cli/00_installation/uv_install.sh
  pyproject.toml
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
  uv.lock
Labels: CI, Docs, Setup, Tests

Address PR comments
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Tests

update docstrings + add deprecation warnings
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  tests/unit/utils/test_path.py
Labels: Tests

revert docstrings to match main
  src/anomalib/data/datamodules/depth/adam_3d.py
  src/anomalib/data/datamodules/depth/mvtec_3d.py
  src/anomalib/data/datamodules/image/bmad.py
  src/anomalib/data/datamodules/image/btech.py
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datamodules/image/kolektor.py
  src/anomalib/data/datamodules/image/mpdd.py
  src/anomalib/data/datamodules/image/mvtec_loco.py
  src/anomalib/data/datamodules/image/mvtecad.py
  src/anomalib/data/datamodules/image/mvtecad2.py
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/data/datamodules/image/vad.py
  src/anomalib/data/datamodules/image/visa.py
  src/anomalib/data/datamodules/video/avenue.py
  src/anomalib/data/datamodules/video/shanghaitech.py
  src/anomalib/data/datamodules/video/ucsd_ped.py
  src/anomalib/models/image/draem/lightning_model.py
Labels: none

fix shanghaitech docstring + draem dtd data download
  src/anomalib/data/datasets/video/shanghaitech.py
  src/anomalib/models/image/draem/lightning_model.py
Labels: none

Update src/anomalib/data/datasets/depth/adam_3d.py
  src/anomalib/data/datasets/depth/adam_3d.py
Labels: none

address PR comments + harden against path traversal attacks
  src/anomalib/data/datamodules/base/image.py
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/utils/path.py
Labels: none

docs(kaputt): add example notebook (#3484)
  .pre-commit-config.yaml
  examples/configs/data/kaputt.yaml
  examples/notebooks/02_data/README.md
  examples/notebooks/02_data/datamodules/kaputt.ipynb
  src/anomalib/data/datamodules/image/kaputt.py
  src/anomalib/data/datasets/image/kaputt.py
  tests/unit/data/datamodule/image/test_kaputt.py
Labels: Setup, Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
