Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Adjusted hint for JobNotDeletableException
  application/backend/src/exceptions.py
Labels: none

update dockercompose
  application/backend/uv.lock
  application/docker/docker-compose.yml
Labels: none

Update documentation
  application/docker/README.md
Labels: none

refactor: redesign image_size handling via pre_processor as per review
  src/anomalib/cli/cli.py
Labels: none

add host to cuda compose file
  application/docker/docker-compose.cuda.yaml
Labels: none

update default values
  application/docker/README.md
  application/docker/docker-compose.cuda.yaml
  application/docker/docker-compose.yml
Labels: none

Update tests/unit/models/image/patchflow/test_torch_model_dino.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Tests

Update src/anomalib/models/image/patchflow/__init__.py
  src/anomalib/models/image/patchflow/__init__.py
Labels: none

Update src/anomalib/models/image/patchflow/anomaly_map.py
  src/anomalib/models/image/patchflow/anomaly_map.py
Labels: none

Update src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/lightning_model.py
Labels: none

minor changes of copyright and default cropsize
  examples/configs/model/patchflow.yaml
  src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/__init__.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_loss.py
  tests/unit/models/image/patchflow/test_torch_model.py
Labels: Tests

Apply suggestions from code review
  application/docker/README.md
Labels: none

Apply suggestions from code review
  application/docker/README.md
Labels: none

feat(UI): Job deleting (#3483)
  application/backend/src/api/endpoints/job_endpoints.py
  application/backend/src/exceptions.py
  application/backend/src/services/job_service.py
  application/backend/tests/unit/endpoints/test_jobs.py
  application/backend/tests/unit/services/test_job_service.py
  application/ui/src/features/inspect/models/model-actions-menu.component.tsx
Labels: none

move host from args to env
  application/docker/docker-compose.cuda.yaml
  application/docker/docker-compose.yml
Labels: none

fix readthedocs build
  .readthedocs.yaml
  pyproject.toml
Labels: Setup

update readthedocs to use uv
  .readthedocs.yaml
  pyproject.toml
Labels: Setup

update uv.lock + fix dev version
  application/backend/uv.lock
  src/anomalib/__init__.py
  uv.lock
Labels: none

Apply suggestions from code review
  src/anomalib/__init__.py
Labels: none

fix(ci): fix readthedocs build (#3490)
  .readthedocs.yaml
Labels: none

feat(models): add L2BT anomaly detection model (#3410)
  .gitignore
  docs/source/images/l2bt/architecture.jpg
  examples/configs/model/l2bt.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/students.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/unit/models/image/l2bt/test_l2bt.py
Labels: Docs, Setup, Tests

update version
  src/anomalib/__init__.py
Labels: none

🚀 feat(model): integrate patchflow with dino and efficientnet backbones into anomalib (#3433)
  .gitignore
  CHANGELOG.md
  docs/source/images/patchflow/architecture.png
  examples/configs/model/patchflow.yaml
  examples/configs/model/patchflow_efficientnet.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/patchflow/__init__.py
  src/anomalib/models/image/patchflow/anomaly_map.py
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/__init__.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_loss.py
  tests/unit/models/image/patchflow/test_torch_model.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Docs, Setup, Tests

chore(docs): update documentation and expose HOST in docker compose (#3486)
  application/backend/uv.lock
  application/docker/README.md
  application/docker/docker-compose.cuda.yaml
  application/docker/docker-compose.yml
  src/anomalib/__init__.py
  uv.lock
Labels: none

cleanup model
  .gitignore
  CHANGELOG.md
  examples/configs/model/l2bt.yaml
  src/anomalib/data/transforms/__init__.py
  src/anomalib/data/transforms/square_pad.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/teacher.py
Labels: Docs, Setup

fix changelog
  CHANGELOG.md
Labels: Docs

cleanup .gitignore
  .gitignore
Labels: Setup

Fixed sidecar installation
  .github/workflows/tauri-build.yaml
Labels: CI

add npm audit
  .github/workflows/npm-audit-fix.yml
Labels: CI

remove vuln flag
  .github/workflows/_reusable-security-scan.yaml
Labels: CI

add lfs
  .github/workflows/npm-audit-fix.yml
Labels: CI

chore(ci): add `npm-audit-fix` workflow (#3496)
  .github/workflows/_reusable-security-scan.yaml
  .github/workflows/npm-audit-fix.yml
Labels: CI

update branch
  .github/workflows/npm-audit-fix.yml
  .github/workflows/security-checks.yaml
Labels: CI

fix(ci): update branch in security workflow (#3497)
  .github/workflows/npm-audit-fix.yml
  .github/workflows/security-checks.yaml
Labels: CI

fix npm audit fix workflow
  .github/workflows/npm-audit-fix.yml
Labels: CI

prep releases
  CHANGELOG.md
  README.md
  src/anomalib/__init__.py
Labels: Docs

fix(ci): fix npm audit fix workflow (#3498)
  .github/workflows/npm-audit-fix.yml
Labels: CI

fix: restore kaputt.ipynb as proper LFS pointer
  examples/notebooks/02_data/datamodules/kaputt.ipynb
Labels: none

fix: restore kaputt.ipynb as LFS pointer (#3500)
  examples/notebooks/02_data/datamodules/kaputt.ipynb
Labels: none

increase severity level
  .github/workflows/release-lib.yaml
Labels: CI

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
