Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

chore: update Anomalib Studio CODEOWNERS
  .github/CODEOWNERS
Labels: CI

chore(github): update Anomalib Studio CODEOWNERS (#3743)
  .github/CODEOWNERS
Labels: CI

🚀 feat(data): Split model architecture & name (#3740)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/cli.py
  application/backend/src/db/schema.py
  application/backend/src/pydantic_models/job.py
  application/backend/src/pydantic_models/model.py
  application/backend/src/services/model_service.py
  application/backend/src/services/training_service.py
  application/backend/tests/unit/conftest.py
  application/backend/tests/unit/endpoints/test_models.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_model_service_export.py
  application/backend/tests/unit/services/test_pipeline_metrics_service.py
  application/backend/tests/unit/services/test_pipeline_service.py
  application/backend/tests/unit/services/test_training_service.py
  application/ui/mocks/mock-model.ts
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
Labels: none

docs: fix broken documentation links
  README.md
  examples/notebooks/01_getting_started/README.md
  examples/notebooks/02_data/README.md
  examples/notebooks/03_models/README.md
  examples/notebooks/07_deployment/README.md
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/loggers/wandb.py
Labels: Docs

chore(model): use native padding in FastFlow (#3742)
  src/anomalib/models/image/fastflow/torch_model.py
Labels: none

handle exception during sink dispatcher initialization
  application/backend/src/services/dispatch_service.py
Labels: none

Use persistent %LOCALAPPDATA%/Intel/Anomalib folder for data storage
  application/binary/sidecar/hooks/windows/uwp.py
Labels: none

Addressed comments
  application/binary/sidecar/hooks/windows/uwp.py
Labels: none

Addressed comments
  application/binary/sidecar/hooks/windows/uwp.py
Labels: none

Fix log message
  application/binary/sidecar/hooks/windows/uwp.py
Labels: none

feat(data): Use persistent %LOCALAPPDATA%/Intel/AnomalibStudio folder for data storage (#3744)
  application/binary/sidecar/hooks/windows/uwp.py
Labels: none

Addressed comments
  application/backend/src/core/logging/utils.py
  application/backend/tests/unit/endpoints/test_pipelines.py
  application/backend/tests/unit/services/test_training_service.py
Labels: none

add toast component
  application/ui/src/components/toast/toast.component.tsx
  application/ui/src/components/toast/toast.module.scss
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/router.tsx
  application/ui/tsconfig.json
Labels: none

fix ts errors
  application/ui/mocks/mock-model.ts
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/components/toast/toast.component.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/router.tsx
Labels: none

feat(ui): geti-ui migration - p1 (#3745)
  application/ui/mocks/mock-model.ts
  application/ui/mocks/mock-pipeline.ts
  application/ui/src/components/toast/toast.component.tsx
  application/ui/src/components/toast/toast.module.scss
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.component.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/features/inspect/stream/hook/use-auto-play-stream.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/router.tsx
  application/ui/tsconfig.json
Labels: none

📚 docs: fix broken documentation links (#3746)
  README.md
  examples/notebooks/01_getting_started/README.md
  examples/notebooks/02_data/README.md
  examples/notebooks/03_models/README.md
  examples/notebooks/07_deployment/README.md
  src/anomalib/data/datamodules/image/realiad.py
  src/anomalib/loggers/wandb.py
Labels: Docs

using loguru instead of logging
  application/backend/src/services/dispatch_service.py
  application/backend/src/workers/dispatching.py
Labels: none

esling config
  application/ui/eslint.config.js
  application/ui/eslint.shared.config.js
  application/ui/src/routes/inspect/inspect.tsx
  application/ui/tsconfig.json
Labels: none

feat(ui): geti-ui migration - p2 (#3751)
  application/ui/eslint.config.js
  application/ui/eslint.shared.config.js
  application/ui/src/routes/inspect/inspect.tsx
  application/ui/tsconfig.json
Labels: none

bump
  pyproject.toml
  uv.lock
Labels: Setup

review
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

add seed to rng
  tests/unit/deploy/test_inferencer.py
Labels: Tests

chore(deps): bump torch (#3752)
  application/backend/uv.lock
  pyproject.toml
  uv.lock
Labels: Setup

chore(test): add seed to rng (#3757)
  tests/unit/deploy/test_inferencer.py
Labels: Tests

fix title check
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

fix(ci): fix title check (#3758)
  .github/workflows/_reusable-pr-title-check.yaml
Labels: CI

chore(typing): remove type-only references to wandb's removed RunDisabled class (#3739)
  src/anomalib/loggers/wandb.py
Labels: none

upgrade to react-router-v7
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/providers.tsx
Labels: none

use react-router-dom
  application/ui/src/components/error-page/error-page.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/providers.tsx
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

upgrade to react-router-v8
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/components/error-page/error-page.tsx
  application/ui/src/features/inspect/dataset/delete-dataset-item/delete-media-item.component.test.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-actions/project-list-actions.test.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.component.tsx
  application/ui/src/features/inspect/projects-management/project-list-item/project-list-item.test.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/toolbar/anomaly-map/anomaly-map.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/global.d.ts
  application/ui/src/hooks/use-project-identifier.hook.ts
  application/ui/src/providers.tsx
  application/ui/src/routes/layout.tsx
  application/ui/src/routes/openapi/openapi.tsx
  application/ui/src/routes/router.tsx
  application/ui/src/routes/welcome.tsx
Labels: none

fix ts error
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/components/status-tag/status-tag.component.tsx
  application/ui/src/features/inspect/dataset/hooks/use-get-media-items.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/hooks/use-media-item-inference.hook.tsx
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/features/inspect/dataset/upload-images.component.tsx
  application/ui/src/features/inspect/projects-management/hooks/use-get-project.hooks.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sinks.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-get-sources.hooks.tsx
  application/ui/src/features/inspect/toolbar/sinks/hooks/use-sink-mutation.hook.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/features/inspect/train-model/trainable-model-list-box.test.tsx
  application/ui/src/hooks/use-get-models.hook.tsx
Labels: none

fix tests
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/providers.tsx
Labels: none

rsbuild update
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/rsbuild.config.ts
Labels: none

fix(data): treat seed=0 as a valid seed in random_split (#3738)
  src/anomalib/data/utils/split.py
  tests/unit/data/utils/test_split.py
Labels: Tests

chore(deps): upgrade to react-router-v8 (#3759)
  application/ui/package-lock.json
  application/ui/package.json
  application/ui/src/features/inspect/dataset/media-preview/sidebar-items/sidebar-items.test.tsx
  application/ui/src/features/inspect/footer/status-bar/adapters/training-status.adapter.test.tsx
  application/ui/src/features/inspect/main-content/main-content.test.tsx
  application/ui/src/features/inspect/sidebar.component.tsx
  application/ui/src/features/inspect/stream/fps/fps.test.tsx
  application/ui/src/features/inspect/stream/stream-container.test.tsx
  application/ui/src/features/inspect/toolbar/anomaly-map/anomaly-map.test.tsx
  application/ui/src/features/inspect/toolbar/inference-devices/inference-devices.component.test.tsx
  application/ui/src/features/inspect/toolbar/models-list/models-list.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.test.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.component.tsx
  application/ui/src/features/inspect/train-model/train-model-dialog.test.tsx
  application/ui/src/global.d.ts
  application/ui/src/hooks/use-project-identifier.hook.ts
  application/ui/src/providers.tsx
  application/ui/src/routes/openapi/openapi.tsx
  application/ui/src/routes/router.tsx
Labels: none

Replace Sklearn with optimized PyTorch KMeans in CFA
  src/anomalib/models/components/cluster/kmeans.py
  src/anomalib/models/image/cfa/torch_model.py
Labels: none

TogglePipeline button
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.hook.tsx
  application/ui/src/features/inspect/main-content/hooks/use-ensure-active-pipeline.test.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.test.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
Labels: none

onError message
  application/ui/src/features/inspect/toolbar/toggle-pipeline-button/toggle-pipeline-button.component.tsx
  application/ui/src/features/inspect/toolbar/toolbar.tsx
  application/ui/src/hooks/use-is-pipeline-configured.hook.ts
Labels: none

Add darwin support
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

fix(application): add darwin support (#3764)
  application/backend/pyproject.toml
  application/backend/uv.lock
Labels: none

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
