Repository open-edge-platform/anomalib, changes with the labels that .github/labeler.yml gives for each.
All labels: Config, Callbacks, CI, CLI, Data, Dependencies, Docs, Inference, Logger, Metrics, Notebooks, Setup, Tests, Tools

Add checks to release branch
  .github/workflows/codeql.yml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

chore(ci): add checks to release branch (#3533)
  .github/workflows/codeql.yml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

Add release to codeql
  .github/workflows/codeql.yml
Labels: CI

Address PR comments + add entry to docs
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/l2bt.md
  src/anomalib/data/transforms/center_crop.py
  src/anomalib/data/transforms/square_pad.py
  src/anomalib/models/image/l2bt/anomaly_map.py
Labels: Docs

feat(models): add GeneralAD image model integration (#3513)
  docs/source/images/general_ad/architecture.jpg
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/general_ad/LICENSE
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/__init__.py
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
  third-party-programs.txt
Labels: Docs, Tests

Address PR comments
  src/anomalib/models/__init__.py
  src/anomalib/models/image/l2bt/anomaly_map.py
Labels: none

update model list + update readme and changelog + address prek issues
  CHANGELOG.md
  src/anomalib/models/__init__.py
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
Labels: Docs

Fix prek
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/torch_model.py
Labels: none

refactor based on PR comment
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/test_model_utils.py
Labels: Tests

feat(visualization): move bounding box function to functional.py
  src/anomalib/visualization/image/functional.py
Labels: none

fix(visualization): remove bounding box fn from item_visualizer, moved to functional
  src/anomalib/visualization/image/item_visualizer.py
Labels: none

feat(models): add GeneralAD image model integration (#3513) (#3534)
  CHANGELOG.md
  docs/source/images/general_ad/architecture.jpg
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/general_ad/LICENSE
  src/anomalib/models/image/general_ad/README.md
  src/anomalib/models/image/general_ad/__init__.py
  src/anomalib/models/image/general_ad/lightning_model.py
  src/anomalib/models/image/general_ad/torch_model.py
  tests/unit/models/image/general_ad/test_torch_model.py
  tests/unit/models/test_model_utils.py
  third-party-programs.txt
Labels: Docs, Tests

feat(models): add L2BT anomaly detection model (#3491)
  CHANGELOG.md
  docs/source/images/l2bt/architecture.jpg
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/l2bt.md
  examples/configs/model/l2bt.yaml
  src/anomalib/data/transforms/__init__.py
  src/anomalib/data/transforms/center_crop.py
  src/anomalib/data/transforms/square_pad.py
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/l2bt/README.md
  src/anomalib/models/image/l2bt/__init__.py
  src/anomalib/models/image/l2bt/anomaly_map.py
  src/anomalib/models/image/l2bt/lightning_model.py
  src/anomalib/models/image/l2bt/students.py
  src/anomalib/models/image/l2bt/teacher.py
  src/anomalib/models/image/l2bt/torch_model.py
  tests/unit/data/transforms/__init__.py
  tests/unit/data/transforms/test_square_pad.py
  tests/unit/models/image/l2bt/test_l2bt.py
Labels: Docs, Tests

Fix inputs.accelerator
  .github/workflows/tauri-build.yaml
Labels: CI

⚡ perf(cli): lazy imports and deferred subcommand parser construction
  src/anomalib/cli/cli.py
  src/anomalib/cli/pipelines.py
  src/anomalib/cli/utils/help_formatter.py
Labels: none

⚡ perf(loggers): lazy-load optional logger backends
  src/anomalib/loggers/__init__.py
Labels: none

⚡ perf(cli): replace module_available with find_spec and fix rich-argparse 1.7 compat
  src/anomalib/cli/cli.py
  src/anomalib/cli/pipelines.py
  src/anomalib/cli/utils/help_formatter.py
Labels: none

⚡ perf(core): lazy __init__.py re-exports for models, data, and engine
  src/anomalib/data/__init__.py
  src/anomalib/engine/__init__.py
  src/anomalib/models/__init__.py
Labels: none

🔧 fix(cli): address PR review comments
  src/anomalib/cli/cli.py
  src/anomalib/cli/pipelines.py
  src/anomalib/loggers/__init__.py
  src/anomalib/models/__init__.py
Labels: none

fix(benchmark): restore throughput benchmarking with Torch and OpenVINO inferencer support
  src/anomalib/pipelines/benchmark/job.py
  src/anomalib/pipelines/benchmark/pipeline.py
  src/anomalib/pipelines/benchmark/utils.py
  tests/integration/pipelines/test_benchmark.py
Labels: Tests

fix(UI): Default names for sinks and sources (#3440)
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
Labels: none

address PR comments
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
Labels: none

address PR comments
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/mqtt-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/webhook-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/ip-camera/ip-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/video-file-fields.component.tsx
Labels: none

missing whitespace
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/local-folder-fields.component.tsx
Labels: none

pin workflow
  .github/workflows/copilot-setup-steps.yml
Labels: CI

add workflows + update copilot instructions
  .github/aw/actions-lock.json
  .github/copilot-instructions.md
  .github/workflows/agents-md-sync.lock.yml
  .github/workflows/agents-md-sync.md
  .github/workflows/docs-sync.lock.yml
  .github/workflows/docs-sync.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Labels: CI

Initialize repository for GitHub Agentic Workflows
  .gitattributes
  .github/agents/agentic-workflows.agent.md
  .github/workflows/copilot-setup-steps.yml
Labels: CI, Setup

Apply suggestions from code review
  .github/workflows/issue-triage.md
Labels: CI

run prek
  .github/workflows/issue-triage.md
Labels: CI

regenerate lock
  .github/workflows/docs-sync.lock.yml
Labels: CI

prek
  .github/workflows/agents-md-sync.md
Labels: CI

feat(ci): add agentic workflow (#3537)
  .gitattributes
  .github/agents/agentic-workflows.agent.md
  .github/aw/actions-lock.json
  .github/copilot-instructions.md
  .github/workflows/agents-md-sync.lock.yml
  .github/workflows/agents-md-sync.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docs-sync.lock.yml
  .github/workflows/docs-sync.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Labels: CI, Setup

drop usememo
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
Labels: none

fix zizmor findings
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

fix test
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
Labels: none

address review
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

fix(UI): application default name (#3440) (#3536)
  application/backend/src/alembic/versions/7a213a27d666_initial_schema.py
  application/backend/src/api/endpoints/sink_endpoints.py
  application/backend/src/api/endpoints/source_endpoints.py
  application/ui/src/features/inspect/toolbar/sinks/local-folder-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/mqtt-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sinks/webhook-fields/utils.ts
  application/ui/src/features/inspect/toolbar/sources/add-source/add-source.test.tsx
  application/ui/src/features/inspect/toolbar/sources/image-folder/utils.ts
  application/ui/src/features/inspect/toolbar/sources/ip-camera/utils.ts
  application/ui/src/features/inspect/toolbar/sources/usb-camera/usb-camera-fields.component.tsx
  application/ui/src/features/inspect/toolbar/sources/video-file/utils.ts
Labels: none

fix(ci): address Zizmor findings (#3538)
  .github/workflows/_reusable-artifact-builder.yaml
  .github/workflows/anomalib-studio.yaml
  .github/workflows/pr.yaml
  .github/workflows/tauri-build.yaml
Labels: CI

feat(models): add 'patchflow' model to the list of available models
  src/anomalib/models/__init__.py
Labels: none

feat(model): Make changes to PatchFlow to make it ready for merging to main (#3515)
  docs/source/images/patchflow/architecture.png
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/patchflow.md
  examples/configs/model/patchflow/dino.yaml
  examples/configs/model/patchflow/efficientnet.yaml
  src/anomalib/models/__init__.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/patchflow/README.md
  src/anomalib/models/image/patchflow/__init__.py
  src/anomalib/models/image/patchflow/anomaly_map.py
  src/anomalib/models/image/patchflow/lightning_model.py
  src/anomalib/models/image/patchflow/loss.py
  src/anomalib/models/image/patchflow/torch_model.py
  tests/unit/models/image/patchflow/__init__.py
  tests/unit/models/image/patchflow/test_anomaly_map.py
  tests/unit/models/image/patchflow/test_lightning_model.py
  tests/unit/models/image/patchflow/test_lightning_model_dino.py
  tests/unit/models/image/patchflow/test_loss.py
  tests/unit/models/image/patchflow/test_torch_model.py
  tests/unit/models/image/patchflow/test_torch_model_dino.py
Labels: Docs, Tests

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

Config:
  - "configs/**/*"

Callbacks:
  - "anomalib/callbacks/**/*"

CI:
  - ".github/**/*"
  - "tox.ini"

CLI:
  - "anomalib/cli/**/*"

Data:
  - "anomalib/data/**/*"

Dependencies:
  - "requirements/*"

Docs:
  - "docs/**/*"
  - "*.md"

Inference:
  - "anomalib/deploy/**/*"
  - "tools/inference/*"

Logger:
  - "anomalib/loggers/**/*"

Metrics:
  - "anomalib/metrics/**/*"

Notebooks:
  - "notebooks/**/*"

Setup:
  - "**/setup.py"
  - "*.git*"
  - ".pre-commit-config.yaml"
  - "*rc"
  - "*.in"
  - "*.ini"
  - "pyproject.toml"

Tests:
  - "tests/**/*"

Tools:
  - "tools/**/*"
